[2017-10-20 03:27] miaout17 opened #6 "Inference results of Inception V3 are NaNs"
We tried **tr\_coreml** on both MobileNet and InceptionV3. It works well with
MobileNet end to end (including conversion and inference). However, the
inference results are all NaNs with InceptionV3.

## Steps to reproduce

1.  Download and setup [tf\_coreml][tf_coreml] Library.
1.  Download the frozen [InceptionV3 model][InceptionV3 model] published by Google in 2016.
1.  Run the tf\_coreml tool t

[2017-10-20 03:35] miaout17 opened #7 "ValueError: max() arg is an empty sequence - when converting Inception model"
tf_to_coreml raises an error when trying to convert [Inception Model](http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz)
released by Google in 2015.

Notice that the model file is different from the one in the [other bug](https://github.com/tf-coreml/tf-coreml/issues/6).

The Python code:

[code]

The error message is:

[code]

[2017-10-29 19:39] aseemw opened #12 "Handling of Dilated Conv and SpaceToBatchND/BatchToSpaceND"
These are currently skipped in the converter but this is not the correct behavior. This is will lead to converted .mlmodel files but its highly likely that they will be incorrect. Since BatchToSpaceND  is not supported by CoreML, converter should error out.

[2017-10-29 19:42] aseemw opened #13 "tf.max op"
Add support for tf.max op in the converter.

[2017-10-30 20:38] aseemw opened #14 "Error out early if TF graph not supported"
Check the list of ops in the graph, error out even before converting, if an op is not supported. Along with the message that the user can try using the Graph transform tool to simplify the graph and try the converter again.

[2017-10-30 22:31] #6 closed, assigned to aseemw

[2017-10-31 21:35] aseemw opened #19 "CoreML graph optimization"
Add an optimization that removes disconnected sub-graphs which are not involved in the computation of the output node. An example: "test_flatten" Keras nosetest. the graph in that nosetest has a disconnected component which should be removed after this optimization.

[2017-11-01 15:32] #19 closed, assigned to aseemw

[2017-11-01 21:08] aseemw opened #24 "Error making the wheel"
On lastest master:
Running:
python setup.py bdist_wheel
I get the following error:
Traceback (most recent call last):
  File "setup.py", line 14, in <module>
    with open(path.join(path.abspath(path.dirname(__file__)), 'README.md'), encoding='utf-8') as f:
TypeError: 'encoding' is an invalid keyword argument for this function

@slin07 @miaout17 are you also getting this error?

[2017-11-01 22:05] slin07 opened #26 "Style transfer network predictions incorrect on GPU backend"
This style transfer network can't be converted:
[https://storage.googleapis.com/download.tensorflow.org/models/stylize_v1.zip]
In this style transfer network there're a bunch of quantization related ops that are not supported in CoreML.
See `test_style_transfer ` in `tests/test_pretrained_models.py`.

[2017-11-01 22:07] #24 closed, assigned to miaout17

[2017-11-01 22:19] slin07 opened #27 "Converting mobile SSD fails"
This mobile SSD model can't be converted:
[https://storage.googleapis.com/download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_android_export.zip]
In this mobile SSD there's a map operation and a while loop in preprocessing step, making it a loop. CoreML does not have support to realize map/while loop related ops.
See `test_mobile_ssd` in `tests/test_pretrained_models.py` in branch `de

[2017-11-01 22:31] #13 closed, assigned to nobody

[2017-11-03 18:04] aseemw opened #32 "3 Nosetests fail in "test_tf_converter.py" after upgrading to Tensorflow 1.4"
I think its because some of the slim ops have been deprecated. @slin07 I think you can modify/remove those tests with deprecated ops.

[2017-11-05 04:42] aseemw opened #35 "Proper handling of 1D pooling and Conv layers"
Currently the handling of 1D conv and pooling layers is not very robust. As of now, either "test_conv1d_avepool" and "test_conv1d_avepool" tests in test_tf_converter.py pass or "test_max_pooling_1d" in test_tf_keras_layers.py, not all.

[2017-11-06 18:07] #14 closed, assigned to nobody

[2017-11-07 22:42] slin07 opened #36 "TF converter can't handle LRN"
TF converter cannot handle LRN op in GoogleNet V1 because of a missing TF op LRN.

[2017-11-07 23:19] slin07 opened #37 "No op named DecodeWav in defined operations"
While trying the "Simple Speech Recognition" frozen graph given in this link:
https://storage.googleapis.com/download.tensorflow.org/models/speech_commands_v0.01.zip

The TF model fails to load in tensorflow. Here's the output:
`ValueError: No op named DecodeWav in defined operations.`

I'm using TensorFlow 1.3.

[2017-11-08 00:04] slin07 opened #38 "Large storage footprint running full model nosetests"
The current setting for `test_pretrained_models.py` does not remove the downloaded models. This improves the test time by avoiding multiple downloads for the same model. However, I'm also seeing a large tmp folder being created with all kinds of models for the tests:
[code]
So... to remove or not to remove, that's the question.
Any thoughts?

[2017-11-08 20:04] #32 closed, assigned to slin07

[2017-11-08 22:20] aseemw opened #42 "Renaming Input/Output Tensors for CoreML"
CoreML automatic code generation fails if model input and/or output names has '/' literal in it. We had a similar issue with ':'. Modify the converter so that '/' characters are replaced with '__'.

[2017-11-08 22:24] aseemw opened #43 "Make scripts in 'utils' folder part of the pip package"
Expose the scripts as functions that can be called after installing the pip package.

[2017-11-09 01:11] aseemw opened #44 "Two nosetests failing in test_tf_converter.TFSlimTest"
'test_slim_conv_bn'
'test_slim_conv_bn_no_beta'
Both of these tests are failing on my machine with the same error:
  File "/Users/aseem/Documents/code/tf-coreml/tfcoreml/_layers.py", line 88, in batchnorm
    op.inputs[idx].op.inputs[0].name)] for idx in range(1,5)]
  File "/Users/aseem/Aseem_env/env/lib/python2.7/site-packages/tensorflow/python/framework/ops.py", line 1865, in __getitem__
    ret

[2017-11-09 19:24] aseemw opened #46 "Update the check unsupported ops function"
Currently before converting the TF graph we check for unsupported ops and error out early if there is an unsupported op. However, this function should also take into account the output tensors that the user in interested in. We should not error out if an unsupported op comes after the desired output.

[2017-11-09 21:39] aseemw opened #48 "Set author details correctly in setup.py"

[2017-11-10 18:58] #46 closed, assigned to aseemw

[2017-11-10 19:35] #38 closed, assigned to nobody

[2017-11-10 21:31] #36 closed, assigned to aseemw

[2017-11-10 21:44] aseemw opened #53 "Create a README.rst file"
Create a Readme.rst file that will be displayed in the pypi package description.

[2017-11-10 22:48] #44 closed, assigned to slin07

[2017-11-10 23:03] #7 closed, assigned to slin07

[2017-11-11 00:42] #42 closed, assigned to aseemw

[2017-11-11 00:43] #43 closed, assigned to aseemw

[2017-11-11 04:13] aseemw opened #58 "Clean up the utils folder"
Utils folder has a few scripts that are not useful and need to be removed.

[2017-11-13 17:53] #58 closed, assigned to aseemw

[2017-11-13 17:54] #37 closed, assigned to miaout17

[2017-11-15 19:00] miaout17 opened #64 "Invalid method name when generating Objective C code for ML model"
I'm unsure if it's a XCode bug or a converter problem.

I used to test `tf-coreml` with Swift and it worked well.
I tried to test it with Objective C, but it doesn't work when input/output name contains '/'.

For example, the output name is `MobilenetV1/Predictions/Reshape` in the mobilenet model we're using.
The generated Objective C become:

[code]

Tried this with XCode 9.0 and 9.2 beta, and go

[2017-11-15 19:20] #53 closed, assigned to aseemw

[2017-11-15 19:20] #48 closed, assigned to aseemw

[2017-11-15 20:30] #64 closed, assigned to nobody

[2017-11-17 17:58] aseemw opened #67 "Remove Nose"
Instead use pytest and add a description in the readme on how to install and use it.

[2017-11-17 18:50] aseemw opened #68 "Add the Apache license header to all files"

[2017-11-17 21:20] #67 closed, assigned to nobody

[2017-11-27 23:30] #68 closed, assigned to aseemw

[2017-11-28 21:41] #27 closed, assigned to slin07

[2017-12-06 10:22] gxdalu-yaya opened #79 "coremlc: Error: compiler error: Invalid data blob: 'cnn_net_1/conv-maxpool-5/pool_5:0' shape (C,H,W = 150,146,-144) for output of layer: 'cnn_net_1/conv-maxpool-5/pool_5:0'."
after i converted the tfmodel to mlmodel, when i run the predict program, the following errors appeared:
coremlc: Error: compiler error:  Invalid data blob: 'cnn_net_1/conv-maxpool-5/pool_5:0' shape (C,H,W = 150,146,-144) for output of layer: 'cnn_net_1/conv-maxpool-5/pool_5:0'.

in fact, it's a max_pooling operation, and the previous layers's shape is （C,H,W）= (150, 146, 1), the operation is ：
po

[2017-12-07 18:32] slin07 commented on #79
Can you provide a little more information, so we can try to reproduce the result:
(1) What model are you trying to convert?
(2) What are the arguments you use for the converter?
Thanks!

[2017-12-08 02:45] azamsharp opened #80 "Issue Converting TensorFlow Model to Core ML Model"
I am running the following commands and getting this result.

<img width="651" alt="screen shot 2017-12-07 at 8 29 52 pm" src="https://user-images.githubusercontent.com/16604/33748691-8e6d8e6c-db8f-11e7-97d5-85faa41e1c55.png">

[2017-12-08 13:55] cclauss opened #81 "Undefined name 'beta'"
flake8 testing of https://github.com/tf-coreml/tf-coreml on Python 2.7.14

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]
https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/optimizations/_optimize.py#L116

[2017-12-08 16:09] aseemw commented on #80
This is happening because there is no tensor named "softmax:0" (provided output feature name) in the TF graph.

[2017-12-08 17:54] azamsharp commented on #80
Thanks Aseem! So what will be the correct syntax for converting TensorFlow model to Core ML model.

[2017-12-08 18:14] aseemw commented on #81
Thank you for pointing out this bug. It is indeed a typo. This will be fixed soon.

[2017-12-08 18:18] aseemw commented on #79
@gxdalu-yaya It seems that you are doing 1D convolution and there seems to be a mismatch in the axes on which the input is mapped to in CoreML (C,H) and the axes on which the kernel filters are mapped (C,W). If you share the model or the code you used to build it, we will be able the debug the issue.

[2017-12-08 18:25] aseemw commented on #80
The syntax to call the converter is correct. You just need to find the correct name of the output tensor in your TF graph and use it in your function call.

You could either get it form the training script you used or you can try using the script "utils/inspect_pb.py" in this repo which prints a text summary of the TF graph (all tensor names). You can also use tensorboard to visualize the graph wh

[2017-12-08 20:51] azamsharp commented on #80
Thanks! I am able to generate the text summary file but I am still unsure what represents the TF graph and what I am supposed to put in output_feature_names. Here is the screenshot of the text summary file:

<img width="771" alt="screen shot 2017-12-08 at 2 49 52 pm" src="https://user-images.githubusercontent.com/16604/33784636-39547a06-dc27-11e7-9dbf-431752e362b5.png">

[2017-12-08 20:59] azamsharp commented on #80
I also tried to visualize the graph but the visualize is just stuck and not doing anything. As shown in the screenshot below:
<img width="593" alt="screen shot 2017-12-08 at 2 58 13 pm" src="https://user-images.githubusercontent.com/16604/33784927-629abbea-dc28-11e7-83fe-e1d60cf15020.png">

[2017-12-08 21:28] aseemw commented on #80
You have to open up the link in a web browser (in this case http://Mohammads-MBP.localdomain:6006) to visualize.
The output you need depends on which tensor you want from the graph. If you scroll down towards the end of the text file, you should see the tensors towards the end of the graph (nodes close to the sink node of the graph). Maybe you want the output of the Softmax op at the end.

[2017-12-09 03:27] azamsharp commented on #80
I opened that link and there is nothing there. Take a look at the following screenshot below:

<img width="1063" alt="screen shot 2017-12-08 at 6 53 24 pm" src="https://user-images.githubusercontent.com/16604/33792180-9eaaf664-dc5e-11e7-8bc2-d0dd307491a1.png">

[2017-12-09 03:28] azamsharp commented on #80
Also, the summary text file contain the following at the end of the file:

<img width="599" alt="screen shot 2017-12-08 at 9 28 15 pm" src="https://user-images.githubusercontent.com/16604/33792187-cc682626-dc5e-11e7-9728-a0e12d9445c1.png">

[2017-12-09 06:15] aseemw commented on #80
Okay maybe I was not clear in my earlier explanation. The text file lists all the ops present in the TF graph and numbers them 1, 2, 3 etc. At the end of the file these are just the histogram counts of the ops.

For each op the following are listed:
- op name
- op type
- input names and shapes
- output names and shapes

Ignore the histogram op counts at the end of the file. Instead look at the las

[2017-12-09 15:34] azamsharp commented on #80
Thank you so much for your continued help! I was able to convert the model to Core ML. One thing I realized is that for Core ML input parameters for the model is a multi dimensional array of Doubles. I was expected it to take an image of 244 X 244 size so it can process the image and give me predictions. I am using the Inception V1 model located at (https://storage.googleapis.com/download.tensorfl

[2017-12-09 17:44] aseemw commented on #80
Great!
You can find the description of the convert function arguments at the end of the file "tfcoreml/_tf_coreml_converter.py". In particular, argument "image_input_names" can be used to mark inputs as images. In the inception model screenshot you attached, the input name would be "input:0" (output of the op type Placeholder). You can also provide image biases and scales as additional arguments.

[2017-12-09 18:57] jlebensold opened #82 "Support for PlaceholderWithDefault"
Hi there,

this is a really exciting project! I'm getting this error when trying to convert MobileNet from the code poets example:

`NotImplementedError: Unsupported Ops of type: PlaceholderWithDefault`

I noticed that `Placeholder` is implemented. Do you think `PlaceholderWithDefault` will be in scope?

Many thanks!

[2017-12-09 21:38] lahayeg commented on #82
Hi,
same issue. Installed from pip not from source. Seems strange because test case show convertion of MobileNet...

[2017-12-09 22:29] aseemw commented on #82
Hi, Thank you for pointing out this issue. The support for the "PlaceholderWithDefault" op will be added soon.

The mobilenet models linked to in the readme of this repo, the ones hosted on Google's website, do not have this op and can be converted by the current converter. The mobilenet model generated in the code poets repo does have the "PlaceholderWithDefault" op whose support will be added so

[2017-12-09 23:08] aseemw commented on #82
Please check PR#83. Should resolve the issue.

[2017-12-09 23:16] aseemw commented on #81
PR#84 should resolve this.

[2017-12-10 13:37] lahayeg commented on #80
Thanks @aseemw, your explanation make it work for me

[2017-12-10 14:48] lahayeg opened #85 "KeyError: u'classLabel' setting class_labels"
Hi,

I follow tensorflow for poets sample. I want to create core ml with 2 outputs, classLabel and classLabelProbs. First step is to add in param my class label

import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'tf_files/optimized_graph.pb',
        mlmodel_path = 'tf_files/my_model.mlmodel',
        output_feature_names = ['final_result:0'],
        input_name_shape_dict = {'i

[2017-12-10 15:44] jlebensold commented on #82
This is great thanks aseemw!

[2017-12-10 23:34] lahayeg commented on #85
for classifier model, the classLabel output do not belonging to graph. That's why the node is not founded

[2017-12-11 21:15] aseemw commented on #81
Fixed in PR #84

[2017-12-11 21:15] #81 closed

[2017-12-11 21:15] aseemw commented on #82
Fixed in PR#83

[2017-12-11 21:15] #82 closed

[2017-12-11 21:48] #80 closed

[2017-12-11 23:39] slin07 commented on #85
@lahayeg Thank you for reporting this issue! We've identified the cause of this error. This is a bug in the converter where replacing ":" with "__" fails to include `labelProbabilityLayerName`. We're working on an update.

[2017-12-12 00:46] slin07 commented on #85
See PR#86

[2017-12-13 23:00] slin07 commented on #85
Is there any updates on this thread?

[2017-12-14 08:14] devajith commented on #80
`import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'output_graph.pb',
                     mlmodel_path = 'my_model.mlmodel',
                     output_feature_names = ['final_result:0'],
                     class_labels = 'output_labels.txt',
                     image_input_names = ['input:0 : (1, 224, 224, 3)'] )`
is this script correct ?

[2017-12-14 11:06] devajith commented on #80
is this the correct syntax :
`
import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'output_graph.pb',
                     mlmodel_path = 'MyModel.mlmodel',
                     output_feature_names = ['final_result:0'],
                     class_labels = 'output_labels.txt',
                     image_input_names = ['input:0'] )

`

[2017-12-14 11:07] devajith commented on #80
is this correct ?
`import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'output_graph.pb',
                     mlmodel_path = 'MyModel.mlmodel',
                     output_feature_names = ['final_result:0'],
                     class_labels = 'output_labels.txt',
                     image_input_names = ['input:0'] )`

[2017-12-14 11:07] devajith commented on #80
is this correct code ?
import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'output_graph.pb',
                     mlmodel_path = 'MyModel.mlmodel',
                     output_feature_names = ['final_result:0'],
                     class_labels = 'output_labels.txt',
                     image_input_names = ['input:0'] )

[2017-12-14 13:32] zwhinmedia opened #88 "Shapes not found for 506 tensors, is a bug?"
Hi, I have walk through  inception_v3 example, and have got a good result from the converted coreml model.

But I meet a question: 'Shapes not found for 506 tensors' when I convert inception_v3 model to coreml model.

Is this a bug?

[2017-12-14 17:46] aseemw commented on #88
This is not a bug. Sometimes the shapes of the tensors in the frozen TF graph are not fully defined. Since the converter requires these shapes during conversion, it first checks the number of tensors whose shape is undefined and then executes the TF graph once to determine these.

[2017-12-14 18:37] #85 closed

[2017-12-15 09:25] zwhinmedia commented on #88
@aseemw  very thanks~

[2017-12-15 14:41] azamsharp commented on #80
Here is what my final script looks like:

import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'inception_v1_2016_08_28_frozen.pb',
                     mlmodel_path = 'my_model.mlmodel',
                     output_feature_names = ['InceptionV1/Logits/Predictions/Softmax:0'],
                     image_input_names = ['input:0'])

It does produce a Core ML model but that model does

[2017-12-15 14:52] azamsharp commented on #80
Here is the error I get if I try to add class_labels.

<img width="872" alt="screen shot 2017-12-15 at 8 51 48 am" src="https://user-images.githubusercontent.com/16604/34047257-4ef11984-e175-11e7-93e5-3942b14be66a.png">

[2017-12-15 14:53] azamsharp opened #89 "Class Labels Not Working"
<img width="872" alt="screen shot 2017-12-15 at 8 51 48 am" src="https://user-images.githubusercontent.com/16604/34047277-5f91d6ac-e175-11e7-88cf-21e57530a74a.png">

[2017-12-15 19:18] azamsharp commented on #79
AseemW: I think it would be a great idea for Google to either write an article or create a 5 min video of how to do the conversion using tfcoreml tools. Take the "Inception" model and show us step by step how to convert it to Core ML model. The model should take image as input and give a prediction result as output indicating the confidence in different items it came up with for the picture.

I th

[2017-12-15 20:39] aseemw commented on #79
@azamsharp I am sorry to hear that you are having issues using the class label file.
The python notebook describes the process of converting inception to CoreML and takes image as an input: https://github.com/tf-coreml/tf-coreml/blob/master/examples/inception_v3.ipynb
I agree, it is a good idea to add the usage of "classLabel" argument to that example.

PR#86 fixed an issue we had in the classLabe

[2017-12-15 20:51] azamsharp commented on #79
I used the following to install the tfcoreml tools.

pip install -U tfcoreml

How can I get the updated version which has the class_labels fix?

[2017-12-15 21:17] azamsharp commented on #79
I downloaded the latest version of tfcoreml tools (tensorflow-1.4.1) and I have the same exact issue.

<img width="880" alt="screen shot 2017-12-15 at 3 16 35 pm" src="https://user-images.githubusercontent.com/16604/34060822-08c33164-e1ab-11e7-81e9-0ecf303c5481.png">

[2017-12-15 22:38] aseemw commented on #79
Kindly see issue #89. That is the correct thread to discuss this issue.

[2017-12-15 22:41] aseemw commented on #89
Hi @azamsharp , you can update your local tfcoreml installation by doing:
- pip uninstall tfcoreml (this will uninstall the pypi version)
- update your Git clone of tfcoreml repo to the latest master
- then follow the instructions here: https://github.com/tf-coreml/tf-coreml#install-from-source

This will be equivalent to having a pip package that would point to the local folder on your system (wh

[2017-12-15 23:25] slin07 commented on #89
Thanks @aseemw for pointing out the solution. I'm able to convert the TensorFlow Inception V1 in question to CoreML with the script from @azamsharp.
This is probably a duplicate to issue #85 .

[2017-12-16 02:39] devajith commented on #80
i guess i got the same error, but when i updated the code base for tfcoreml its gone. Please check the closed issues : KeyError: u'classLabel' setting class_labels

[2017-12-16 04:55] devajith commented on #80
im using following script

   import tfcoreml as tf_converter
   tf_converter.convert(tf_model_path = 'output_graph.pb',
                     mlmodel_path = 'MyModel.mlmodel',
                     output_feature_names = ['final_result:0'],
                     class_labels = 'output_labels.txt',
                     image_input_names = ['input:0'],
                     image_scale=2/224.0, red_bia

[2017-12-16 05:24] aseemw commented on #80
I think you should be able to use "predicted_probabilities_output" argument. Kindly see the description of all the arguments at the end of the file https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_tf_coreml_converter.py

[2017-12-16 15:12] azamsharp commented on #89
I upgraded tfcoreml tools to the latest version and I am still seeing the same issue.

[2017-12-16 21:41] aseemw commented on #89
Hi @azamsharp ,
@devajith (who commented in issue#80 thread), myself and @slin07 have all tried the script whose snapshot you have posted above and it is working for all 3 of us using the latest master of tfcoreml.
Kindly check again that your repo is synced with the latest tfcoreml repo.

[2017-12-16 22:18] azamsharp commented on #89
Hi AseemW: Thank you so much again! Yes I got it working with your help. Once, I build it from source it was working as expected! THANK YOU SO MUCH for your continuous help and support. Thank you again :)

[2017-12-16 23:19] #89 closed

[2017-12-17 15:22] azamsharp opened #91 "TensorFlow to Core ML Giving Wrong Predictions."
After converting TensorFlow model to Core ML I created an iOS app to try to use it and check out the predictions. I used my already built app and replaced it with the new model. Unfortunately, the predictions it give were completely wrong. The predictions works correctly if I get the Core ML model from Apple's Machine Learning website.

But when I use the TensorFlow to Core ML converted model then

[2017-12-17 16:50] aseemw commented on #91
After conversion, it is best practice to compare the numerical predictions of CoreML (using coremltools predict method) and the original model in TF.
Have you compared the original TF model and CoreML predictions on a same input image?
(Note that you can load images using PIL package in python and pass them to the predict method in coremltools).

[2017-12-17 16:58] azamsharp commented on #91
Yes I used the same input and same set of images on Apples Core ML model and the tensor flow converted model. Apple model produces correct result and tensor flow model just gives random predictions. I have attached code in previous post where I show the bug in the tensor flow converter.

[2017-12-17 17:03] azamsharp commented on #91
Also it would be extremely beneficial for everyone if Google can write an article about the whole process. Take a TensorFlow model convert to CoreML and the show it in iOS App that it predicts correctly. It would save hours and hours of wild goose chase that we are experiencing

[2017-12-17 17:53] aseemw commented on #91
I suspect the issue is with the preprocessing parameters that you have set during conversion, i.e. the image scales and biases. In your .mlmodel at https://github.com/azamsharp/ImageRecognitionTensorFlow2CoreML, the biases are set to 0 and scale is 1. However, for the inceptionV1 model that you have converted they should be such that after preprocessing the values are in the range [-1,1]. That wou

[2017-12-17 18:00] azamsharp commented on #91
Thanks! The link to the Inception Apple model is here: https://docs-assets.developer.apple.com/coreml/models/Inceptionv3.mlmodel

Why is using tfcoreml tools so insanely complicated? It is as difficult as setting the values on an Enigma machine. With so many different settings and so many different ways to produce a wrong result is this even useful to developers. The whole point of tfcoreml tool *

[2017-12-17 19:42] aseemw commented on #91
No wonder the predictions do not match!!
Inception V3 and V1 are two totally different models with different weights (V3 is over 90 MB large and V1 is about 28 MB).
Moreover, incorrect image preprocessing is definitely an issue here. Please see PR #92. I have added a Jupiter notebook that explains the preprocessing step.

tfcoreml converts TF models into CoreML. For details on different parameters

[2017-12-17 20:12] azamsharp commented on #91
So, can you provide me any image that the TensorFlow converted model can
detect successfully.

On Sun, Dec 17, 2017 at 1:42 PM, Aseem Wadhwa <notifications@github.com>
wrote:

--
Mohammad Azam
MVP (Most Valuable Professional)
www.highoncoding.com
www.azamsharp.com
Check out my iPhone apps at http://www.azamsharp.com

[2017-12-17 20:32] azamsharp commented on #91
Hi,

After preprocesing it works as expected. Thanks for your help!

PS: The tfcoreml tool lacks documentation. Setting preprocessor, inputs,
outputs etc no developer will ever know how to set those things. The
process of converting from tfcoreml to Core ML model should be as painless
as possible. It looks like this tool can only be used by people who have
years or machine learning and TensorFlow

[2017-12-18 00:42] #91 closed

[2017-12-18 00:44] aseemw commented on #79
@gxdalu-yaya I am closing this issue now. Please reopen another one when you provide more details on the architecture that you are trying to convert.

[2017-12-18 00:44] #79 closed

[2017-12-18 02:24] dhc1256436519 opened #93 "Could not find a version that satisfies the requirement coremltools>=0.6.3 (from tfcoreml==0.1.0) (from versions: ) No matching distribution found for coremltools>=0.6.3 (from tfcoreml==0.1.0)"
Could not find a version that satisfies the requirement coremltools>=0.6.3 (from tfcoreml==0.1.0) (from versions: )
No matching distribution found for coremltools>=0.6.3 (from tfcoreml==0.1.0)
What do this happen?

[2017-12-18 20:20] aseemw commented on #93
Can you give a bit more specific details as to what steps you followed that led to this error?

[2017-12-18 21:56] slin07 commented on #93
Are you using virtual environment?
Have you tried uninstalling coremltools and tfcoreml and reinstall them back?

[2017-12-18 22:25] slin07 commented on #12
Is this still related?

[2017-12-18 22:39] aseemw commented on #12
Yes, PR #90 has resolved this issue.

[2017-12-18 22:39] #12 closed

[2017-12-20 09:38] devajith commented on #80
I just tried converting below model
https://github.com/vanhuyz/CycleGAN-TensorFlow/releases/download/v0.1-alpha/apple2orange.pb
But show error as 'ValueError: Graph has cycles.'

[2017-12-20 18:54] aseemw commented on #80
@devajith Yes this is happening because the TF graph has cycles. CoreML supports only acyclic graphs. Recurrent nodes have a high level acyclic representation in CoreML, unlike TF.

Currently, the converter has these [limitations](https://github.com/tf-coreml/tf-coreml#limitations)).

Most of the times the cycles are part of some kind of recurrent operation. Hopefully in the future the converter w

[2017-12-27 05:15] devajith commented on #80
@aseemw which transform tool utilities i need to use ? i could not figure out which part of that example is doing the extraction of the acyclic subgraph.? can you help

[2017-12-27 05:24] aseemw commented on #80
In the example there is this function call to "strip_unused_lib.strip_unused()". Two of the arguments to that function call are "input_node_names" and "output_node_names". After this call only the subgraph starting at "input_node_names" and ending at "output_node_names" is preserved.

You might need to analyze the graph a bit before you decide which sub graph to extract. Tensorboard is a good opti

[2017-12-27 05:50] ChiFang opened #95 "weight in frozen .pb file from tensorflow seem are not converted to .mlmodel"
my environment:
-------------------------
OS: Ubuntu 16
Python: 2.7.12
Package:
coremltools (0.7)
numpy (1.13.3)
protobuf (3.5.0.post1)
six (1.10.0)
tensorflow-gpu (1.2.0)
tfcoreml (0.1.0)
-------------------------
here is part of my net structure:
[code]

Shift and scale are trainable variable in tensorflow and .pb work perfectly when I predict.
The converting from .pb to .mlmodel do not show any

[2017-12-27 08:09] devajith commented on #80
![screen shot 2017-12-27 at 1 09 36 pm](https://user-images.githubusercontent.com/9593328/34375078-bd47d50a-eb0a-11e7-8f99-942cafb4e6e0.png)

Do i need to remove the subgraph 'F' to remove the cyclic issue ?

The code i used for extraction is given below :

import urllib, os, sys, zipfile
from os.path import dirname
import numpy as np
import tensorflow as tf
from tensorflow.core.framework import g

[2017-12-27 11:14] aseemw commented on #95
Hi @ChiFang, This could be a bug in the converter. We will take a look. Thank you for the code snippet.

Meanwhile, if you want to continue your own investigation you can use the coremltools [visualization](https://github.com/apple/coremltools/blob/2bcaa8ef72e4f7b922e739207547d784bb2e6622/coremltools/models/utils.py#L781) tool to analyze the .mlmodel.

[2017-12-29 03:05] slin07 commented on #80
Hi, @devajith,
The cycle is in the `map_4` subgraph. There is a `while` loop inside it.

[2017-12-29 03:31] devajith commented on #80
can i strip that. ? is it going to affect the working of that model.?

[2017-12-29 06:05] slin07 commented on #80
I don't think you're able to strip it. TensorFlow has control flow ops like `map` and `while` to change the graph execution path depending on variables; CoreML on the other hand does not have support of such ops.

[2017-12-29 06:10] ChiFang commented on #95
Hi @aseemw  I trace the log info during converting, I found following msg:

is that mean "norm_shift_norm" and "conv" are by pass (or skip) by the converter?

[2017-12-29 06:49] slin07 commented on #95
Hi, @ChiFang, I made a small script that tries to reproduce your problem, but it seems to be working properly. See below:
[code]
The output of this script is:
[code]

[2017-12-29 17:48] Kishwar opened #96 "Label not taken in account"
After converting from tensorflow to coreml file I found that tensorflow labels are not take in account. While running model on xcode for iOS app, code returns because VNClassificationObservation not found.

Do we have some special method to handle it unlike provide models on developers.apple.com?

best regards,
Kishwar

[2017-12-29 23:36] slin07 commented on #96
Hi, @Kishwar, are you installing from PyPI package or installing from this repo? We've fixed a similar bug recently in the repo but haven't updated the PyPI package yet. Can you try re-installing the package by doing `pip install -e .` on the repo? Thanks!

[2017-12-30 07:46] Kishwar commented on #96
Hello Allen,

I have installed from you repo using (pip install -e .) command.

I have run /examples/inception_v3.ipynb which generates following 3 files
- tensorflow_inception_graph.pb
- imagenet_comp_graph_label_strings.txt
- inception_v3.pb

Now what I have understood from the code book that label file (imagenet_comp_graph_label_strings.txt) is never used. With my limited experience I believe .

[2017-12-30 07:57] aseemw commented on #96
During conversion if you provide the "class_labels" argument, then the mlmodel file will have the label information. See /examplesinception_v1_preprocessing_steps.ipynb

[2017-12-30 15:26] Kishwar commented on #96
Thanks Aseem, It is showing result now :)

[2017-12-31 22:50] nivim commented on #82
Hi @aseemw,
I'm still getting error - Unsupported Ops of type: PlaceholderWithDefault
Any thoughts / suggestions?
I'm trying to convert the tensor-flow for poets example with the inception_v3 example.

full error:
---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
<ipython-input-33-e2c48f2dbcd9> in

[2018-01-01 03:57] aseemw commented on #82
Hi @nivim, can you please pull the latest version of this repo and install it from [source](https://github.com/tf-coreml/tf-coreml#install-from-source) (using pip install -e . ). The error should go away then.

[2018-01-01 05:56] nivim commented on #82
Thanks @aseemw !
Already did that once according to your comments in another issue,but I had to actively uninstall the former package and then install the latest one for it to take effect.

Works perfect now, Thank you!

[2018-01-01 12:23] ChiFang commented on #95
thanks @slin07.  I follow your code to verify my network with python on Mac and it work fine. The root cause is that IOS engineer use wrong input format on iphone....

@aseemw thanks for the great project. I am so surprised that tfcoreml support tensorflow more than tensorflow lite....

[2018-01-01 19:59] nivim opened #97 "Python fatal while using inception_v3 example"
Hi,

Updated Mac from 10.12.6 to 10.13.2.
examples/inception_v3.ipynb stoped working and crashing on fatal (information below).
On previous version (10.12.6) it did not crash.
I tried to reinstall the tf-coreml package (from source) with no luck.
Ran it from both jupyter notebook and as a standalone python script, both are crashing.

The crash is in the convert process, the conversion finishes and

[2018-01-03 21:40] reutvilek opened #98 "Failing on IndexError: list index out of range"
Hello,

Thank you for the conversion script. i get this error when running on a valid frozen TF model + careful usage with all required params:
=====================================================================
  File "/private/tmp/lib/python2.7/site-packages/tfcoreml/_tf_coreml_converter.py", line 478, in convert
    predicted_probabilities_output=predicted_probabilities_output)
  File "/priva

[2018-01-04 12:54] #98 closed

[2018-01-04 12:55] reutvilek commented on #98
Managed to overcome this, you may disregard.

[2018-01-04 21:26] sieuwe1 opened #99 "Unsupported Ops of type: PlaceholderWithDefault"
Hello

I am having this error message:

`dyld: warning, LC_RPATH $ORIGIN/../../_solib_darwin_x86_64/_U_S_Stensorflow_Spython_C_Upywrap_Utensorflow_Uinternal.so___Utensorflow in /Library/Python/2.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so being ignored in restricted program because it is a relative path
2018-01-04 19:47:30.977648: I tensorflow/core/platform/cpu_feature_guard.c

[2018-01-06 10:24] nivim commented on #99
Had the same issue, you will need to **uninstall** the current package and reinstall from source (not from pip) - the explanations are at the readme file.

[2018-01-06 10:28] nivim commented on #97
Solved the issue (sort of).
Apparently, I had a problem with the python installation on the Mac, the original 2.7.10 had a conflict with the newly installed 2.7.14.
Had to reinstall the **operating system** to solve it..
Now works like charm, the important lesson here is the use virtual environment as suggested by most.

[2018-01-06 10:28] #97 closed

[2018-01-08 06:04] #96 closed

[2018-01-08 06:05] aseemw commented on #93
@dhc1256436519 , Kindly reopen an issue when you have more info on this problem.

[2018-01-08 06:05] #93 closed

[2018-01-08 06:06] #95 closed

[2018-01-08 06:46] tonycap opened #100 "KeyError: u'classLabel'"
hi, I use the inception_v1_preprocessing_steps.ipynb to run, but convert model error , the error info is :
[code]
what happen to this and how to fix?  please !

and i convert tensorflow model to coreML model , it success, but the result value is wrong?  do you have any idea?

[2018-01-09 14:48] mdramos commented on #82
any support for `Pow` coming soon?

[2018-01-10 04:22] mdramos commented on #82
I have a successful go at `pow`, using `add_unary` ... just wondering what would determine a correct **alpha** ... right now I'm just using a assumed value

[2018-01-10 04:50] mdramos commented on #82
^ disregard, found:
[code]

[2018-01-11 07:47] patricksnape opened #101 "Tests Fail"
# Environment
Python 2
OSX

From inside tf-coreml root folder:

`pip install -e .`
`pytest tests`

branch: master afec1447de6de0db05832a522ccff64b4fac4991

# Encountered Issue
`AssertionError: Output feature cannot be a placeholder`

Is being thrown on most tests

[2018-01-11 16:36] ldocao opened #102 "fail to convert stylize model"
I have tried to convert the stylize model given in the README.md. Because the `input_shape` is unknown, I do not specify the keyword `input_name_shape_dict`. The following code raises an exception.

[code]

is this related to #45 ? although, I don't even get to the prediction phase.

[2018-01-11 17:06] ldocao commented on #102
I believe I missed some parameters:

[code]

[2018-01-11 18:23] czater commented on #102
Did you solve this problem?

[2018-01-11 18:24] ldocao commented on #102
Unfortunately, no. I'm still stuck at the strided slice not handled problem. Do you have an idea of where it could come from ?

[2018-01-11 18:26] czater commented on #102
Nope :/ I hope @aseemw will help us :)

[2018-01-12 07:11] aseemw commented on #102
@Idocao, if you set the output to "Squeeze:0" (see unitest "tests/test_pretrained_models.py::TestModels::test_style_transfer") then it will work.

The TF graph has one more op in the end that takes in the output of the squeeze op (which is a tensor of shape 299,299,3 since your input is also of that shape) and reverses the width dimension. That is, the output is also of shape 299,299,3 but the sec

[2018-01-12 07:18] aseemw commented on #100
I have not been able to reproduce the error. Please make sure that you have updated the installation of the package by pulling the latest changes from the master and following the directions here: https://github.com/tf-coreml/tf-coreml#install-from-source

Kindly update the thread if after doing so the issue still persists.

[2018-01-12 09:51] ldocao commented on #102
alright, thanks that solved my issue!

[2018-01-12 09:51] #102 closed

[2018-01-12 13:26] iCappsCedric commented on #99
installing it that way as you said, did not fix the issue

[2018-01-12 14:55] iCappsCedric opened #104 "Build fails on unsupported Ops"
I am trying to use your converter to make my .pb model into a .mlmodel

In my convertor.py I have the following
`import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'retrained_graph.pb',
                     mlmodel_path = 'mymodel.mlmodel',
                     output_feature_names = ['final_result:0'])`

When trying to build this, I get the following error:

    output_feature_n

[2018-01-13 11:11] nivim commented on #104
from the -

I'm assuming you are trying to use the Inception_v3 model.
The DecodeJpeg layers should be removed for the MLModel.
There is an example in the examples folder specially for it (inception_v3).

[2018-01-13 12:15] czater opened #106 "How to convert model with 2 input parameters?"
Hello,

I am trying to convert model with 2 input parameter - int and image. For now I am getting something like this:
`Core ML input(s):
 [name: "style_num__0"
shortDescription: "This input is a sequence of length 26"
type {
  imageType {
    width: 1
    height: 1
    colorSpace: GRAYSCALE
  }
}
, name: "input__0"
type {
  imageType {
    width: 1000
    height: 1000
    colorSpace: RGB
  }
}
]

[2018-01-15 08:41] iCappsCedric commented on #104
I tried running from your example
`import tensorflow as tf
# Load the TF graph definition
tf_model_path = './retrained_graph.pb'
with open(tf_model_path, 'rb') as f:
    serialized = f.read()
tf.reset_default_graph()
original_gdef = tf.GraphDef()
original_gdef.ParseFromString(serialized)

# For demonstration purpose we show the first 15 ops the TF model
with tf.Graph().as_default() as g:
    tf.im

[2018-01-15 21:26] madhavajay opened #107 "SSD Object Detection Mappings?"
Can anyone explain what the mappings are of the two tensors which are produced from the output of the ssd_mobilenet_v1_android_export model which the example converts to a .mlmodel file?

When I look at this example:
https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb

Which uses:
ssd_mobilenet_v1_coco_2017_11_17

You can see the code does thi

[2018-01-16 16:11] andychat opened #108 "AssertionError: Weight input has to be an identity op"
I ran a MobilenetV1 model through tf-coreml, and got the following error:

AssertionError: Weight input has to be an identity op

Here's the op printed out:

[code]

The last layer of the model was retrained with my own images, following the image retraining tutorial from tensorflow: https://www.tensorflow.org/tutorials/image_retraining using the architecture option "mobilenet_1.0_224_quantized".

[2018-01-16 16:50] andychat commented on #108
Ok, not using quantized got me past the above error, but FYI that the example in the tensorflow tutorial enables this.

[2018-01-16 19:58] vade opened #109 "PlaceholderWithDefault support viable/possible?"
Hi

I have fine tuned some graphs using supported architectures (Mobilenet v1, 1.0 224) with Tensorflow 1.5 (from source), and have split my resulting graph into a main inference engine and a few various fine tuned classifiers via the graph transform tool, and am able to successfully run my networks in TF Lite / and the C++ API.

However, i'd love to run them in Core ML.

Upon attempting to run th

[2018-01-16 20:10] vade commented on #109
Ah apologies, this is a dupe of #82 Didnt check closed issues. Thank you.

[2018-01-16 20:10] #109 closed

[2018-01-16 22:27] vade commented on #108
Thanks, this is super useful to know Just ran into this myself. You're apparently 6 hours head of me ;)

[2018-01-17 15:16] czater commented on #106
Anyone?

[2018-01-17 19:33] aseemw commented on #106
In this [unittest](https://github.com/tf-coreml/tf-coreml/blob/39d3ade647d21d72c6851b7822dbd2252442203e/tests/test_pretrained_models.py#L505) there is an example of converting a model with two inputs (an image and a length 26 one-hot vector to choose the style). Does that answer you question?

[2018-01-17 19:34] #99 closed

[2018-01-18 10:35] michaeldong opened #110 "Can't convert re-trained InceptionV3 to coreml"
`File "convert_temp.py", line 7, in
input_name_shape_dict = {'input:0' : [1, 299, 299, 3]})
tfcoreml/_tf_coreml_converter.py", line 478, in convert
predicted_probabilities_output=predicted_probabilities_output)

/tfcoreml/_tf_coreml_converter.py", line 143, in _convert_pb_to_mlmodel
_check_unsupported_ops(OPS, output_feature_names)
tfcoreml/_tf_coreml_converter.py", line 111, in _check_unsupported

[2018-01-18 10:54] michaeldong commented on #110
Oh, I update tfcoreml and reinsall it , NOW it only tips : Unsupported Ops of type: DecodeJpeg ,

how can i  ignore or solve it , Thank you for your reply!

[2018-01-18 12:13] vonholst commented on #107
The 1917 are the predictions from box priors from the different layers in the model. The coreml-example strips the original model from preprocess, box-generation and postprocessing (like non-max-supression).

However, the preprocessing can be achieved by creating the model with:
"
tfcoreml.convert(
        ...
        image_scale=2./255.,
        red_bias=-1.0,
        green_bias=-1.0,
        blu

[2018-01-18 14:37] madhavajay commented on #107
Thanks for the tip. I tried adding the image_scale and biases to the convert method but I get the same output still.

I am using this example image from the SSD conversion notebook:
https://upload.wikimedia.org/wikipedia/commons/9/93/Golden_Retriever_Carlos_%2810581910556%29.jpg
[code]
      (boxes, scores, classes, num) = sess.run(
          [detection_boxes, detection_scores, detection_classes,

[2018-01-18 15:21] vonholst commented on #107
@madhavajay I believe this "garbage" is what you get before applying some sort of activation function. The example has extracted only the feature-generator. The complete tensor flow graph has the post-processing required to make sense of these numbers.

coreml_box_encodings:
These are a little tricky when you don't know the layout of anchor-boxes specifications/layout. I looked att the graph in th

[2018-01-18 15:51] madhavajay commented on #107
Ah yes that is making a lot more sense now. Might help to **BOLD** / Emphasis the important line in the README.

The full MobileNet-SSD TF model contains 4 subgraphs: Preprocessor, FeatureExtractor, MultipleGridAnchorGenerator, and Postprocessor. Here we will extract the FeatureExtractor from the model and strip off the other subgraphs, **as these subgraphs contain structures not currently support

[2018-01-18 18:28] vonholst commented on #107
@madhavajay Yes, I am trying to get this working in coreml as well. I have run a similar yolo version on mobilenet in coreml, and i would like to see how this compares to that implementation. I think much of the post processing is equivalent, but I need to decode the boxes.

As for the classes, I expect that they follow the order of the txt-file. And I think you can get the scores by applying a si

[2018-01-18 19:48] czater commented on #106
It's give me almost the same result :/ Is there anyway to have int instead of MLMultiarray for choose style?

[2018-01-18 23:14] aseemw commented on #110
Kindly look at the notebook: "examples/inception_v3.ipynb". That shows how to strip pre-processing nodes from the TF graph to prepare it for CoreML conversion.

[2018-01-18 23:17] #108 closed

[2018-01-19 07:19] michaeldong commented on #110
@aseemw Thanks for your immediately reply!

 I look at Your instruction  , by execute the script carefully.
I come across another problem.  change Input,output layer name to mine.

AssertionError: input:0 is a placehoder with incomplete shape <unknown>
input is my layer name.

[2018-01-19 07:32] michaeldong commented on #110
This's code:  I can't not find out.
`# Save it to an output file
frozen_model_file = './flower_inception_v3.pb'
with gfile.GFile(frozen_model_file, "wb") as f:
    f.write(gdef.SerializeToString())

# Now we have a TF model ready to be converted to CoreML
import tfcoreml
# Supply a dictionary of input tensors' name and shape (with
# batch axis)
input_tensor_shapes = {"input:0":[1,299,299,3]} # bat

[2018-01-19 07:36] michaeldong commented on #110
I change my code to this:
`frozen_model_file = './flower_inception_v3.pb'
with gfile.GFile(frozen_model_file, "wb") as f:
    f.write(gdef.SerializeToString())

import tfcoreml

input_tensor_shapes = {"input:0":[1,299,299,3]} # batch size is 1

coreml_model_file = './inception_v3.mlmodel'

output_tensor_names = ['softmax:0']

coreml_model = tfcoreml.convert(
        tf_model_path=frozen_model_file

[2018-01-19 19:18] aseemw commented on #110
By looking at the error trace you post, "Check whether your GraphDef-interpreting binary is up to date with your GraphDef-generating binary", it seems that the issue is not in the converter stage.
Forget about converting the model to CoreML for the moment, can you verify that the frozen .pb TF model  that you have works by itself? That is, can you load it and make a successful prediction with that

[2018-01-19 20:05] czater commented on #106
Well it's still gray image :/ Do I need to use some weights for this?

[2018-01-19 20:38] aseemw commented on #106
Are you using [this](https://storage.googleapis.com/download.tensorflow.org/models/stylize_v1.zip) model or some other model?

[2018-01-20 10:23] czater commented on #106
yep, this model that I am using

[2018-01-21 15:25] szemian commented on #104
Assuming you were retraining the model following the steps of "Tensorflow for Poets 2", the **input_node_names** should be **['Mul']**, at least that was my case and I have successfully convert the model for core ml.

[2018-01-22 17:47] #106 closed

[2018-01-23 04:48] vincentchu commented on #107
I did a lot of work on this over the weekend and I have a working understanding of the outputs produced by the converted CoreML model.

I'll try and walk through what I found— please let me know if anything is unclear. Anyway, the CoreML model outputs two `MLMultiArrays`:

 1. Scores for each class (`concat_1__0`, a 1 x 1 x 91 x 1 x 1917 `MLMultiArray`)
 2. Anchor-encoded Boxes (`concat__0`, a 1 x

[2018-01-23 07:38] vonholst commented on #107
@vincentchu: Big thanks. Had the same strategy minus the time, so I am glad you shared your solution. Saved me a weekend. If I can find the time I will implement the generator in swift, so it will be more convenient to implement other configurations. Thanks again.

[2018-01-23 15:25] vonholst commented on #107
@vincentchu Out of curiosity, how did you find the scale_factors = [10.0, 10.0, 5.0, 5.0] needed by KeypointBoxCoder?

[2018-01-23 17:26] madhavajay commented on #107
@vincentchu you are a legend!!! 👍 I read the SSD paper and my next task was to compare the outputs side by side and see if i could find the implementation of the boxes but exporting the values from the Graph makes a lot more sense, are you able to explain how you did that? I tried loading the protobuf up in TensorBoard but couldn't see how to actually view the post processing step that modifies th

[2018-01-23 17:32] vincentchu commented on #107
@vonholst I was spelunking around in the code and saw this [line](https://github.com/tensorflow/models/blob/master/research/object_detection/box_coders/keypoint_box_coder.py#L146) in the box coder. I couldn't get any of my encodings to work, but then made a guess that maybe the `scale_factor` was an issue.

I then went back to the original [config](https://github.com/tensorflow/models/blob/master/

[2018-01-23 18:05] vincentchu commented on #107
@madhavajay @vonholst I spent most of my time inside of an IPython notebook just dumping contents of the tensor and tensorboard. I cleaned it up and added some comments--- you might be interested in checking out this [notebook](https://gist.github.com/vincentchu/5f2f669aeb6df9864ec6c43252261269). In it, I:

 - Load `ssd_mobilenet_v1_android_export.pb`
 - Fetch our favorite golden retriever JPG
 -

[2018-01-23 18:07] madhavajay commented on #107
Thats awesome, this is what I was going to do but you have done the work so now I can play with the notebook and see how its done! 👍  If you have a blog this would make a really really super awesome blog post. Thanks so much for sharing your hard work!

[2018-01-23 18:32] dhananjaykumardubey opened #114 "tensorflow to coreml max() arg is an empty sequence"
Hi All,

I am beginner to neural networks and I just started to learn tensorflow from tutorials, and while converting the .pb model to mlmodel , I m getting the following error:

/anaconda2/lib/python2.7/site-packages/coremltools/models/_feature_management.py", line 295, in process_or_validate_features
    num_dimensions = 1 + max(chain(*[il for k, il in features.items()]))
ValueError: max() arg i

[2018-01-23 18:46] madhavajay commented on #107
@vincentchu Just tried the code, first issue was a possible range issue and it crashed:
[code]

Maybe best to use the ..< range operator
[code]

Or alternatively provide it as a default inside the class to 90?
I think because its 91 in the array and the paper might be best to stick to 91 as number of classes.

Thoughts?

[2018-01-23 19:16] aseemw commented on #114
Hi dhananjaykumardubey, could you provide a bit more info about the image.pb model that you are trying to convert? If it is a model you downloaded From somewhere it would be useful if you could share the link and I can try reproducing the error you are getting locally.

[2018-01-23 19:27] dhananjaykumardubey commented on #114
Hi Asee,
Hope you doing good. I used flickrLogoDataSet, and trained that data set into model. I received 4 files under models folder named - checkpoint, logo_model.data, logo_model.index & logo_model.meta. Then I used freeze_graph.py , please find the code below:

import tensorflow as tf
from tensorflow.python.framework import graph_util
import os,sys

output_node_names = "Softmax_2"
saver = tf.tr

[2018-01-23 19:38] madhavajay commented on #107
@vincentchu I am seeing some weird scoring, do we need to apply a softmax like @vonholst suggested?

For example score: 1.3203125?

Also it seems to be having trouble recognizing stuff, I am seeing stop signs okay but many other objects failing to recognize.

Prediction(klass: 65, index: 1911, score: 0.5908203125, anchor: OpenCV91.BoundingBox(yMin: 0.025000009685754776, xMin: 0.025000009685754776,

[2018-01-23 19:38] vincentchu commented on #107
@madhavajay It should be `n=90`--- the `0-th` class is the background, so there should really only be 90 detected classes. That's why the `klass` ranges from `1...90` (inclusive). I don't want to detect anything from the background case.

The array however has 91 slots because I want the indexing to match the [labels](https://raw.githubusercontent.com/nightrome/cocostuff/master/dataset/cocostuff-l

[2018-01-23 19:40] madhavajay commented on #107
@vincentchu okay well 1...90 and 1..<91 are the same thing so either way. 👍

[2018-01-23 19:44] vincentchu commented on #107
@madhavajay In terms of scoring, I don't think you necessarily have to transform the scores. You can just treat them as "higher = better". So you start with anything `>0.01` as the threshold, then you could apply non-maximum suppression to that pruned set (on a per-class basis).

Then I think you could just take the top 20 detections say of those candidates by score...

[2018-01-23 19:48] madhavajay commented on #107
Okay but what if I want to convert them to the scale of 0 -> 100%?

[2018-01-23 19:54] vincentchu commented on #107
@madhavajay yes, you will have to process them further. I didn't dig too much into it, but I think the loss function is [here](https://github.com/tensorflow/models/blob/master/research/object_detection/core/losses.py#L196).

My impression is that the logits are per-anchor box, so you'd compute the logit across classes with fixed box index ?

[2018-01-23 20:07] vonholst commented on #107
@madhavajay Then you might as well apply a sigmoid. In the [config](https://github.com/tensorflow/models/blob/1d31378d56bfac04dd3680cccf5547aad0e9eb7d/research/object_detection/samples/configs/ssd_mobilenet_v1_coco.config#L130) there are some parameters related to score-thresholds. They mention sigmoid as score converter. I'm not sure exactly how this config is used in model-gerenation though.

[2018-01-23 20:11] madhavajay commented on #107
@vincentchu @vonholst great I will look into this soon and if I can figure it out ill post here! :)

I am still seeing some strange output with the bounding boxes though:

Prediction(klass: 13, index: 1914, score: 1.28515625, anchor: OpenCV91.BoundingBox(yMin: -0.17175143957138062, xMin: 0.16412428021430969, yMax: 1.1717514991760254, xMax: 0.8358757495880127, imgHeight: 300.0, imgWidth: 300.0), an

[2018-01-23 20:14] madhavajay commented on #107
@vincentchu also any chance you could share your example Xcode project so I can debug mine against your working version? 😊

[2018-01-23 21:06] aseemw commented on #114
Actually what is needed to debug is the actual model architecture. If possible can you provide the download link to the .pb file (with random weights maybe) or provide the python code where you describe the model architecture, that would be useful.

[2018-01-23 21:38] dhananjaykumardubey commented on #114
I was following this git repo, by  "satojkovic".
https://github.com/satojkovic/DeepLogo
If this helps.

Also, I tried using tf-coreml/examples/inception_v3.ipynb , and was getting this error

Caused by op u'add_14', defined at:
  File "strip_model.py", line 54, in <module>
    image_input_names = ['MatMul_5:0'])
  File "/Users/dhananjaykumardubey/anaconda2/lib/python2.7/site-packages/tfcoreml/_tf_

[2018-01-24 01:48] tgwagner opened #116 "ModuleNotFoundError: No module named '_ops_to_layers'"
after installing tf-coreml with the following

pip install -e .

I attempt to run python test_tf_converter.py

and get the following error:

Do I need to add something to my PATH or ?

Note that _ops_to_layers.py does exist in my tf-coreml/tfcoreml directory

Thanks
Todd

[2018-01-24 02:00] aseemw commented on #114
The model you linked here does not have a Placeholder op. A placeholder op is required to specify the input of the model.

Here is what I did. I downloaded the model and used Graph transform [tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md) to convert it into a model with a placeholder.

Here is the script I used for that (after building the T

[2018-01-24 02:13] tgwagner commented on #116
responding to my own question -- I solved the answer and think others might run into this so I'm leaving it up.

I set my PYTHONPATH to the follow and I was able to get past the error.

PYTHONPATH=/Users/.../fresh/tf-coreml/:/Users/.../fresh/tf-coreml/tfcoreml:/Users/.../fresh/tf-coreml/tfcoreml/optimizations

[2018-01-24 02:13] #116 closed

[2018-01-24 03:49] tgwagner opened #117 "Output feature cannot be a placeholder"
Hi there,

I'm running the following script and receive an "**output feature cannot be a placeholder error**" (tfcoreml/_tf_coreml_converter.py line 175)

error:

Script is:
[code]

I summarized my model using summarize_graph (from tensorflow tools) with the following output:

what am I missing?  This is a model derived from tiny_yolo_voc.cfg

Thanks

[2018-01-24 07:34] vonholst commented on #107
@madhavajay @vincentchu I used the code provided by vincentchu. I applied a sigmoid to the score to bind them in (0,1). I think there are some issues with the non-max-suppression algorithm, but that's probably not a big issue to solve. This is a screenshot btw:
![img_4929](https://user-images.githubusercontent.com/13054051/35319588-bd3669a0-00e0-11e8-9d73-4d9cb0218735.png)

If we should discuss th

[2018-01-24 15:55] vincentchu commented on #107
@vonholst Amazing! The NMS should be pretty easy, we just have to write an implementation to compute the IOU (Jaccard index) of two boxes, then weed any boxes out that have >50% overlap with another, higher-scoring box.

Could I ask a favor? This is actually my first learning iOS project so I think I would benefit quite a bit from seeing your code. I was trying to get this to work in real time, vs

[2018-01-24 17:45] madhavajay commented on #107
@vonholst @vincentchu Yes I am also trying to implement this as a working Camera Demo and having some similar issues, would be great if we perhaps worked on a shared git repo to provide a working implementation for iOS and CoreML. @vonholst do you mind committing your code to a repo and putting a cut down demo app in there we can all iterate on?

[2018-01-24 18:08] vonholst commented on #107
Absolutely. I will need to clear some stuff from the code due to some parts are developed for a client. I will try to make a clean project that I safely can share.

You have most of the code though, I just filled out the blanks in vincentchu’s code. Hollance also has some complete Xcode projects with nms implemented if you are in a hurry. Otherwise I will fix this as soon as I can.

[2018-01-24 20:07] vonholst commented on #107
@vincentchu @madhavajay I created a clean (still kinda messy) project that I can share. We can continue the discussion on that forum if there is any trouble. [SSDMobileNetCoreML](https://github.com/vonholst/SSDMobileNet_CoreML)

[2018-01-24 21:06] aseemw commented on #117
Hi can you print a text summary of the graph using the script "utils/inspect_pb.py" and check whether the output name of the op of type "Placeholder" is "output:0" or not. Or more specifically, which op emits the "output:0" tensor.

[2018-01-24 21:30] madhavajay commented on #107
Awesome! 🎉

[2018-01-25 06:30] dhananjaykumardubey commented on #114
Hi Aseem, Thanks for helping me out. But now I am struggling with getting transfor_graph. I installed tensorflow without sourcecode, and I can't find this tool in my tensorflow directory.
If I go with building my pip_package installation fails . I think the reason being of failure is CUDA toolkit, I've macbook pro, which doesn't have NVIDIA GPU by default. So, CUDA is not supporting may be. So, do

[2018-01-25 08:22] aseemw commented on #114
To build graph transform tool:
- clone tensorflow repo
- execute command "./configure" from the root directory
- it will ask a bunch of questions, most of them you could say no (when it asks about enabling CUDA)
- after that you can execute the script to build the graph transform tool, which is "bazel build tensorflow/tools/graph_transforms:transform_graph"

[2018-01-26 14:37] dhananjaykumardubey commented on #114
Thanks a lot @aseemw . It was really helpful and learning for me. 👍

[2018-01-29 07:35] #114 closed

[2018-01-29 21:10] #107 closed

[2018-01-31 20:21] mats-claassen opened #120 "Possibility to add implementations for unknown layers"
Hi, what do you think of the idea of having a parameter in the `convert` function were the user can pass a function that handles potential unsupported layers?

What I have in mind is something like [torch2coreml](https://github.com/prisma-ai/torch2coreml) has with the `unknown_layer_converter_fn` parameter.

[2018-01-31 21:04] aseemw commented on #120
Just to understand it correctly, the "unknown_layer_converter_fn" allows to insert custom layers in the CoreML graph, right?

Yes, a flag along the lines of the "add_custom_layers" Flag, as in the coremltools Keras converter, would be added.

[2018-02-02 14:03] hbfreedow opened #121 "About ssd_examples"
Hi, I use [ssd_mobilenet_v1_coco.config](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v1_coco.config) to train my own dataset, and I finally get .pb file, however, when I call convert as blow step:
coreml_model = tfcoreml.convert(
        tf_model_path=frozen_model_file,
        mlmodel_path=coreml_model_file,
        input_name_shape_dic

[2018-02-02 15:05] mats-claassen commented on #120
Actually I think there are two types of unknown layers. First, the one you mention which tackles those layers that CoreML does not support so that they have to be implemented in Swift. The other is for those layers that tf-coreml doesn't support, i.e. does not convert to CoreML. I think both cases would be helpful.

[2018-02-05 11:19] mliesenberg opened #123 "Support for python3"
with `coremltools` available for python 3 via pypi now, is it planned to release `tf-coreml` for python 3 as well?
happy to chip in, if needed.

[2018-02-05 18:41] aseemw commented on #123
Yes that is a good point! I have made a note.

Sure, we'll be happy to get your help! If you want, you can start a PR that we can jointly contribute.

[2018-02-05 18:44] aseemw commented on #121
Hi @hbfreedow, we would need a few details to debug your issue. For instance, which network (.pb) exactly are you converting and what is the output tensor blob that you are comparing. And how different are the outputs from coreml and TF ?

You might also want to take a look at this thread for converting the SSD model: https://github.com/tf-coreml/tf-coreml/issues/107
and the repo: https://github.c

[2018-02-05 19:23] aseemw commented on #101
I have not been able to reproduce this error.
Can you try running individual tests and see which tests give such an error. You can run individual tests by doing something like this:
`pytest test_tf_converter.py::TFSimpleNetworkTest::test_toy`

[2018-02-06 08:33] mliesenberg commented on #123
ok, I'll start by running `2to3` and then we can take it from there. Not sure about your conventions etc.

[2018-02-07 06:15] MatthewWaller opened #124 "ValueError: Graph has cycles."
Hello, and thank you so much for this huge undertaking! I'm working on trying to convert Mozilla's DeepSpeech pre-trained model, and I get the error: "ValueError: Graph has cycles."

Any ideas about what I could do for this? Are graphs with cycles simply not going to work?

[2018-02-07 10:13] patricksnape commented on #123
See https://github.com/tf-coreml/tf-coreml/pull/125

[2018-02-07 10:14] patricksnape commented on #117
Apologies, my environment was dirty and Pytest was invoking Python 3. This is fixed by:

https://github.com/tf-coreml/tf-coreml/pull/125

[2018-02-07 10:14] patricksnape commented on #101
Apologies, my environment was dirty and Pytest was invoking Python 3. This is fixed by:

#125

And this can be closed as incorrectly reported.

[2018-02-07 10:14] #101 closed

[2018-02-07 19:23] aseemw commented on #124
CoreML does not support graphs with cycles at the moment. However, it does support recurrent nodes (RNN, LSTM, GRU etc). When these cells are implemented in TF, they get broken down into cyclic graphs in the frozen .pb file. tfcoreml cannot handle such graphs at the moment. This is a known issue currently. Handling such graphs would require going from the broken down graph structure to the higher

[2018-02-08 14:40] ChiFang opened #126 "successfully converted the model from temsorflow .pb to .mlmodel but not present in IOS"
I successfully converted the model from temsorflow .pb to .mlmodel:
![image](https://user-images.githubusercontent.com/16358320/35978356-75f806b0-0d20-11e8-8745-ff643b64ef46.png)
but fail in prediction on IOS app:
<img width="1110" alt="error msg" src="https://user-images.githubusercontent.com/16358320/35978476-cb6cfd80-0d20-11e8-95c0-469472685813.png">
I have verified the log during convert. It s

[2018-02-08 18:15] dhananjaykumardubey opened #127 "ClassLabel not working properly"
Hi @aseemw ,

I converted my .pb into mlmodel,
`input_tensor_shapes = {'Const_6:0':[1,32,64,3]} # batch size is 1
coreml_model_file = 'DJ3.mlmodel'
output_tensor_names = ['Softmax_2:0']
frozen_model_file = 'modified_deepLogo.pb'

class_labels = [
    'Adidas', 'Apple', 'BMW', 'Citroen', 'Cocacola', 'DHL', 'Fedex', 'Ferrari',
    'Ford', 'Google', 'HP', 'Heineken', 'Intel', 'McDonalds', 'Mini', 'Nb

[2018-02-08 18:18] aseemw commented on #126
You are getting a validator error. This means the CoreML file produced by the converter is not valid. This is most likely due to a bug in the converter.
I need to reproduce the  bug. Could you share the .pb file or the code block with the architecture of the model?
If you do not want to share your model you can also file a bug at [Apple](https://developer.apple.com/bug-reporting/).

[2018-02-08 18:36] aseemw commented on #127
Can you check whether the output of the mlmodel matches the TF output for the same output. You can look at the python notebooks on how to do that.
If TF and Coreml match then there is no issue. (Maybe the TF model itself always gives adidas). If not, then something went wrong during conversion.

[2018-02-08 20:38] dhananjaykumardubey commented on #127
Yes, The TF model and mlmodel both of them is giving "adidas", as this is the first element of my classLabel file.

[2018-02-08 22:15] aseemw commented on #127
Okay. Then the converter did its job!
I guess you need to look into getting a better model:)

[2018-02-08 22:15] #127 closed

[2018-02-09 01:23] aseemw commented on #123
#125 is merged. Great job @patricksnape !!

[2018-02-09 01:23] #123 closed

[2018-02-09 03:14] ChiFang commented on #126
@aseemw  thanks a lot but how could I sent you my .pb?  e-mail?

[2018-02-09 05:47] aseemw commented on #126
If you filing a bug report, you can attach the pb there.
Otherwise, maybe you can upload it to your GitHub or upload it somewhere shareable.

[2018-02-09 06:47] ChiFang commented on #126
@aseemw  here is my .pb and .py about how I convert
https://github.com/ChiFang/question/blob/master/coremlBug.rar

[2018-02-09 13:50] ChiFang commented on #126
hi @aseemw  I think I found the root cause.
Once I replace  batch normalization from "tf.layers.batch_normalization" or "tf.contrib.slim_normalization" with "tf.nn.batch_normalization". IOS app won't return any error about .mlmodel.

[2018-02-09 17:49] aseemw commented on #126
Okay. Good to know. However, the converter should work with the other two variants of BN as well. I'll keep this issue open and look into the .pb that you have attached.

[2018-02-09 20:37] aseemw commented on #126
Hi @ChiFang The link you posted above is not working.

[2018-02-10 05:49] ChiFang commented on #126
hi @aseemw  I remove it before because I think you douwnload already...sorry
I already upload again ^^

[2018-02-10 17:26] aseemw commented on #126
I downloaded it, you can remove it if you want now!

[2018-02-12 11:54] shdtech opened #128 "i don't see use cpu only option"
i successfully converted pb to coreml and used it on GPU, but i cannot find the option to use cpu only as i see in the documentation of the CoreML framework

[2018-02-12 12:50] #128 closed

[2018-02-13 08:56] ChiFang commented on #126
Hi @aseemw I already convert my frozen .pb file to .mlmodel. (I have verified my .pb file predict result)
and use scripts in the utils/ to check .pb and .mlmodel

But my output by  .mlmodel (with Mac) is wrong compare to Tensorflow prediction by .pb file.
My input range is 0~1 without bias, so I call the convert just with:
tf_model_path, mlmodel_path, output_feature_names and input_name_shape_dict

[2018-02-13 15:25] shdtech opened #129 "value Mismatches between python pb model and mlmodel in objective c"
i have successfully converted models and used them in the last few weeks, this new model having mismatches in the output between python pb model and the mlmodel in objective c, this time inputs are normalised, it runs on the gpu.
for example the first pixel output in python is: -0.0009627791, while in objective c:-0.000590801239, i have mismatches in all pixels, all inputs are float32. i cut down

[2018-02-13 18:38] aseemw commented on #126
Okay. Good to know that .mlmodel with coremltools gives correct predictions with TF. This means conversion was correct.
Now for debugging your app results in Mac I have a few questions:

- How did you compare the predictions in python using coremltools. Did you feed in a numpy array or a PIL image to the .mlmodel?
- What is the input type of your mlmodel? Is it an image or multi array? If its an i

[2018-02-13 20:51] aseemw commented on #129
I think first of all, you should be looking at relative errors, especially for output values that are high.

There is some loss of precision in the GPU path as it uses Float 16. If the values (product of input and weights) are very small, there can be underflow, which means smaller values are rounded to zero.
In this model, all the outputs are really small (~less than 10^-3/4).
Ideally the network

[2018-02-14 01:33] ChiFang commented on #126
wel... the .mlmodel with coremltools don't gives correct predictions. It just work without runtim evalidator error lol~~

my environment:
**training**: Ubuntu 16 with tensorflow 1.5 gpu version
**verify**: Mac with tensorflow 1.5 **cpu** version, last version coremltool and build from source tfcoreml
input: image read by opencv and scale range to  [0,1] by myself. (it's numpy array)
I have verifie

[2018-02-14 08:23] aseemw commented on #126
Can you update and run against PR #130. It should handle the model you had attached in https://github.com/ChiFang/question/blob/master/coremlBug.rar

[2018-02-14 15:03] CR-Ko commented on #126
@aseemw , Thank you for your prompt assistance. This is very helpful.

[2018-02-16 18:03] #126 closed

[2018-02-16 18:03] #129 closed

[2018-02-19 14:13] jacogreyling opened #131 "Numerical correctness issue"
Hi,

I'm trying to convert a pre-trained model (TensorFlow) created by David Sandberg as part of the FaceNet (https://github.com/davidsandberg/facenet) project but I'm getting some anomalies. The project does not output classifications BUT it returns the embeddings for a particular image. I'm able to convert the model to CoreML but when I run the 'ssd_example.ipynb' playbook (obviously modified to

[2018-02-19 18:48] aseemw commented on #131
The CoreML output and TF output will never match exactly. Reasons for that:
- the default execution path for CoreML (GPU) uses lower precision (float 16)
- even when the forceCPU flag is used to use the float 32 bit path, there might be differences because of different optimized algorithms used to evaluate convolutions

[2018-02-19 22:35] aseemw commented on #131
Yes it looks correct and you should be able to use it in your iOS app.
Although it wouldn’t hurt to first try it in python with the actual data that you expect in your app. For example if you are doing detection you can plot the bounding boxes and check whether they match reasonably with the ones you get with TF.

How much accuracy you really need depends on your application. For instance, in clas

[2018-02-20 07:45] jacogreyling commented on #131
Thank you @aseemw, you're a star! I'll go ahead and close the issue.

[2018-02-20 07:45] #131 closed

[2018-02-21 04:34] chinegro21 opened #132 "PyPi is not updated"
Installing from PyPi does not work on machines using Python 3.

[2018-02-22 13:03] jonas-arkulpa opened #134 "Python 3 issue - TypeError: a bytes-like object is required, not 'str'"
We've an issue related to Python 3.
I'm able to convert my model with Python 2.7 but not with 3.6.
As it is working with Python 2 a fix isn't urgent for us.

Conversion script:
[code]
[code]

The following error occurs if I try it with Python 3:
[code]
System: Ubuntu 17.10
Built from current master: https://github.com/tf-coreml/tf-coreml/commit/e8db7a836c1c8164ebdc9e37738db8e00cf2537f
with: pip in

[2018-02-22 19:07] aseemw commented on #134
@jonas-arkulpa Can you check in PR #135 resolves this issue.

[2018-02-23 10:43] jonas-arkulpa commented on #134
@aseemw Thanks for the fast fix. Works perfect with this change.

[2018-02-23 13:37] GhostGengar opened #136 "Issue with split op"
Hi there,

Thank you for a really exciting project. I am getting the following error when trying to convert my AlexNet model

`NotImplementedError: Unsupported Ops of type: Split`

Is there any way that you can add support for `split` op?
Thank you

[2018-02-23 18:15] #134 closed

[2018-02-23 22:46] aseemw commented on #136
Hi, can you pull PR #137 and check whether it works for the AlexNet model you are trying to convert.

[2018-02-24 07:34] GhostGengar commented on #136
Hi, thanks for your response. It looks like the problem still retains. Below is the full error message
`  File "/Users/lukedinh/Environments/python27/lib/python2.7/site-packages/tfcoreml/_tf_coreml_converter.py", line 483, in convert
    predicted_probabilities_output=predicted_probabilities_output)
  File "/Users/lukedinh/Environments/python27/lib/python2.7/site-packages/tfcoreml/_tf_coreml_conve

[2018-02-26 18:36] aseemw commented on #136
You should not be getting that anymore. Make sure you have checked out the PR branch and have installed the local repo (using pip install -e .)

You should be able to run this test:
`pytest tests/test_tf_converter.py::TFSimpleNetworkTest::test_split`

[2018-03-01 02:26] shishaozheng commented on #107
@vonholst @madhavajay @vincentchu Thank you so much! This is the only detailed solution that I found on internet to use tensorflow  ssd model with coreml . And it indeed give me a great help!

[2018-03-01 07:14] #136 closed

[2018-03-02 08:26] shishaozheng opened #138 "The output generated with tf.stack can not be convert correctly in coreml"
I trained a tensorflow model that the output Tensor Shape is [?, 20, 23] ， I stack  20 Tensors with shape [23] to this output tensor using tf.stack。After converting to coreml model, the output shape become [1,1,23,1,1]. Can anyone tell me how to get the correct output shape in coreml?

[2018-03-04 10:39] bowsplinter opened #139 "Input is a placeholder with incomplete shape (?, ?, ?, 3)"
I am trying to convert [this model](https://github.com/ildoonet/tf-pose-estimation/blob/master/models/graph/mobilenet_thin/graph_freeze.pb) to coreml.

This is the script I am using to convert:
[code]

I get the error:

[code]

Appreciate any help towards fixing it.

[2018-03-04 18:48] madhavajay commented on #107
@vonholst and @vincentchu did all the work, I just started the issue. 🤓

Also I would say that for anyone else if you watch Andrew Ng's DeepLearning CNN series it covers the YOLO algorithm and sliding windows / non max suppression really well:
https://www.youtube.com/watch?v=ArPaAX_PhIs&list=PLkDaE6sCZn6Gl29AoE31iwdVwSG-KnDzF

Anyone attempting to understand the output of the SSD should watch thos

[2018-03-04 20:38] aseemw commented on #139
The name of the input in the TF graph is "image:0" and not "input:0" which you are providing through input_name_shape_dict to the converter function.

[2018-03-04 20:40] aseemw commented on #138
tf.stack is currently not supported.
Can you give a few more details on what the graph you are trying to convert? Maybe a code snippet of the ops involved.

[2018-03-05 01:58] shishaozheng commented on #138
@aseemw Thanks and here is the code of the output layer
`
with tf.variable_scope('hidden10'):
    dense = tf.layers.dense(flatten, units=4096, activation=tf.nn.relu)
    hidden10 = tf.layers.dropout(dense, rate=drop_rate)

with tf.variable_scope('output1'):
    dense = tf.layers.dense(hidden10, units=23)
    output1 = dense

with tf.variable_scope('output2'):
    dense = tf.layers.dense(hidden10,

[2018-03-05 04:03] bowsplinter commented on #139
cheers, that and changing the output_feature_names from `['import/Openpose/concat_stage7:0']` to `['Openpose/concat_stage7:0']` fixed it! thanks

[2018-03-05 04:03] #139 closed

[2018-03-05 06:09] shishaozheng commented on #138
I have tried export 20 outputs instead of stacking them. but after exported to coreml, these 20 outputs is disorder,  It is difficult to organize them to correct order.

I also tried using tf.concat instead of tf.stack. but an error occurred when converting:
AssertionError: Concat axis case not handled

[2018-03-08 21:46] aseemw commented on #138
There is a bug in the converter in the way it handles the "pack/stack" TF op. It just skips these op types. This op is not really supported by CoreML so the converter should error out with an informative message.

For your use case, you could use the tf.concat instead. The case should be handled after PR #141 is merged. Kindly look at the PR and the unitest added in it. You can test your model on

[2018-03-08 23:37] aseemw opened #142 "Properly handle Pack/stack ops"
Currently these are skipped. Which is fine for most models, in which pack/stack is used to convert a bunch of scalars (0-D vectors) into a 1-D vector, which anyways gets optimized away. But in general this can lead to erroneous conversions.
See issue #138

[2018-03-16 12:17] PIRANAVARUBAN opened #143 "Slice case not handled"
Traceback (most recent call last):
  File "/Users/4axis_admin/PycharmProjects/coverter/convert.py", line 4, in <module>
    output_feature_names = ['add_37:0'])
  File "/Users/4axis_admin/PycharmProjects/coverter/tfcoreml/_tf_coreml_converter.py", line 483, in convert
    predicted_probabilities_output=predicted_probabilities_output)
  File "/Users/4axis_admin/PycharmProjects/coverter/tfcoreml/_tf

[2018-03-16 16:50] aseemw commented on #100
Closing now. Can be opened when there is more information.

[2018-03-16 16:50] #100 closed

[2018-03-16 16:51] aseemw commented on #104
Closing now. Can be opened when there is more information.

[2018-03-16 16:51] #104 closed

[2018-03-16 16:51] aseemw commented on #110
Closing now. Can be opened when there is more information.

[2018-03-16 16:51] #110 closed

[2018-03-16 16:51] aseemw commented on #117
Closing now. Can be opened when there is more information.

[2018-03-16 16:51] #117 closed

[2018-03-16 16:51] aseemw commented on #121
Closing now. Can be opened when there is more information.

[2018-03-16 16:51] #121 closed

[2018-03-17 10:52] PIRANAVARUBAN commented on #143
file
[untitled folder 2.zip](https://github.com/tf-coreml/tf-coreml/files/1821515/untitled.folder.2.zip)

[2018-03-17 11:59] PIRANAVARUBAN commented on #143
This is the pb file i have

[2018-03-18 02:37] Jon889 opened #144 "compiler error: Failed to copy empty or invalid weights to kernel"
I'm trying to convert a retrained [model](https://github.com/tf-coreml/tf-coreml/files/1822292/frozen_inference_graph_fe.pb.zip) based on the SSD MobileNet to CoreML. However I get the followed error:

[code]

The complete output is [here](https://pastebin.com/BvcDJjSM)

This is after the CoreML model has been saved, however it doesn't seem to be valid in that the outputs are not matrices
<img wid

[2018-03-20 05:40] PIRANAVARUBAN commented on #143
Now i get this error
Automatic shape interpretation succeeded for input blob img_placeholder:0
6/553: Converting op name: Variable_47/read ( type:  Identity )
8/553: Converting op name: Variable_46/read ( type:  Identity )
13/553: Converting op name: moments_15/normalize/divisor ( type:  Reciprocal )
16/553: Converting op name: Variable_45/read ( type:  Identity )
20/553: Converting op name: Varia

[2018-03-21 06:48] PIRANAVARUBAN commented on #143
In this pb file i face Slice Issue

5/570: Converting op name: convt3/scale/read ( type:  Identity )
7/570: Converting op name: convt3/shift/read ( type:  Identity )
12/570: Converting op name: moments_15/normalize/divisor ( type:  Reciprocal )
15/570: Converting op name: convt3/weight/read ( type:  Identity )
19/570: Converting op name: convt2/scale/read ( type:  Identity )
21/570: Converting op

[2018-03-21 13:46] SlZeroth opened #145 "tensorflow pb to coreml error"
COMMAND : tf_converter.convert(tf_model_path = 'model.pb', mlmodel_path = 'ten.mlmodel', output_feature_names = ['softmax:0'], input_name_shape_dict = {'input:0': [1,256,256,3]})

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "tfcoreml/_tf_coreml_converter.py", line 483, in convert
    predicted_probabilities_output=predicted_probabilities_output)
  File "tfcoreml

[2018-03-21 15:53] #144 closed

[2018-03-22 00:13] amanmeetgarg opened #146 "NotImplementedError: Unsupported Ops of type: Unpack,Select"
I am trying to convert the squeezeDet model as per the repository [Here](https://github.com/BichenWuUCB/squeezeDet).

While converting a file from the .pb to .mlmodel I am getting the errors as below.

The command is as follow:

`tf_converter.convert(tf_model_path = tf_model,
                     mlmodel_path = out_mlmodel,
                     output_feature_names = ['bbox/trimming/bbox','probabi

[2018-03-22 06:59] PIRANAVARUBAN commented on #144
What did you did to solve the Issue ?

[2018-03-23 10:00] gi097 opened #147 "TypeError: Shape Translator missing for OP of type Pad."
Hi,

When I try to convert a deeplab model: http://download.tensorflow.org/models/deeplabv3_mnv2_cityscapes_train_2018_02_05.tar.gz

Using the following commands:
[code]
I get the following error:
`TypeError: Shape Translator missing for OP of type Pad.`,

But in the `README.md` there is written that `Pad` is supported. What is going wrong?

[2018-03-23 10:04] gi097 commented on #145
You are probably using a wrong input name. What's the model you try to convert?

[2018-03-23 17:29] aseemw commented on #147
Yes Pad is supported: https://github.com/tf-coreml/tf-coreml/blob/58fce0fdf86945995194ce101c00441e34a6c849/tfcoreml/_ops_to_layers.py#L38

Did you update your package to point to the latest master?

[2018-03-23 17:48] gi097 commented on #147
Yes, but it’s not in the dictionary:

https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_interpret_shapes.py

[2018-03-23 19:54] aseemw commented on #147
ah yes, can you try if adding the entry "'Pad': _identity" in that dictionary fixes the issue.

[2018-03-23 19:57] gi097 commented on #147
There are more ops which this graph is using which are not in de dictionary. I will try the method you provided. Will this not corrupt the generated model?I will post the result if it worked out.

[2018-03-23 20:03] aseemw commented on #147
Let me know what ops these are.
It will not corrupt the code, if you use "op_name: terminate".
"op_name: identity" could be used when that op does not change the dimensionality of the input blob (i.e. output and input have same rank).
I'll put up a PR adding more ops to this dictionary.

[2018-03-23 20:12] gi097 commented on #147
Okay, `Pad` and `ResizeBilinear` are needed by this graph and missing. I added the option `_terminate` as well as `_identity` in the dictionary.

Now it gives me the error `Reshape interpret shapes: Case not handled currently`, which means there must be done more to make this work.

[2018-03-24 05:51] aseemw commented on #147
PR #148 fixes these errors and has some other fixes as well.
However, the graph you linked cannot be converted. Converting using #148 will give the correct error message.
Currently, CoreML supports a limited version of the ResizeBilinear op, if the resize is equivalent to upsampling by an integer factor, that would work. Fractional upsampling is not supported currently.
Either, you can change the

[2018-03-24 08:06] gi097 commented on #147
Allright, thank you very much. I will try to fix the graph a bit. Will converting it to a quantized graph work?

[2018-03-24 16:09] PIRANAVARUBAN opened #149 "Error reading protobuf spec"
Core ML model generated. Saved at location: model_name.mlmodel

Core ML input(s):
[name: "img_placeholder__0"
type {
imageType {
width: 300
height: 400
colorSpace: RGB
}
}
]
Core ML output(s):
[name: "preds__0"
type {
multiArrayType {
shape: 3
shape: 400
shape: 300
dataType: DOUBLE
}
}
]
Traceback (most recent call last):
File "/Users/4axis_admin/PycharmProjects/coverter/convert.py", line 6, in
im

[2018-03-24 18:25] aseemw commented on #147
Quantized would not affect the shape of the blobs or the parameters of the resize layer.

[2018-03-24 18:38] gi097 commented on #147
I understand the shapes now indeed. I tweaked it all a bit but it did not work out. It would be really helpful if you could help me to convert this model to Core ML since I really need it for my project. Converting until that layer is not a good option I guess.

[2018-03-24 19:41] aseemw commented on #149
I have pushed fixes to PR #148, after which this network should work.
Does this network use Instance batch normalization? There is an open issue (#26) in converting such networks through tfcoreml and evaluating on GPU, due to overflow.
I think this network might have the same issue, however it should work accurately if you set the useCPUOnly flag to True.

[2018-03-24 19:46] aseemw commented on #146
Yes, unfortunately these ops are currently not supported by CoreML.
I think these ops are being used in the pre or post processing steps, so you should be able to remove them from the graph (e.g.: [ssd_example](https://github.com/tf-coreml/tf-coreml/blob/master/examples/ssd_example.ipynb) and convert rest of the network.
Maybe discussion here could also be helpful: issue #107

[2018-03-24 20:19] aseemw commented on #143
Please pull PR #148 and try again. Slice in this model can be converted to CoreML, I have added the converter support for it in the PR.
Also, the GPU/CPU discussion in issue #149 applies to this model as well.

[2018-03-24 20:25] aseemw commented on #147
How did you tweak it? Wherever you are defining the TF model architecture, you should make sure that the spatial resize of the image feature array occurs in integer multiples, instead of a fractional number.

Yes converting till that layer is not ideal at all, but since fractional upsampling (resize bilinear) is not supported in CoreML version 1, there is no other option. You should be able to con

[2018-03-24 20:38] gi097 commented on #147
Okay, too bad... I will try something else then. Thanks for your help so far!

[2018-03-26 04:39] PIRANAVARUBAN commented on #149
Core ML model generated. Saved at location: test1.mlmodel

Core ML input(s):
 [name: "img_placeholder__0"
type {
  multiArrayType {
    shape: 3
    shape: 400
    shape: 300
    dataType: DOUBLE
  }
}
]
Core ML output(s):
 [name: "preds__0"
type {
  multiArrayType {
    shape: 3
    shape: 400
    shape: 300
    dataType: DOUBLE
  }
}
]

Thanks aseemw it converts to mlmodel but
Earlier input is a

[2018-03-26 10:57] jay58 opened #150 "Error: The model does not have a valid input feature of type image"
Successfully Converted pb file to mlmodel.
![screen shot 2018-03-26 at 4 23 39 pm](https://user-images.githubusercontent.com/18693532/37902461-1ceb6df8-3112-11e8-9928-26277a31e9e1.png)

When using this model in the app then it says invalid input feature.

Then I compared it with ResNet50.mlmodel  and found that the input in Model Evaluation Parameters is different.

Resnet had following:
![screen

[2018-03-26 17:59] aseemw opened #151 "Make example notebooks python 3 compatible"

[2018-03-26 18:57] aseemw commented on #149
I updated the style_transfer_example.ipynb example in PR #152. Please take a look.
Does that answer your question?

[2018-03-26 20:42] aseemw commented on #150
I guess you are not passing the "image_input_names" argument while converting.
(you can take a look at the jupyter notebooks in the example folder)

[2018-03-27 04:20] PIRANAVARUBAN commented on #149
Yes It works.... thanks aeemw

[2018-03-27 04:20] #149 closed

[2018-03-27 04:20] PIRANAVARUBAN commented on #143
Solved Thanks... with pull 148

[2018-03-27 04:20] #143 closed

[2018-03-27 04:21] jay58 commented on #150
This is the conversion method that I am

coreml_model = tfcoreml.convert(
    tf_model_path=tf_model,
    mlmodel_path=coreml_model,
    input_name_shape_dict=input_shapes,
    output_feature_names=output_layer,
    image_input_names = ['image'],
    class_labels = tf_labels,
    red_bias = -1,
    green_bias = -1,
    blue_bias = -1,
    image_scale = 2.0/255.0)

[2018-03-27 05:16] jay58 commented on #150
Changed Following code:

coreml_model = tfcoreml.convert(
tf_model_path=tf_model,
mlmodel_path=coreml_model,
input_name_shape_dict=input_shapes,
output_feature_names=output_layer,
image_input_names = ['Mul:0'],
class_labels = tf_labels,
red_bias = -1,
green_bias = -1,
blue_bias = -1,
image_scale = 2.0/255.0)

[2018-03-27 05:16] #150 closed

[2018-03-27 13:07] DtechLabs commented on #145
I have the same error. Did you found solution?

[2018-03-28 03:29] Eddy-zheng opened #153 "NotImplementedError: Unsupported Ops of type: FIFOQueueV2,QueueDequeueV2"
I use the official latest model training interface of tesorflow. The multi parallel readers that read data from the dataset.

node {
  name: "parallel_read/common_queue_Dequeue"
  op: "QueueDequeueV2"
  input: "parallel_read/common_queue"
  device: "/device:CPU:0"
  attr {
    key: "_output_shapes"
    value {
      list {
        shape {
          unknown_rank: true
        }
        shape {

[2018-03-28 09:42] seantempesta commented on #147
@gi097:  Any progress?  I'm trying to convert the same model (well the MobileNet version).
@aseemw:  Can you elaborate on how to convert the model before and after the layer?  I'm trying to convert the MobileNet version of the DeepLab model and am stuck at the
[code]
The values for the reshape are input=1 and output=3.  That seems like it's also not that hard to implement?

[2018-03-28 12:53] gi097 commented on #147
Sorry, no progress yet. I am now trying to compile caffe instead.

[2018-03-28 16:47] aseemw commented on #147
@seantempesta Hopefully the ssd_example notebook in the examples folder should explain the process. Basically you'd cut two chunks of the TF model before and after the unsupported op and then convert them separately. You can visualize the TF graph to figure out the the correct op and input and output tensor names or use the inspect_pb.py script in the utils folder.
Hopefully this process will beco

[2018-03-28 17:04] gi097 commented on #147
@seantempesta we can take a look and try to fix this together?

[2018-03-29 02:46] seantempesta commented on #147
@aseemw:  This script will generate the checkpoint and the frozen graph for the MobileNet version of the model I'm trying to convert.

https://github.com/tensorflow/models/blob/master/research/deeplab/local_test_mobilenetv2.sh

I tried adding some code to handle the reshape case, but then all sorts of strange errors started happening so I likely didn't do it right.  #120 does seem like the better

[2018-03-29 05:44] gi097 commented on #147
@seantempesta Great! Could you send me that converted model if you don’t mind? See my email on Github.

I am trying to port caffe, since I wanted to try SegNet, which seemed to be very fast.

[2018-03-29 05:47] sndre opened #154 "Allow input of arbitrary shape"
I'm trying to convert fully-convolutional network from TensorFlow to CoreML. In TensorFlow, the input can be an image of arbitrary size hence the initialization for Placeholder is as follows:

[code]

When trying to convert this network to CoreML:
[code]

I get the following error:
[code]

Does it mean that CoreML doesn't support fully-convolutional networks with input of arbitrary size?

[2018-03-29 06:24] aseemw commented on #147
@seantempesta you won't get the reshape error if you use the latest master of tcoreml

Both the models can be converted up to the input of the last resizeBilinear op ("ResizeBilinear_3") which is not supported.
So use the output of the "ResizeBilinear_2" op as the final output for the converter (circled in red below)

(Visualized here using [Netron](https://github.com/lutzroeder/Netron))

<img wid

[2018-03-29 06:27] aseemw commented on #154
No, it doesn't.
At the moment, CoreML requires a fixed input size to be baked in.

[2018-03-29 16:07] sndre commented on #154
@aseemw, thanks for the quick reply! 🙌 Any tentative plans to support it?

[2018-04-02 01:48] tonycap opened #156 "AssertionError: Strided Slice case not handled"
I have tried to convert the model given in the README.md. The following code raises an exception.
[code]

 I see the stridedslice has implement.  what happen to it ?

[2018-04-02 11:14] WhereIsNaN opened #157 "Could not find a version that satisfies the requirement tfcoreml (from versions: )"
User-:~ user$ pip install -U tfcoreml
Collecting tfcoreml
  Could not find a version that satisfies the requirement tfcoreml (from versions: )
No matching distribution found for tfcoreml

[2018-04-02 17:37] aseemw commented on #157
Can you specify more details about your system config?
Pypi currently only has python 2 package.
Does `pip install -e .` work when you run it from the root of the cloned repo?

[2018-04-02 17:39] aseemw commented on #153
You should strip the graph of Queue-related ops, which are not supported as they are used for feeding training data, which does not make sense for CoreML as its an inference library.

[2018-04-02 17:41] aseemw commented on #156
Not all configurations of StridedSlice are supported (reflected in the asterisk beside this op mentioned in the readme.md).
Which model from the Readme.md file are you trying to convert?

[2018-04-03 01:35] Eddy-zheng commented on #153
OK. Thanks, it has been solved.

[2018-04-03 01:35] #153 closed

[2018-04-04 01:36] tonycap commented on #156
yes,  the model is nasnet.  it's not in the Readme.md.

[2018-04-04 01:45] aseemw commented on #156
Okay, it would be useful if you could share the model so that we can look at this particular case of StridedSlice and confirm whether it can be supported or not.

[2018-04-04 09:29] leonidas002 commented on #147
@aseemw do you convert the deeplab model success?  I ran into the same problem and couldn't convert

[2018-04-05 15:06] madhavajay commented on #107
@vonholst @vincentchu Hey guys, theres no issues on the example repo:
https://github.com/vonholst/SSDMobileNet_CoreML

I was tracking the TF Lite progress here:
https://github.com/tensorflow/tensorflow/issues/15633

From the developer at google andrewharp:
[code]

Seems like there might be a chance to re-use the post processing from SSDMobileNet_CoreML demo and add some pre-processing to get the T

[2018-04-05 15:31] vonholst commented on #107
@madhavajay Interesting! I don’t have a device at hand to try the android implementation. But it seems much of the iOS code should be similar. Swamped right now but will try as soon as I get a chance.

[2018-04-05 17:42] madhavajay commented on #107
Yeah no worries, I have an Android device so I could provide some debugging. Whats the main thing you want to know? The inputs / outputs of the Android TF Lite model in Android Studio?

Also I might try and get the model loaded up in TF and poke around to understand it a bit better. Also super busy but seems like this could be a good contribution of the code to the TensorFlow repo. :)

[2018-04-07 16:44] Dineshvijay commented on #153
@Eddy-zheng pls share the steps for removing ops

[2018-04-10 05:54] younatics opened #158 "How to write author in my model?"
<img width="238" alt="2018-04-10 2 54 20" src="https://user-images.githubusercontent.com/6335975/38538489-126483ba-3ccf-11e8-85d3-b004396bb33b.png">

Is there any way to fill this section?

[2018-04-11 06:38] younatics opened #159 "AssertionError: ArgMax: Axis translation case not handled currently"
Is there any plan to support argmax?

[2018-04-11 07:01] aseemw commented on #159
Kindly specify more details about your use case.

[2018-04-12 01:50] younatics commented on #159
Hello, @aseemw
Actually I can't find Argmax in pb file too.
So I think tf-coreml is not problem...!
Do you know how to import Argmax in pb file too...?

[code]
I made my last scope like this, but I can't find argmax graph neither pb file nor coreml. :(

[2018-04-12 02:26] younatics opened #160 "Tensorflow prediction gave me right answer but not in .mlmodel in iOS"
I made my DNN with 2 hidden layers and input data type is like this. `[None, 7]`
In my code, I input my data
`[[  16.           -3.           18.            6.          161.99995422    89.99995422   25.52429199]... ]]`
and gave me `16` which is correct answer in my model.

but after I initilze my model in iOS and gave `MLMultiArray `,
[code]
Softmax result gave me wrong answer.

Do you know how to

[2018-04-12 08:30] younatics commented on #160
I attached my frozen dnn file and coreml model.
[dnn.zip](https://github.com/tf-coreml/tf-coreml/files/1902038/dnn.zip)

[2018-04-12 17:18] aseemw commented on #160
Can you first check if they match when you use coremltools predict to get the output?

[2018-04-12 17:19] aseemw commented on #160
The outputs match when I use coremltools

[code]

[2018-04-12 17:41] kramer425 commented on #157
I had the same issue - this is what I had installed:

[code]

The `pip install -e .` command worked, however.

[2018-04-12 18:53] aseemw commented on #157
Not sure about the reason.
It could be because version of six is pinned to six==1.10.0, which is also pinned in [coremltools](https://github.com/apple/coremltools/issues/141) a dependency of tfcoreml.

[2018-04-13 00:41] younatics commented on #160
Hello @aseemw , Actually I got same result when I use it in iOS when I deleted derived data in Xcode.
It is my fault. Thanks for sharing your time!

[2018-04-13 00:41] #160 closed

[2018-04-17 06:00] sndre opened #162 "Support for Quantized Operations"
I'm using TensorFlow's `transform_graph` tool to optimize my model for inference:

[code]

I then try to convert produced optimized model to CoreML model:

[code]

which yields the following error:

[code]

I guess quantized operations are not yet supported either by CoreML/TensorFlow converter, or by CoreML itself. Is there any ETA on this?

[2018-04-19 06:21] asdemon opened #163 "how to add some ops when it does not support"
I want to turn a tf model to coreml,when I use this tool to convert, it issues:

[code]

I want to know how I can add some ops to it when it does not support?

Thank you!

[2018-04-20 03:29] asdemon commented on #159
you use the argmax in
[code]

[2018-04-22 04:14] aseemw commented on #159
After PR #164 we should get a more informative error message. Can you try again after updating to the latest master.

[2018-04-22 04:24] aseemw commented on #163
Most of these ops are not supported by CoreML so they cannot be added to tfcoreml.
To implement unsupported layers in CoreML, there is an option of using [custom layers](https://developer.apple.com/documentation/coreml/core_ml_api/creating_a_custom_layer).
However, tfcoreml does not currently provide a way to insert custom layers in the .mlmodel directly during conversion. An issue is open trackin

[2018-04-22 04:25] #157 closed

[2018-04-22 04:27] aseemw commented on #145
Can you try again by pulling the latest master? A few fixed were pushed in PR #161

[2018-04-22 04:30] johnyquest7 opened #165 "Coreml conversion issue while using InceptionV3"
I am trying to convert a tensor flow model created using tensor flow hub following the standard broiler plate code. Base model used for the model was inceptionv3

[code]

**This generated following output**

input(s):

name = Placeholder:0, shape: (?, 224, 224, 3),

input(s):

name = module/conv0/weights:0, shape: (3, 3, 3, 32),

input(s):

name = module/conv0_bn/gamma:0, shape: (32,),

**Then I t

[2018-04-22 04:31] johnyquest7 commented on #165
Tried updating to the latest version of version. Still has the issue.

[2018-04-22 04:53] aseemw commented on #165
With the latest version do you see a different error message, that displays the input and output tensor shapes for the strided slice op ? That info will help in debugging.

[2018-04-22 05:35] johnyquest7 commented on #165
@aseemw input and outputs of module_apply_default/cell_stem_1/strided_slice

![stide_slice](https://user-images.githubusercontent.com/22123236/39091921-07526416-45c5-11e8-8a2e-7aca59e56d81.jpeg)

[2018-04-22 05:38] aseemw commented on #165
Instead of pip install, you need to install from source (since the pypi package is updated only periodically)

Install from source instructions: https://github.com/tf-coreml/tf-coreml#install-from-source

That is,
[code]

[2018-04-22 05:52] johnyquest7 commented on #165
@aseemw
New error message
AssertionError: Strided Slice case not handled. Input shape = [1, 112, 112, 32], output shape = [1, 111, 111, 32]

[2018-04-22 05:55] aseemw commented on #165
Okay.
Probably, this is something that can be handled in the converter I guess.
Can you attach the .pb model that you are trying to convert and I will take a look.

[2018-04-22 05:57] johnyquest7 commented on #165
[Inception_v3_US_output_graph.pb.zip](https://github.com/tf-coreml/tf-coreml/files/1935256/Inception_v3_US_output_graph.pb.zip)

[2018-04-22 06:10] johnyquest7 commented on #165
@aseemw were you able to download it

[2018-04-22 06:58] aseemw commented on #165
PR #166 should fix the issue.
Please check with that branch.

[2018-04-22 19:09] johnyquest7 commented on #165
Thanks a lot @aseemw. This solved the issue

[2018-04-22 19:09] #165 closed

[2018-04-23 05:10] PIRANAVARUBAN opened #167 "Cannot Convert This model"
Traceback (most recent call last):
  File "/Users/4axis_admin/PycharmProjects/coverter/test.py", line 47, in <module>
    input_name_shape_dict = {'img_placeholder:0'})
  File "/Users/4axis_admin/PycharmProjects/coverter/tfcoreml/_tf_coreml_converter.py", line 493, in convert
    predicted_probabilities_output=predicted_probabilities_output)
  File "/Users/4axis_admin/PycharmProjects/coverter/tfco

[2018-04-23 06:34] asdemon commented on #163
aseemw, thank you for your reply, I have used the TF graph transform tool to optimize the model, and it is useful, but there are ops that can't remove, I'll see the custom layers to see how to solve this.

[code]

[2018-04-23 17:08] aseemw commented on #163
can you attach the model or a Netron snapshot that shows how these unsupported ops are connected to the rest of the model architecture.

[2018-04-24 01:38] asdemon commented on #163
@aseemw I use tf.sparse_add and tf.gather_nd to mimic tf.nn.max_pool_with_argmax on CPU, because tf.nn.max_pool_with_argmax is only implemented on GPU, and I use  tf.scatter_nd to implement an unpooling op, it takes max values and their index, output an unpool maxtrix

[code]

[2018-04-25 10:46] DtechLabs commented on #145
Thanks.  Converted without errors. Great

[2018-04-25 17:11] #145 closed

[2018-04-28 04:01] FrozenGene commented on #91
@aseemw Thanks for your great posting, especially for the PR #92. However, I have one question, I will be very happy  if you would like to answer.

In the article(https://github.com/tf-coreml/tf-coreml/blob/master/examples/inception_v1_preprocessing_steps.ipynb),

Then I go to https://github.com/tensorflow/models/blob/edb6ed22a801665946c63d650ab9a0b23d98e1b1/research/slim/preprocessing/inception_p

[2018-04-28 05:26] aseemw commented on #91
In the notebook example, when the image is loaded through PIL,  the values are in the interval `[0,255]`. That is, values in the `img_tf` bumpy array are in that range. Hence scaling it by `2.0/255.0` brings it to `[0,2]` and subtracting 1 makes it `[-1,1]`.

In https://github.com/tensorflow/models/blob/edb6ed22a801665946c63d650ab9a0b23d98e1b1/research/slim/preprocessing/inception_preprocessing.py

[2018-04-28 06:26] FrozenGene commented on #91
@aseemw I understand it and your post is very detail. Thanks very much!

[2018-04-28 11:00] FrozenGene commented on #91
@aseemw The inception processing I understand completely. How about VGG Preprocessing? https://github.com/tensorflow/models/blob/edb6ed22a801665946c63d650ab9a0b23d98e1b1/research/slim/preprocessing/vgg_preprocessing.py#L319 I notice that tensorflow has two preprocessing methods. And vgg preprocessing is different completely than inception processing we talked before. And I don't find any restrict

[2018-04-28 17:14] egeola opened #168 "validator error decoding CoreML model"
Core ML model was successfully generated but I got this error:

RuntimeError: Error compiling model: "Error reading protobuf spec. validator error: Load constant layer 'dropout_6/random_uniform:0' encodes a data buffer of length 0 but should be 1024.".

Also see the same error on Xcode.
<img width="778" alt="screen shot 2018-04-28 at 1 08 55 pm" src="https://user-images.githubusercontent.com/46792

[2018-04-28 22:11] aseemw commented on #168
The frozen graph, has two inputs: the vector of length 784 (the actual input) and another scalar (which is actually the "keep_prob" input meant for dropout during training).

There are two things you can do:
- ideally, it would be best to remove the dropout portion and the corresponding input from the frozen graph and then convert.
I am not entirely sure how to do that. There are couple of forums

[2018-04-29 15:32] egeola commented on #168
Thanks @aseemw . I corrected the input dict with your suggestion and it worked.

[2018-04-29 15:32] #168 closed

[2018-04-29 15:50] FrozenGene commented on #91
Thanks, I think I got it.

[2018-04-30 06:27] younatics commented on #159
Currently, I will close this issue and reopen again if same error occurred.
Thanks!

[2018-04-30 06:27] #159 closed

[2018-04-30 16:41] ilovecv opened #169 "coreml model size is much bigger than frozen graph size"
Hi,

The size of the frozen graph is around 4MB. When I used tf-coreml to convert the frozen graph to coreml model, the resulting size is around 78MB, which is also larger than the checkpoint size. Do you know why? The model conversion from frozen graph to coreml model seems fine.
Thank you very much!

[2018-04-30 17:29] aseemw commented on #169
This is not expected.
Can you shed more details on the type of model?
Do TF and CoreML predictions match?

[2018-04-30 17:47] ilovecv commented on #169
Hi,
Thanks for the quick reply.
The model is an encoder-decoder style network for semantic segmentation. There are 5 denseblocks in the encoder and 5 denseblocks in the decoder. The input is an image with 256x256x3, and the output are semantic feature maps with 256x256x10.

Here are the frozen graph and coreml model files, I also include the inspection files generated by the visualization tool in

[2018-04-30 18:27] ilovecv commented on #169
Yes, I used the .pb file for convertion. Please see the new attachment.
I think maybe the problem is the dropout operation.
I found when I didn't use the dropout, the converted coreml model is almost the same size as the frozen model.

[coreml.zip](https://github.com/tf-coreml/tf-coreml/files/1961710/coreml.zip)

[2018-04-30 18:42] aseemw commented on #169
Yeah, maybe the dropout mask is being converted to the CoreML model and its big.
Since dropout is specific to training, yes the correct thing to do is to save out an inference graph without dropout and then convert the model.

[2018-04-30 18:49] ilovecv commented on #169
Do you know if there is a good way to remove the dropout operation?
I found a related answer [validator error decoding CoreML model #168](https://github.com/tf-coreml/tf-coreml/issues/168) here. But I am not very sure how to do it. Thanks!

[2018-04-30 19:41] aseemw commented on #169
No, I am also looking for the correct way to do it post freezing the graph!

[2018-05-01 00:01] ilovecv commented on #169
Hi, I retrained the network without dropout layer, so I got a coreml model with the size similar as the frozen graph model. However, the output of the TF and CoreML predictions are different.

The pb, mlmodel and a test script are attached. The input image is normalized to (0, 1).
Could you please take a look at it? Thanks!

[coreml.zip](https://github.com/tf-coreml/tf-coreml/files/1962530/coreml.

[2018-05-01 01:45] aseemw commented on #169
I think the model uses instance batch normalization but the converter was sort of ignoring that.
I have put up a fix at PR #170. Please try again with that branch.

[2018-05-01 02:15] ilovecv commented on #169
Thank you very much for your quick reply.
I tried it and it worked!

[2018-05-01 18:20] jgberg opened #171 "Support for Mobilenet v2 ?"
Will this work on MobileNet v2  ?

[2018-05-01 23:00] noorhashem commented on #80
@aseemw  I am using a custom trained faster rcnn inception v2 model ,when i am converting to coreml, should my output feature names be the last op i have in my my model summary? or the value of the last softmax layer i find?
this is the end of my model summary.
![screenshot from 2018-05-02 00-56-30](https://user-images.githubusercontent.com/11700198/39497572-3ac8c2d6-4da4-11e8-9c46-359bf3c26d24.pn

[2018-05-01 23:40] noorhashem commented on #80
[text_summary.txt](https://github.com/tf-coreml/tf-coreml/files/1965494/text_summary.txt)
 this is my model summary

[2018-05-02 00:02] noorhashem commented on #80
@aseemw i get this error
![screenshot from 2018-05-02 02-01-02](https://user-images.githubusercontent.com/11700198/39499184-b1df77fe-4dac-11e8-9f22-a70f40be7637.png)

I checked this link : https://hackernoon.com/integrating-tensorflow-model-in-an-ios-app-cecf30b9068d

[2018-05-03 07:51] MrThiago opened #172 "ImportError: No module named tfcoreml"
I have installed all the required packages.
Can you please advice ? thanks

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-5-77b5174f453f> in <module>()
----> 1 import tfcoreml
      2 mlmodel = tfcoreml.convert(
      3         tf_model_path = tf_model_path,
      4         mlmo

[2018-05-03 20:25] amanmeetgarg commented on #128
@shdtech what was the syntax you found to use the useCPUOnly option .. I am in a similar situation as your query above.

[2018-05-05 23:05] shijianjian opened #173 "Add support for Ops of type: Switch,Merge,Tile"
-------
---Update:
Sorry for the mess, just realized control flow is currently not acheivable on coreml side.
Keep it open for now, I may help implement the tile operation

-----
I am trying to convert PointNet model into .mlmodel. It seems like some operations are still not supported, can you double check on it?
[code]

The corresponding methods are
[code]
I failed to evaluate (tf.cond()) nodes,

[2018-05-07 01:42] FrozenGene commented on #147
Convert successfully? I will also need this tf model

[2018-05-07 07:39] gi097 commented on #147
Not for me, I just stopped trying.

[2018-05-08 11:15] 082rakesh opened #174 "Issue Converting TensorFlow retrained Model to Core ML Model"
I am running the following commands and getting this result.

<img width="807" alt="error" src="https://user-images.githubusercontent.com/1956785/39754203-101a3e4e-52df-11e8-9a99-0e878a7810fe.png">

Background:
I have cloned tensorflow for poets-2 modal from the below link
https://github.com/googlecodelabs/tensorflow-for-poets-2
and retrain with the below script

python scripts/retrain.py --output

[2018-05-08 15:27] Higgins2718 commented on #174
Looks like you might have the wrong value for output_feature_names. Retraining the model changes the name of the output layer. You can download a program called Neutron on your Mac/PC to inspect the .pb file. Look at the name of the output layer and update your conversion file accordingly.

[2018-05-09 06:15] 082rakesh commented on #174
Thanks for your suggestion Higgins2718. I have tried Neutron and also tried utils/inspect_pb.py to inspect pb files. Here is my pb details.
[text_file.txt](https://github.com/tf-coreml/tf-coreml/files/1986588/text_file.txt)

[2018-05-09 09:06] apoorvbagla opened #175 "Conversion from vgg16 to coreml"
I get the following error
 "%s is a placeholder with incomplete shape %s" %(input_name, str(shape)))
AssertionError: input_1:0 is a placeholder with incomplete shape (?, 224, 224, 3).
I know there is no support for arbitrary input shapes but is there a way to over come this.
I am trying to train vgg16 for a custom dataset.

[2018-05-09 14:52] Higgins2718 commented on #174
Sure! If you scroll down to the bottom of text_file.txt (layer 514), you can see name = final_result:0.

In your conversion script, replace "Softmax" with "final_result:0". If you didn't retrain the model, Softmax would be correct. However, retraining adds this final layer to the model.

For reference, here's my conversion file with RGB biases:
[code]

If you try your model on a smartphone and you

[2018-05-09 16:12] 082rakesh commented on #174
Thanks for your input @Higgins2718 but no luck. I tried the same but still getting the same error. My changed converter..

import tfcoreml as tf_converter

tf_converter.convert(
    tf_model_path = "tf_files/quatized_graph.pb",
    mlmodel_path = "InceptionV3.mlmodel",
    output_feature_names = ['final_result:0'],
    )

So far I did :
I retrained the graph using

python scripts/retrain.py --outp

[2018-05-09 16:15] Higgins2718 commented on #174
Hmm. Could you show me the traceback from running converter.py?

[2018-05-09 17:05] 082rakesh commented on #174
I am new in python. May I know how do I get the traceback from running converter. I tried
 import traceback
traceback.print_stack()

within converter.py.

[2018-05-09 17:08] Higgins2718 commented on #174
Sure. Open up terminal. CD into the directory with converter.py.

Then, type "python converter.py" into terminal and copy the output of the program. Finally, comment it here and we can find the root of the problem.

[2018-05-09 17:09] 082rakesh commented on #174
python converter.py
dyld: warning, LC_RPATH $ORIGIN/../../_solib_darwin_x86_64/_U_S_Stensorflow_Spython_C_Upywrap_Utensorflow_Uinternal.so___Utensorflow in /Library/Python/2.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so being ignored in restricted program because it is a relative path
2018-05-09 22:39:32.224087: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU suppo

[2018-05-09 17:13] Higgins2718 commented on #174
Ah, I think I see what's going on. Would you mind showing me your updated converter.py?

[2018-05-09 17:15] 082rakesh commented on #174
<img width="1323" alt="screen shot 2018-05-09 at 10 44 44 pm" src="https://user-images.githubusercontent.com/1956785/39828983-9b22f642-53da-11e8-8009-77f57a28de03.png">

[2018-05-09 17:20] Higgins2718 commented on #174
You have a typo in tf_model_path. It should be "quantized" instead of "quatized"

Try this:

[code]

I think your problem is not including the input_name_shape_dict, image_input_names, and class_labels

[2018-05-09 17:43] 082rakesh commented on #174
As per your suggestion I have updated my converter but still the same. This time error starts from last variable, if I delete class label, then next one and so on..

updated converter:

import tfcoreml as tf_converter

class_labels = 'retrained_labels.txt'
image_input_name = ['input:0']
input_tensor_shapes = {"input":[1,229,229,3]} # batch size is 1

tf_converter.convert(
    tf_model_path = 'tf_f

[2018-05-09 17:45] 082rakesh commented on #174
Yeah, I have typo but that I did while creation of graph. So my file name is tf_files/quatized_graph.pb only.

[2018-05-09 17:59] shijianjian commented on #173
Not possible to implement tf.tile for now, coremltools does not support it.

[2018-05-09 17:59] #173 closed

[2018-05-09 18:17] Higgins2718 commented on #174
Hmm. You're right— it might be wise to start over on the conversion process.

Check out  test_pretrained_models.py. The file provides examples for tensorflor -> coreML conversions. It might be just what you need.

[2018-05-09 21:25] aseemw commented on #174
In the "test_file.txt" that you attached, look for "op type = ( Placeholder )". This is the op that feeds in the input. You'd see that the output name for that op is "Mul:0". This should be your input. Hence,
`input_tensor_shapes = {"Mul:0":[1,229,229,3]} # batch size is 1`
You could also find the input name by visualizing the model using Netron and looking at the summary tab.

Please go through t

[2018-05-09 23:26] aseemw commented on #171
Yes it should. V2 uses similar ops as V1.

[2018-05-09 23:27] #171 closed

[2018-05-10 08:43] 082rakesh commented on #174
Thanks @aseemw. I am able to generate. I changed input_tensor_shapes and image_input_name. @Higgins2718 Thanks for your quick turnaround.

[2018-05-10 08:43] #174 closed

[2018-05-10 23:25] #169 closed

[2018-05-14 14:17] scsonic commented on #26
is the GPU issue fixed? or this is the problem of coreml @@ it's all nan on real iphone but works fine on iphone emultator.

[2018-05-16 09:32] duplex143 commented on #172
I'm also facing the same issue. Has it something to do with $PATH?
Btw, it should be `cd tf-coreml` instead of `cd tfcoreml`

[2018-05-16 13:40] shijianjian opened #177 "Issue with Mean, Argmax"
I am facing issues with Mean, Argmax ops.

Since I am processing 3D point clouds than regular 2D images. Hence the input is not essentially (S, H, W, C). My input is (S, points, C). Due to the fewer dimensions, those errors comes out:

With Mean op:
Mean axis case not handled currently. Input shape = [1, 256], output shape = [1, 256], axis_ind = [0]

With Argmax op:
Mean axis case not handled curr

[2018-05-16 21:38] aseemw commented on #177
Please see my comments in the PR #178.

The argmax case will be difficult to handle without potentially breaking some other models.
Can you share the model you are using? There might be other ways of dealing with it.

[2018-05-16 23:04] shijianjian commented on #177
@aseemw Thanks for your input of the CoreML logics.

The model I am using is from [PointNet](https://github.com/charlesq34/pointnet), I cannot post the whole model here, I will give the gist related to this particular issue.

In our case, the sample input is (10, 4096, 9) which represents 10 batches of pointclouds, 4096 points and 9 channels in each pointcloud.

This is the main model:
[code]
Whil

[2018-05-17 00:01] shijianjian commented on #177
By the way, I have tried to compile the TF model to CoreML model using the code I implemented. I seems like all goes well. It did produce a .mlmodel while the process hangs after
[code]
I can't even stop the process with **ctrl+c**

I tried with the latest commit again
[code]
By your implementation, there are one more step forward which is (**8617/8643**) while I am not sure but it seems like a fe

[2018-05-17 01:04] aseemw commented on #177
The conversion should stop after the "output_fearure_name" is reached. So it doesn't need to go till the last op.

Its surprising that the program is hanging, especially after it has saved out the .mlmodel file, after that it should just exit while returning the MLModel.

So with the latest master + your tweak for the argmax op, is the mlmodel produced valid? That is, does it give same predictions

[2018-05-17 08:42] FrozenGene commented on #147
@aseemw Could you explain why ResizeBilinear_3 not be supported? For the input ImageSensor, why we don't need to do like SSD-MobileNet(drop the preprocess)?

[2018-05-17 09:00] FrozenGene commented on #147
I find report this error: AssertionError: Resize Bilinear: height upsampling factor must be an integer (input height = 65, output height = 513)

[2018-05-17 10:57] shijianjian commented on #177
I think none of our works works on my model.

The hanging point comes from the last line of convert(...) function
[code]
The coremltools itself could not read the converted model file. I think that is why it hangs, it may be some unexpected errors inside. I tried to debug this while there is an **libcoremlpython.so** package in coremltools project that I cannot access.

When I import those .mlmode

[2018-05-17 19:48] aseemw opened #180 "Add a check that "predicted_probabilities_output" argument matches the output length"
(e.g.: issue #177 )

[2018-05-17 19:52] aseemw commented on #177
A few comments:
- `saved_model.pbtxt` is a binary file, so it should be renamed to `saved_model.pb` for clarity
- The output of the TF graph `output/Squeeze:0` is a 4096 length vector. So `predicted_probabilities_output` must be of the same length.
- `input/Placeholder_1:0` is a dropout related input. Ideally it should be removed from the frozen graph, but I'm not sure how to do that. However, its

[2018-05-17 19:54] aseemw commented on #177
Looking at the text summary (/utils/inspect_pb.py) of the frozen graph, I see

OPS counts:
RealDiv : 1
Slice : 1
ExpandDims : 1
RandomUniform : 1
Floor : 1
ArgMax : 1
Softmax : 1
Pack : 1
MaxPool : 1
Placeholder : 2
MatMul : 2
ConcatV2 : 3
Conv2D : 8
Relu : 9
StopGradient : 9
Rsqrt : 9
SquaredDifference : 9
NoOp : 9
BiasAdd : 10
Mean : 18
Add : 20
Squeeze : 20
Mul : 47
Sub : 65
Identity : 74
Resha

[2018-05-17 20:01] aseemw commented on #177
The input `input/Placeholder:0` has shape `(1, 4096, 9)`, but the the first operation it undergoes is `expand_dims` and it becomes 4-rank `(1, 4096, 9, 1)`. Since the tfcoreml converter is generally much more stable when dealing with rank-4 tensors its better to re-freeze the graph such that its input is 4-rank.

Here is how you can do it (copying a bunch of code from one of the jupyter-notebook e

[2018-05-18 01:51] FrozenGene commented on #147
@aseemw No, SSD-MobileNet doesn't have resize bilinear. It has input named ImageSensor as deeplab. But we cut the preprocess step:

I asked this question just because they have the same type and name: ImageSensor. But SSD we need to to cut but for deeplab we don't.

These workarounds specify that we can not modify code to accomplish it, right? we have to stop at layer of Resize_Blinear and add cod

[2018-05-18 08:32] FrozenGene commented on #147
@aseemw I just find one bug of our resize_bilinear, we don't consider resize_bilinear cooperation with squeeze.
This is tensorflow output:
![image](https://user-images.githubusercontent.com/7287321/40224353-79445284-5ab8-11e8-8144-bb04d9797dae.png)

And after squeeze:

![image](https://user-images.githubusercontent.com/7287321/40224378-91afc38a-5ab8-11e8-890c-fe2fe1141031.png)

CoreML:
We use upsa

[2018-05-18 09:29] shijianjian commented on #177
@aseemw Thanks for your comments. They are pretty helpful.

Originally, the model used **tf.tile()** operation which is not supported by **tf-coreml**. Hence I changed it to **tf.concat()** for converting.

I realized where the problem lies by going through your comments. So I manually implemented the **tf.tile()** method.

Here is the numpy implementation.

I put my numpy implementation in this [

[2018-05-18 20:23] aboodi46 opened #181 "Cannot feed value of shape (1, 1000, 1500, 3)"
Hi,

when I try examples of inception_v1 the dog picture prediction gave me the this error

Cannot feed value of shape (1, 1000, 1500, 3) for Tensor 'input:0', which has shape '(1, 224, 224, 3)'

any Idea?

thanks

[2018-05-18 21:52] aseemw commented on #177
PR #179 might be useful in this case. You should check that out.

[2018-05-18 22:02] aseemw commented on #147
Checkout PR #179 that should make adding the custom layer easier.

NN stands for nearest neighbor interpolation and the other one is bilinear interpolation.
Conversion from CoreML model should be straightforward, even when it has a custom layer, since the description of that layer can hold all the parameters.

[2018-05-20 17:45] skercher commented on #107
@vonholst SSDMobileNet_CoreML is awesome!   Thanks for sharing.

I am trying to replicate your conversion of the pb file to mlmodel using:
https://github.com/tf-coreml/tf-coreml/blob/master/examples/ssd_example.ipynb

I updated the conversion:
[code]

But still seeing issues when running with the new mlmodel.
On line 172 SSDPostprocessor.swift
`let score = classPredictions[offset(klass, box)].doub

[2018-05-21 01:57] FrozenGene commented on #147
Thanks for answering. So, could we solve the bug of ResizeBilinear after Squeeze?

[2018-05-21 01:59] aseemw commented on #120
PR #179 adds the ability to add custom layer proto messages during conversion.

[2018-05-21 01:59] #120 closed

[2018-05-21 02:00] aseemw commented on #163
See PR #179

[2018-05-21 02:01] aseemw commented on #146
You can use custom layers for unsupported ops: PR #179

[2018-05-21 02:04] aseemw commented on #147
"The output is [1, 3,513, 513] and loadConstant is [3, 1, 1] We can not elementwise_add it."

I think this should not be an issue. CoreML is able to add tensors [3,513,513] and [3,1,1].
Do you have a Coreml model that shows an error? A reproducible case with specific steps will be useful. If you do, please open a new issue as well. This one was originally about the pad op, which has been solved.

[2018-05-21 04:38] ShiFangjun opened #182 "AttributeError: module 'tfcoreml' has no attribute 'convert'"

[2018-05-21 05:52] aseemw commented on #147
Its giving error because input type is int, whereas it should be float
`image = np.asarray(img).astype(np.float32)`

[2018-05-21 05:55] aseemw commented on #182
Please provide more details.

[2018-05-21 10:41] #182 closed

[2018-05-21 18:28] aseemw commented on #147
Doesn't it mention there that the set of broadcast able shapes are {[1], [C], [1, H, W], or [C, H, W]} ?

[2018-05-22 01:31] FrozenGene commented on #147
You are right. I just saw it. If I could saw it before, I would save much time :-(

[2018-05-22 07:06] aseemw commented on #132
tfcoreml 0.2.0 has been pushed to PyPi.

[2018-05-22 07:06] #132 closed

[2018-05-22 07:06] #147 closed

[2018-05-24 23:55] evanb2 opened #187 "Testing mlmodel prediction"
I tried using the example code from `inception_v3.ipynb` but I'm executing my conversion script from within a Docker container and so `mlmodel.predit()` throws the following error:
[code]
How can I get around this? I just want a simple way to run a prediction through the mlmodel to test it's accuracy. My python knowledge is very limited.

Thanks!

[2018-05-25 16:10] aseemw commented on #187
Coremltools calls out to the CoreML framework (through pybind c++ bindings) for actually running the engine and making predictions.

CoreML framework is only available on MacOS 10.13 or later.
I am not familiar with Docker, but can you make sure that you have access to the CoreML framework on it? (not sure how one would do that though)

[2018-05-26 05:07] FrozenGene opened #188 "CoreML convert tf's ArgMax output wrongly."
See tensorflow's output type:

![image](https://user-images.githubusercontent.com/7287321/40572705-7bf5abf8-60e5-11e8-837a-34d771493e87.png)

But CoreML's output type:

![image](https://user-images.githubusercontent.com/7287321/40572710-9f3d49b8-60e5-11e8-940f-641bdb8e7650.png)

Anyway we can specify the output's type to workaroud before we solve it? Thanks.

[2018-05-26 19:59] aseemw commented on #188
Yes that is a good point. This should be added to the converter. Let us keep this issue open to track this.
(Do you mind renaming this issue to something like "set input/output datatype correctly". This problem is not argmax related so the current title is a bit mis-leading).

In the meantime, you can set the datatype of input/output like this:

[code]

[2018-05-27 14:37] FrozenGene commented on #188
Thanks. Have modified the title.

[2018-05-28 05:48] FrozenGene opened #189 "ValueError: Graph has cycles"
When I convert tensorflow to CoreML, raise error: Graph has cycles. Model is here: https://github.com/mariolew/Deep-Alignment-Network-tensorflow

Sample Freezen Tensorflow model text file:
[protobuf.txt.zip](https://github.com/tf-coreml/tf-coreml/files/2043746/protobuf.txt.zip)

Any workaround I can do? For example transform-tools? Thanks.

[2018-05-28 22:06] aseemw commented on #124
Yes, YOLO model does not have cycles, so that should work.

[2018-05-28 22:10] aseemw commented on #189
See issue #124 and example "ssd_example.ipynb" in which there are cycles in the beginning and end of graph, but after stripping the middle portion, it can be converted. Visualizing using netron or [tensorboard](https://github.com/tf-coreml/tf-coreml/blob/master/utils/visualize_pb.py) will help you find the cycle free graph(s).

[2018-05-29 15:18] evanb2 commented on #187
@aseemw Ok so I ended up removing Docker as it was unnecessary to the project. I'm no longer having that environment issue.

However, when I try to run a test prediction I get this error:
[code]

[2018-05-30 10:34] Saiktdey395 commented on #172
Hi, I am facing a similar issue **ModuleNotFoundError: No module named 'tfcoreml'** when I run these commands in a python file or in Terminal-

import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = '/myFilePath/frozen_inference_graph.pb',
                     mlmodel_path = '/myFilePath/frozen_inference_graph.mlmodel',
                     output_feature_names = ['softmax:0'])

what

[2018-05-30 10:56] Saiktdey395 opened #190 "Issue in converting .pb model to .mlmodel"
Hi, I am facing an issue  **ModuleNotFoundError: No module named 'tfcoreml'** when I run these commands in a python file or in Terminal-

I have followed all the steps mentioned in https://github.com/tf-coreml/tf-coreml/blob/master/README.md

I used these commands to do the conversion-

**import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = '/Users/new_mac/Desktop/PBtoCoreML/tensor

[2018-05-30 19:41] evanb2 commented on #190
How did you install `tf-coreml`?

[2018-05-30 21:29] #187 closed

[2018-05-30 21:47] evanb2 opened #191 "Help converting retrained MobileNet model"
I've retrained a MobileNet model following the tensorflow-for-poets-2 tutorial, using images of food.

My model is using an image size of 224.

I've converted this model with the following code:
[code]
Here's the output:
[code]
To test the model inference I'm running this:
[code]
But I've tested several images and all I get is:
`$ Label = nothing`

I'm going back to retest the TF model, but I want

[2018-05-30 23:02] aseemw commented on #191
For debugging purposes, can you try using it without the "class_labels" argument first?
Also maybe you want to set the scale parameter as well.
(see inception_v1_preprocessing_steps.ipynb)

[2018-05-31 02:04] evanb2 commented on #191
Ok looks like the issue was setting the `image_scale=2.0/255.0` arg.

Now I'm correctly getting: `Label = bagel`

Can you explain what `image_scale` is doing here? And where the values `2.0/255.0` are derived from? I want to understand this better for future reference.

Thank you so much for your help!

[2018-05-31 04:29] aseemw commented on #191
Its value depends on the original script used for training the model. So you'll need to look there.

CoreML preprocessing applied the operation `scale * x + bias`,
so if input image pixel values are in the interval [0,255] and
scale=2/255, bias =-1, pre-processed values will be in the interval [-1,1] (I guess that is what mobilenet model uses for training)

[2018-05-31 04:29] #191 closed

[2018-05-31 10:04] Saiktdey395 commented on #190
Hi @evanb2  I used this command **pip install -U tfcoreml** in my Terminal to install tf-coreml.

[2018-05-31 15:56] JeremyGozlan opened #192 "Unsupported Ops of type: MaxPoolWithArgmax,ScatterNd"
Hey ! I can see those ops are still not in the list, will they be at any point?
If not, if there anything i can do?
Thanks a lot for all the work!!!

[2018-05-31 18:21] aseemw commented on #192
You can use custom layers, see PR#179

[2018-06-04 10:22] minhohihi opened #194 "Larger input image, Bigger model size"
I'm facing mlmodel size issue on iOS when implementing style transfer model. tfcoreml convertor makes mlmodel bigger when setting large input image size. Does size of mlmodel depend on size of input image? I think mlmodel size should be constant despite of input image size because mlmodel only contains weights trained.

[2018-06-04 19:20] aseemw commented on #194
Please provide details to replicate the issue.

[2018-06-05 05:57] AlysonQ opened #195 "Convert pb with two input and shows error"
Hi sirs,

Base on squeezenet , I  built a TensorFlow pb and did freeze_graph it. ([my pb file](https://drive.google.com/file/d/1z-I6aguLvIvsrQVzuKPvSlBARlUTGH1_/view?usp=sharing))
This pb has two input and one output.
**input:**
 name=batch_size, type=int32(3), shape=[1,160,160,3]
 name=phase_train, type=bool(10), shape=[1]
**output**
name=embeddings, op=Mul

Here is my convert code:

tf_converter

[2018-06-05 06:12] aseemw commented on #195
The error is raised because the second input's ("phase_train:0") shape has not been entered in `input_name_shape_dict`

It seems that the second input is training/dropout related, so it be great if you an remove it from the frozen graph. Issue #169 might be related

[2018-06-05 06:30] AlysonQ commented on #195
Thanks for your quick reply!
but what if that I lost my checkpoint file of this model?

[2018-06-06 18:50] arjunkhare opened #196 "Converting custom slice operations"
I'm trying to convert a model which has multiple Slice operations with different operation names by following the example in the custom conversion example notebook and I'm running into some trouble.

During the conversion process, I get multiple outputs into the console saying that all the slice operations I am trying to convert get added as custom layers, but after printing the layers in the conv

[2018-06-06 19:42] QuantumLeaves opened #197 "tf-coreml and coremltools 2.0b1 incompatible ?"
Could not find a version that satisfies the requirement coremltools>=0.8 (from tfcoreml) (from versions: )
No matching distribution found for coremltools>=0.8 (from tfcoreml)

[2018-06-06 20:36] arjunkhare commented on #196
![image](https://user-images.githubusercontent.com/11065339/41063788-828b9458-698e-11e8-9792-a672d8c0488e.png)

Here is an image of the architecture in the relevant area

[2018-06-07 07:21] lngvietthang opened #198 "Split op case not handled. Input shape = [1, 2600], output shape = [1, 650]"
This error happen when I try to convert my freeze graph to coreml model.
Split op is one ops of LSTMCell class.
I tested split ops in tfcoreml:
`pytest tests/test_tf_converter.py::TFSingleLayersTest::test_split`
result is success.
Anyone can give me some suggestion to fix this.
More details:
Output size of LSTM is 650 dim

Thanks./

[2018-06-08 21:18] ashermancinelli opened #200 "Converting from retrained inception v3 protobuff file throws error"
I have a retrained Inception V3 model which I have frozen with:
[code]

And now I am trying to convert the protobuff file to an mlmodel file with tfcoreml.convert:

[code]

And this throws `tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[1] does not have value`.
Tried rolling back from tf==1.8 to tf==1.5 and removing various arguments to find problem, yet nothing will stop thi

[2018-06-08 21:21] ashermancinelli commented on #200
@aseemw @slin07

[2018-06-09 00:15] aseemw commented on #200
The converter tries to run the TF graph once before conversion. This error message is thrown while doing that.

Can you check that you are able to load the TF frozen graph and run it with a (say) random input?
(you can check the code in the example ipython notebooks on how to do that). This will not involve the converter at all.

[2018-06-09 16:19] aseemw commented on #198
Actually there are two issues here:
- split op in CoreML only supports equal splitting. So this op is unsupported (an alternative is to use a custom layer).

- tfcoreml converter does not support LSTMs. Actually I am surprised that you do not get an error saying that the graph has cycles.

[2018-06-09 16:21] aseemw commented on #197
I have not been able to reproduce this error. Can you outline the steps, or the order in which you installed the packages that led you to this error?

Did you try installing coremltools 0.8 first, then installing tfcoreml, and then upgrading to coremltools to 2.0b1?

Although for me, installing coremltools 2.0b1 and then tfcoreml 0.2.0 also worked.

[2018-06-09 16:57] aseemw commented on #196
I have not been able to reproduce the issue.
I tried defining a toy TF with multiple slice ops and converted it with custom layers. I could see multiple custom layers.

[code]

[code]

Can you make a small example TF graph where you see the issue?

[2018-06-09 17:04] aseemw commented on #195
You can still proceed with conversion.
Your original script was incorrect since the graph has two inputs and the argument `input_name_shape_dict` contained shape of only the first input.

You should try with
`input_name_shape_dict = {'batch_size:0':[1,160,160,3], 'phase_train:0':[1]}`

I think, the second input is a dropout probability value. While executing the TF or coreml graph, the value of th

[2018-06-09 17:07] aseemw commented on #138
"pack" op is not supported in Core ML.
After PR #176 correct error message is raised.

[2018-06-09 17:07] #138 closed

[2018-06-09 17:10] aseemw commented on #181
As the error message implies, it seems you are feeding in an image of incorrect shape.

[2018-06-09 17:12] aseemw commented on #162
CoreML now supports quantization. You can quantize full precision Core ML models (that this repo produces) through coremltools (version 2.0b1 or higher).

Support for converting quantized TF graphs to quantized CoreML will be added to this repo.

[2018-06-09 17:13] #163 closed

[2018-06-09 17:14] aseemw commented on #154
Flexible input shape feature has been added to CoreML.
tfcoreml needs a fixed shape while conversion and will produce a CoreML model with fixed shape.
However, using coremltools (>= 2.0b1), you can easily add shape flexibility to a .mlmodel.

[2018-06-09 17:19] aseemw commented on #172
It seems that the tfcoreml package was not properly installed.
Are all the dependencies listed in the readme.md file installed on your system?

[2018-06-09 17:21] aseemw commented on #190
Duplicate of #172

[2018-06-09 17:22] aseemw commented on #189
Duplicate of #124

[2018-06-10 05:41] lngvietthang commented on #198
I used static_rnn in my model so it generated unrolled graph for lstm so the graph did not contain any cycles inside

[2018-06-10 06:06] aseemw commented on #198
I see.
Then the issue is the first one I stated above.

[2018-06-10 16:55] xzhub opened #201 "Tensorflow model is fine, but the converted mlmodel gave me wrong answer"
Hers is how to reproduce:
1. Retrain to get a new model
[code]

2. Check and make sure the model is working:
[code]

3. Convert the model graph to core ml:
[code]
While the converter is:
[code]
4. After get the Core ML model flower.mlmodel, use it in iOS. I just cloned the Car Recognition app (https://github.com/likedan/Core-ML-Car-Recognition), replace the mlmodel file with flower.mlmodel. Here i

[2018-06-10 17:28] aseemw commented on #201
Did you set the pre-processing parameters properly? See [notebook](https://github.com/tf-coreml/tf-coreml/blob/master/examples/inception_v1_preprocessing_steps.ipynb).

[2018-06-10 17:44] xzhub commented on #201
Maybe not, but I am not fully understand the statement in that notebook "the output of the Softmax op towards the end of the graph is the output ("InceptionV1/Logits/Predictions/Softmax:0"). Lets convert to mlmodel now."

Here is the output of the graph "flowers/retrained_graph_0.1_8000.pb". What should be the parameters in tf_converter.convert?

[code]

[2018-06-10 17:55] xzhub commented on #201
Let me upload the graph file for your convenience.

retrained_graph_0.1_8000.pb and its label:
[Archive.zip](https://github.com/tf-coreml/tf-coreml/files/2088103/Archive.zip)

[2018-06-10 19:33] xzhub commented on #201
Keep reading the notebook, I think I found the answer in the end. I changed the converter to
[code]

For now, at least the iOS app tells me this flow is a daisy.

I would suggest to put part of this notebook content into README.md, since the ipynb can not be viewed directly online.

[2018-06-11 01:32] #201 closed

[2018-06-11 09:47] minhohihi commented on #194
@aseemw Sorry for late.

I made decoder like below
     Input: feature from encoder as shape as 1x120x160x512 (N x H x W x C)
     Net:
               deconv = Input
               rows = Input.W
               cols = Input.H
               for i in range(3):
                    deconv = tf.image.resize_images(deconv, rows ,cols,
                                                  method=tf.image.Re

[2018-06-11 10:03] ramiro-feria-puron commented on #195
@AlysonQ Did you figure out how to make it work? After including , 'phase_train:0':[1] this is what I get:

Shapes not found for 2738 tensors. Executing graph to determine shapes.
...
InvalidArgumentError: The second input must be a scalar, but it has shape [1]

[2018-06-11 10:20] classner opened #202 "Error in _find_unused_ops for operations with output size 0"
Hi tfcoreml team,

I encountered a bug in _find_unused_ops in https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_tf_graph_transform.py#L107 . For operations with zero sized outputs (a corner-case, but relevant), this line fails. Suggested fix is to insert a check before:

[code]

[2018-06-11 22:22] ashermancinelli commented on #200
I ran my model in the same fashion as the example notebooks:

[code]
Yet I still get the same result when I try to convert to coreml.

[2018-06-12 03:07] AlysonQ commented on #195
@ramiro-feria-puron I get the same error too. Still trying to solve it.

[2018-06-12 03:56] aseemw commented on #202
Thank you for pointing that out. Do you want to put up a PR with a fix?
Otherwise I'll put up one soon. Thanks!

[2018-06-12 04:00] aseemw commented on #200
what is the value of `pred` in the code above? Try printing it.
 `Retval[1]` refers to the second element of `pred`. That should be a tensor which is in the graph. The Tensorflow error you are getting is because it fails to evaluate the second tensor in `pred`.

[2018-06-12 04:19] aseemw commented on #195
Ignore my last comment, where I thought `phase_train:0` was a dropout related input. Its not. Its related to batchnorm while training. (I got that by visualizing the graph using this [script](https://github.com/tf-coreml/tf-coreml/blob/master/utils/visualize_pb.py))

Actually this TF graph is a training graph. What you need is an inference equivalent of this graph. I am not sure how to get that if

[2018-06-12 04:34] ashermancinelli commented on #200
printing the whole op gives:
[code]
and printing op.outputs gives:
`[<tf.Tensor 'new_output_layer/probability:0' shape=(?, 3) dtype=float32>]`
both of which only seem to have one output. What is the second element?

[2018-06-12 04:40] minhohihi commented on #194
Here is the frozen .pb

[arbitrary_enc_decoder_frozen.pb.zip](https://github.com/tf-coreml/tf-coreml/files/2092556/arbitrary_enc_decoder_frozen.pb.zip)

[2018-06-12 04:41] minhohihi commented on #194
Here is the frozen .pb

[frozen.pb.zip](https://github.com/tf-coreml/tf-coreml/files/2092559/frozen.pb.zip)

Thank you~

[2018-06-12 05:10] aseemw commented on #200
When you make this call:
[code]
graph is executed to find the value of "pred". It seems 'pred' is a list of two elements and its not able to get the value of the second element in that list.

I do not know. Maybe something is wrong in the way you are saving the graph or calling incorrect tensor names.
Try sth like this:
`sess.run('Softmax:0', feed_dict={x:np.random.rand(1,299,299,3)})`
(See exampl

[2018-06-12 06:20] aseemw commented on #194
I figured out why this is happening. Its basically due of the limitation of the "minimum" and "maximum" layers in Core ML. They do not support broadcasting.
The TF graph has two operations in the end: min(x,255) and max(x,0). Currently these are implemented using CoreML's load constant layer and min/max layers. Due to the load constant layer and broadcasting its shape during conversion, the size o

[2018-06-12 17:00] ashermancinelli commented on #200
You're right, seems to be a problem with freezing layers for coreml and not tf-coreml itself.

[2018-06-12 23:13] arjunkhare commented on #196
Sorry about that aseem, it looks like when I converted another custom operation, I was not taking the inputs correctly which led to only one of the slice operations showing after printing the layers.

[2018-06-13 00:42] ashermancinelli commented on #200
After investigating your code, I can't seem to figure out what's going wrong, but I am confident that my model has been saved correctly. I used `tf.train.write_graph` to write the session, `python -m tensorflow.python.tools.freeze_graph` to freeze the graph, bazel to build the `tensorflow/tools/graph_transforms:transform_graph` function from source, and my naming conventions are consistent. I can

[2018-06-13 01:38] aseemw commented on #200
can you attach the model "optimized_inception_graph.pb"

[2018-06-13 15:12] mbenami commented on #80
Hi @noorhashem
any luck on converting the faster rcnn model?

[2018-06-13 15:33] ashermancinelli commented on #200
https://github.com/ashermancinelli/temp.git
Warning: 80m file

[2018-06-13 15:41] mbenami commented on #124
what about Faster-rcnn?

[2018-06-13 17:51] #196 closed

[2018-06-13 20:54] ashermancinelli commented on #200
Experimenting with the code in `_tf_coreml_converter.py`, I found that I can run the first and last nodes with
[code]
and both run successfully, but running the inner tensors with:
`sess.run(tensors[1:-1])`
gives:
`You must feed a value for placeholder tensor 'input' with dtype float and shape [?,299,299,3]`
so I run with `feed_dict`:
`sess.run(tensors[1:-1], feed_dict=input_feed_dict)`
and get th

[2018-06-13 21:29] aseemw commented on #200
This graph seems to have a similar issue to #195 (see the comments there), in which the Batchnorm op is still in training mode and has "switch" ops (which are not supported in CoreML)

[2018-06-14 05:47] minhohihi commented on #194
@aseemw I really appreciate your detail review. Your guide helped solving problem. Thank you :).

[2018-06-15 08:25] eaigner opened #204 "SSDLite example is mobilenet v1"
Since the release of mobilenet v2, this example should probably be updated.

[2018-06-16 13:06] classner commented on #202
No problem! It would be great if you can put up the PR.

Thanks a lot!

[2018-06-18 15:14] nam1665 opened #205 "Retval[108] does not have value"
Hi, I want to convert my .pb file to coreml. But when I run the command, it's failed and the log is:
Traceback (most recent call last):
 File "convert.py", line 5, in <module>
   input_name_shape_dict = {'input_tensor:0' : [1, 224, 224, 3]})
 File "/home/ubuntu/anaconda3/lib/python3.6/site-packages/tfcoreml/_tf_coreml_converter.py", line 552, in convert
   custom_conversion_functions=custom_conver

[2018-06-18 21:50] arjunkhare opened #206 "Reading Weights of MLModel File"
I'm currently working on examining some error after conversion for one of my models, and I wanted to know if there is an easy way to read the weights of the converted mlmodel for inspection?
If not, what would be the way to go about examining the weights?

[2018-06-18 22:21] #206 closed

[2018-06-20 13:53] anmein opened #207 "Wrong output after converting tf .pb model to .mlmodel"
Hello,

after transfer training on the mobilenet v2 1.4 224 network (https://www.tensorflow.org/hub/modules/google/imagenet/mobilenet_v2_140_224/feature_vector/1), and testing the model locally with new images of faces, everything went well with the .pb model (used the following script for transfer learning, provided by tensorflow: https://github.com/tensorflow/hub/raw/r0.1/examples/image_retraini

[2018-06-20 14:19] cpageler93 commented on #207
Hi,
i'm a colleague of @anmein supporting from the Swift/macOS/iOS side.

Maybe its useful for you to have the Swift code which produces the images for and prediction with CoreML:

[code]

Sorry for bad proof of concept code.

[2018-06-21 06:17] younatics commented on #124
When we can use `tf.nn.bidirectional_dynamic_rnn`?

[2018-06-22 10:50] CoderXWChu commented on #195
If it is a scalar, the input shape should be '[ ]',
ref : [https://www.tensorflow.org/versions/r1.2/programmers_guide/dims_types](url)
you try this:
`input_name_shape_dict = {'batch_size:0':[1,160,160,3], 'phase_train:0':[]}`

[2018-06-23 10:09] tanndx17 commented on #107
@vonholst Hi, I see the image_scale=2./255 part in the model inference. I dont't see any image scaling preprocess step in tensorflow object detection api demo code. https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb
I that prequisite or optional,..or it's already included somewhere?

[2018-06-23 10:13] tanndx17 opened #208 "Image scaling before inference in preprocess"
Hi,can anyone tell me the image_scale=2./255 part in the model inference. I dont't see any image scaling preprocess step in tensorflow object detection api demo code. https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb
or the inference code.
Is that prequisite or optional,..or it's already included somewhere? If I deploy this on mobile devices

[2018-06-23 10:42] vonholst commented on #107
It’s required preprocessing if you use a pretrained mobilenet. If it’s not included in the model then you need to do that manually at inference.

[2018-06-24 12:58] dimroc commented on #154
Thanks for the info @aseemw

Can you point us in the direction as to how to do this? Out of the box, my keras model with `Input(shape=(None, None, 3))` does not work with `coremltools==2.0b1`

[2018-06-25 16:14] astha94 opened #209 "Error converting .pb to .mlmodel"
I am trying to incorporate my trained CNN text classifier, created following this tutorial:
http://www.wildml.com/2015/12/implementing-a-cnn-for-text-classification-in-tensorflow/

I have created a model, represented using a checkpoints directory. I would like to incorporate this into my IOS app.

I have frozen this model, and removed any dropouts from the frozen model. This has resulted in the fo

[2018-06-26 02:01] BIOTONIC commented on #124
@aseemw Any plan to support BLSTM?

[2018-06-26 02:08] BIOTONIC commented on #80
Hi @noorhashem
I also want to convert the faster rcnn but get 'Graph has cycles' error.

[2018-06-26 06:12] FrozenGene opened #210 "Transpose: give the function empty list and get the error : Length of the 'dim' parameter must be equal to 4"
When I convert shuffleseg tensorflow model, I meet the following error messgae:

  File "/usr/local/lib/python3.6/site-packages/tfcoreml-0.2.0-py3.6.egg/tfcoreml/_tf_coreml_converter.py", line 552, in convert
  File "/usr/local/lib/python3.6/site-packages/tfcoreml-0.2.0-py3.6.egg/tfcoreml/_tf_coreml_converter.py", line 315, in _convert_pb_to_mlmodel
  File "/usr/local/lib/python3.6/site-packages/t

[2018-06-27 02:52] JackHenry1992 opened #211 "tf.image.crop_to_bounding_box or tf.image.crop_and_resize can be used?"
Hi, I want to know that if tf-coreml support crop ops ?

[2018-06-27 07:36] minhohihi opened #212 "Add custom layer that is not included in TF"
I'm trying to implement custom layer that is not implemented in TF. I read tutorial (https://github.com/tf-coreml/tf-coreml/blob/master/examples/custom_layer_examples.ipynb) but sample examples (Tile, TopK, Slice) are all about unsupported layers in CoreML but implemented layer in TF.

Is there any way implementing all new custom layer for CoreML like this description (http://machinethink.net/blog

[2018-06-29 08:31] minhohihi opened #213 "Changing parameter order for converted mlmodel.prediction"
I'm trying to make image style transfer network that takes multiple input parameter, and those can change shape cause of different input image size. In that case, the function **prediction()** in the converted mlmodel has unexpectedly ordered parameter cause of **input_feed_dict** variable at **[tf_coreml_converter.py@184](https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_tf_coreml_conv

[2018-06-29 18:09] aseemw commented on #213
I am not sure if I fully understand the issue. Can you write a test network that demonstrates the issue?

[2018-06-29 18:10] aseemw commented on #212
You can directly use the NN [builder](https://apple.github.io/coremltools/generated/coremltools.models.neural_network.builder.html) to add layers (including custom layers) and build a CoreML model from scratch.

[2018-06-29 18:14] aseemw commented on #210
I can put up a fix. Can you please provide a tiny test network that reproduces this error? Thanks.

[2018-06-29 18:16] aseemw commented on #209
Hi can you check, before even proceeding with the conversion, that the you are able to load the Tensorflow's frozen graph and run it? The example Jupiter notebooks has code to how to do that.
I suspect there is some issue with the frozen graph.

[2018-06-29 18:17] aseemw commented on #208
you don't always need it. Sometime the preprocessing is built into the TF graph itself.

[2018-06-29 18:20] aseemw commented on #207
Hi it might me easier to debug the issue first by calling the predict function on mlmodel using coremltools.

From the graph picture it seems the preprocessing (multiply, subtract) is built inside the TF graph. In this case you do not need to provide the preprocessing params separately to the converter, as those mul, sub TF ops will automatically be converted to the CoreML model.

[2018-06-29 18:20] aseemw commented on #205
Yes.

[2018-06-30 02:10] minhohihi commented on #213
Here is example could reproduce issue. I wrote two cases with different input size (360, 480) and (768, 1024). Please consider the result of **model.input_description**. The result of two cases are not same. Thus when I'm trying to  import .mlmodel to XCode, I have to modify parameter order of model.prediction().

I'm sorry being not able to attach .ckpt files cause of confidence. Actually those a

[2018-07-02 03:34] FrozenGene commented on #210
[shuffleseg_optimized_graph_v11.pb.zip](https://github.com/tf-coreml/tf-coreml/files/2153697/shuffleseg_optimized_graph_v11.pb.zip)

You can translate this model and reproduce the error. The information maybe you need:

input_layer:                                network/input/input
input_layer_shape:                    1,256,512,3
output_layer:                              network/output/final_re

[2018-07-02 10:19] younatics opened #215 "Get 'Graph has cycle' error although it is not."
Hello @aseemw ,

I printed graph using below code.

[RNN_graph.txt](https://github.com/tf-coreml/tf-coreml/files/2154768/RNN_graph.txt)
[CNN_graph.txt](https://github.com/tf-coreml/tf-coreml/files/2154769/CNN_graph.txt)

[code]

I found `bidirectional_dynamic_rnn` has same graph name in graph (e.g. `lstm/rnn/while/rnn/layer_norm_basic_lstm_cell/split`)

I can't find solution for 7days although we

[2018-07-04 06:58] iamasimkhan commented on #124
@aseemw Could you please tell me about a frozen_inference_graph.pb created with the help of Tensorflow.
I haven't converted it to be used for Mobile Apps. But I directly tried it to be converted into .MlModel with TensorFlowtoCoreML.
Gave me the same error.

[2018-07-04 07:05] iamasimkhan commented on #80
@azamsharp
@aseemw
I'm using https://github.com/azamsharp/TensorFlowToCoreML.
But the Model I created is a Model that was once created with Tensorflow. But it's not in the frozen form. Please tell me how would I convert the Object Detection API Model to .mlmodel.

[2018-07-09 17:52] aseemw commented on #215
Duplicate of #124
Inside RNN Cells there are cycles.

[2018-07-11 01:49] jfdream opened #216 "facenet convert to mlmodel"
Hi @AlysonQ , Have you solved the problem ？

[2018-07-11 01:51] jfdream commented on #195
Hi，@AlysonQ Have you solved the problem ？（Convert facenet pb with two input and shows error）

[2018-07-11 01:53] AlysonQ commented on #195
@jfdream  Nope :(
I found the other way to use this pd file.
But I still wonder how to convert,still debuging.

[2018-07-11 07:10] eaigner commented on #124
+1 for BiRNN support

[2018-07-14 16:57] dhasl002 opened #218 "Conversion of reshape layer"
There are several models I would like convert from the [tensorflow object detection zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md).

While some of these models can be converted successfully, there are many that fail such as ssd_mobilenet_v1_fpn_coco ☆.

During conversion I get an error about the reshape layer.

`491/668: Analysing op n

[2018-07-15 18:15] fcu-d0515211 opened #219 "output wrong predict in ios 11 device"
I had successful convert .pb to .mlmodel format
In python i had test the predict from mlmodel
But in ios device it keep return result 0.03 / 0.04 (after softmax)
![image](https://user-images.githubusercontent.com/22321340/42736773-16804b44-889e-11e8-8ba0-1d9b325d1085.png)

[2018-07-16 15:18] mattkang opened #220 "Error in model.init(): Unexpectedly found nil while unwrapping an Optional value"
Just getting started with `tf-coreml`, and I'm having some trouble with my converted semantic segmentation model. For the sake of simplicity, I'm trying to utilize as much of Apple's [Vision+ML Example](https://developer.apple.com/documentation/vision/classifying_images_with_vision_and_core_ml) as possible. Running into the following error in the auto-generated model.swift file:

<img width="1079"

[2018-07-18 14:21] periscopiojoe opened #221 "I can´t get MultiArray double as output"
I am trying to train your model with my data. Input data is in the proper format and it is working.
I got it, but this what it happens when I try to implement in IOS:

Model analyzes the input. Returns a data. I expect that it will returns MultiArray(Double)
but it returns MultiArray(Double 4 x 1917 x 1)
Application receives unexpected data and crashes

How can I get "MultiArray double" instead "

[2018-07-18 20:44] DawerG commented on #195
Hello @AlysonQ,
You can try to feed your graph into the following utility function. It will strip off nodes not needed for the inference.

tf.graph_util.remove_training_nodes()
Ref: https://www.tensorflow.org/api_docs/python/tf/graph_util/remove_training_nodes

Also, could you please upload the .pb file again? The old link seems broken.

[2018-07-19 06:22] fcu-d0515211 commented on #219
This is my coreml_converter
![image](https://user-images.githubusercontent.com/22321340/42924834-88461b60-8b5e-11e8-9a16-d33422260b97.png)
I found that in ipad work fine, but iphone get the 0.03

This is my load model code and predict
`
    func initialModel() {
        guard let model = try? VNCoreMLModel(for: EnglishTextRecognition().model) else {
            fatalError("can't load Places ML mod

[2018-07-19 10:16] periscopiojoe commented on #221
Here is the code I use to convert the model:
`# Now we have a TF model ready to be converted to CoreML
import tfcoreml
# Supply a dictionary of input tensors' name and shape (with # batch axis)
input_tensor_shapes = {"Preprocessor/sub:0":[1,300,300,3]} # batch size is 1
# Output CoreML model path
coreml_model_file = example_dir + 'ssd_mobilenet_feature_extractor.mlmodel'
# The TF model's ouput ten

[2018-07-19 10:20] periscopiojoe commented on #221
And this is the result I get. I would need a MultiArray DOuble for concat_0
![andrey3](https://user-images.githubusercontent.com/29833194/42936965-f21342c2-8b4d-11e8-8c0d-1b270b2d2716.png)

thanks

[2018-07-19 16:06] aseemw commented on #219
If its working in python and giving the expected (i.e. same as TF) output with coremltools predict, then maybe the input in the app is different numerically than the the one that you are using in python.

Whats the code you used to verify the correctness in python?
Do you get the same predictions if you make a mac app? (sometimes predictions from Mac and iOS can differ, if that happens its a bug).

[2018-07-19 16:09] aseemw commented on #221
what is the shape of the two output tensors in the TF graph? (you can find that by executing the graph and checking the shape of the returned result)

[2018-07-19 21:01] fcu-d0515211 commented on #219
i use the giving code in examples to verify the correctness and also got doing some image preprocessing for tensorflow .
if it is a bug, how can i fix it? or have any recommend tricks to avoid it?

[2018-07-19 21:06] aseemw commented on #219
It could be an issue with the preprocessing parameters not set properly during conversion. Pleas take a look at this [example](https://github.com/tf-coreml/tf-coreml/blob/master/examples/inception_v1_preprocessing_steps.ipynb)

[2018-07-20 21:01] fcu-d0515211 commented on #219
I had follow the example. The model is successful be converted and verify perfectly by using bottom code.
[code]
and the result is this correctly
<img width="829" alt="screen shot 2018-07-21 at 4 54 16 am" src="https://user-images.githubusercontent.com/22321340/43024923-687dd6f2-8ca2-11e8-96c6-49575733b015.png">

But when I put it into my ios device iphone 7 and run with vision(crop word from imag

[2018-07-21 18:10] fcu-d0515211 commented on #219
I found i had this error. What this mean?
Shapes not found for 37 tensors. Executing graph to determine shapes.
![image](https://user-images.githubusercontent.com/22321340/43038878-629e7f04-8d54-11e8-9762-a351e0f8362a.png)

[2018-07-24 15:57] cbecker commented on #154
@aseemw can you point to the document that explains how to use flexible input shape in CoreML? I am dealing with this issue as well, although it's not on TF.

[2018-07-24 21:33] sndre commented on #154
@cbecker, here's a helpful snippet to get you started:

[code]

[2018-07-26 11:20] cbecker commented on #154
Thanks @sndre . It seems like this is part of MLModel format v3, which can be loaded with MacOS 10.14 which is in beta now. Do you know if there's another way to allow for dynamic size models with 10.13?

[2018-07-26 16:14] sndre commented on #154
@cbecker, I believe it's only supported on macOS 10.14 and iOS 12, but I would double check with @aseemw

[2018-07-26 17:44] aseemw commented on #154
Yes that is correct, to use the new functionality of shape flexibility you would need the new operating systems as stated by sndre.

[2018-07-27 13:32] gi097 commented on #147
If anybody is still looking for DeepLab support on CoreML, I converted the cityscapes MobileNetV2 model with DeepLabv3+.

https://github.com/gi097/blindassist-scripts

Based on the work of @seantempesta

[2018-07-27 16:36] mattkang commented on #220
Whoops! Didn't add my model to the app resources. 🤦‍♂️ Fixed it

[2018-07-27 16:36] #220 closed

[2018-07-29 11:25] ElteHupkes opened #223 "Logic behind input shape change"
I'm converting a MobileNet V2 style model, which has an input tensor of 256x256x3 (height, width, channels). After conversion the tensor comes out as 3x256x256, which experimentally turns out to be (channels, height, width). It is of little consequence to me as I have to preprocess the data anyway, but I am curious about the logic behind this shape change, and why just the channels have gotten to

[2018-07-29 13:36] jreuben11 opened #224 "conv2d on non const kernel - AssertionError: Weight input has to be an identity op"
We are attempting a workaround for `tf.map_fn` over `tf.nn.conv2d` (as `while` is not supported) that does not involve `tf.stack` (as `pack` op is not supported) as follows:
[code]

on `tfcoreml.convert` , we are failing on assertion:
[code]

How can we resolve this ?

[2018-07-30 02:17] MatthewWaller opened #225 "FailedPreconditionError: Attempting to use uninitialized value"
Hello. I'm trying to convert a trained model and am encountering an uninitialized value error.
The model I'm working on converting is here: https://github.com/reuben/DeepSpeech/releases/tag/v0.0.1-alpha.
And the code I have in a jupyter notebook Is just this:
[code]

The stack trace points to:
[code]

The full stack trace is below
[code]

[2018-07-30 16:14] DawerG commented on #223
Yes, that's just a chosen internal representation of images/feature maps in coremltools.

[2018-07-30 16:30] DawerG commented on #224
My understanding is that the coremltools/tfcoreml only support convolutions with constant kernels.

@aseemw Can you please verify?

[2018-07-30 17:56] aseemw commented on #224
Yes that is correct. The weight parameter in the convolution layer must be fixed and not come as another input.
If the weights depend on the network input, you should take a look at maybe using custom Coreml layers.

[2018-07-30 18:53] ElteHupkes commented on #223
Okay, thanks for the info, I was just a bit puzzled. The model's working perfectly (and significantly faster than with tflite on Android...) so thanks for all the good work!

[2018-07-31 07:27] jreuben11 commented on #224
the problem in the tfcoreml `_layers.py` `conv2d` conversion function flow can be summarized as follows:

1) the function examines the 2 inputs of the `tf.conv_2d` op, which happen to be `expand_dim` op
2) as the 2nd op is not in `context.consts` and `expand_dim` op type is one of the 4 `_is_skip_type` ops, backtrace to find a parent op - in our case name: `inference/similarity/strided_slice` of t

[2018-07-31 07:27] #224 closed

[2018-08-01 09:59] theyonibomber opened #226 "Conversion stuck on "executing graph to determine shape""
I have a very small (but not very standard) .pb I want to convert.

Running the converter gives the following message:
`Shapes not found for 120 tensors. Executing graph to determine shapes.`
And then conversion is simply stuck (tried waiting for an hour)

When I interrupt it, it seems like some kind of endless recursion:

[code]

Any tips/hints? (Unfortunately I can't share the original model)

[2018-08-01 16:37] aseemw commented on #226
This definitely seems like a bug. Can you attach the .pb file which causes this so that we can debug. Thanks!

[2018-08-01 16:39] aseemw commented on #226
This definitely seems like a bug.
Can you create another toy model with the similar architecture (and random weights) as your pb file that could reproduce this issue? Otherwise we cannot debug.

[2018-08-01 21:01] theyonibomber commented on #226
I tried for a few hours and couldn't reproduce it on a toy mode, it seems to be affected by the number of nodes in the graph somehow (if I take the exact same model architecture but simply remove some repeating similar ops it doesn't reproduce). Maybe this can suggest a direction?

In any case, will try reproducing again soon.

[2018-08-01 21:01] theyonibomber commented on #226
I tried for a few hours and couldn't reproduce it on a toy model, it seems to be affected by the number of nodes in the graph somehow (if I take the exact same model architecture but simply remove some repeating similar ops it doesn't reproduce). Maybe this can suggest a direction?

In any case, will try reproducing again soon.

[2018-08-01 21:09] aseemw commented on #226
Hmm..interesting. Can you post what kind of ops the model has? This [script](https://github.com/tf-coreml/tf-coreml/blob/master/utils/inspect_pb.py) will print that info, at the end.

[2018-08-01 21:12] aseemw commented on #226
Also can you set this line to False and then try again:
https://github.com/tf-coreml/tf-coreml/blob/d8b47b4646f9d970c137bc8d8b7ff5b84aa5894f/tfcoreml/_tf_coreml_converter.py#L40

[2018-08-02 06:30] theyonibomber commented on #226
OK I eventually managed to reproduce it on a model I can share:
[tfcoreml_bug.pb.zip](https://github.com/tf-coreml/tf-coreml/files/2252352/tfcoreml_bug.pb.zip)

[2018-08-02 07:41] theyonibomber opened #227 "Support for non 4D ops?"
So far I've seen limitations that assume 4D with split, transpose and concat.

It would mean a lot for non-vision ML applications if you could support a wider range of possibilities.

[2018-08-02 16:14] aseemw commented on #226
Thank you.

[2018-08-02 20:48] aseemw commented on #226
PR #228 fixes the issue of the converter getting stuck.

However, the graph you attached can still not be converted as its has a few unsupported ops and unsupported modes.
For instance, concat for 2D tensors along first axis, "matmul" with a non const weight matrix etc

OPS counts:
ConcatV2 : 1
Square : 1
Sum : 1
Sqrt : 1
NoOp : 1
Split : 1
RandomUniform : 1
Placeholder : 1
Identity : 1
Reshape :

[2018-08-03 09:48] mxmaxi007 commented on #195
@AlysonQ I found a solution to solve this problem. You can try this setting:
input_name_shape_dict = {'batch_size:0':[1,160,160,3], 'phase_train:0':[1, 1, 1, 1]}.

It seems to accept array with  rank 3 or rank 5.

[2018-08-03 11:06] theyonibomber commented on #226
Yes, I noticed.
Looking forward to getting support for these ops and modes.

Good to know at least the bug was fixed.

[2018-08-06 13:33] kirualex opened #229 "Wrong shape after conversion"
My original .pb model has an input with a shape of [12], but it's converted to [1,1,1] in my .mlmodel.
The original shape is supposed to be a sequence of 12 doubles to distribute weights on a style transfer model.
I don't know how to use the second shape for the same purpose.

[2018-08-06 13:49] noorhashem commented on #80
@mbenami no and i used tensorflow for iOS instead

[2018-08-06 13:51] noorhashem commented on #80
@azamsharp  Thank you, I'll check this one, also check tensorflowLite for iOS if you can manage to convert the model to .lite format and deploy it on iOS instead of the .mlmodel.

[2018-08-06 14:53] aseemw commented on #229
Can you post the model or the [summary](https://github.com/tf-coreml/tf-coreml/blob/master/utils/inspect_pb.py) of the model? Thanks.

[2018-08-06 15:14] kirualex commented on #229
[summary.txt](https://github.com/tf-coreml/tf-coreml/files/2263046/summary.txt)

[2018-08-06 18:34] DawerG commented on #229
@kirualex Thanks for posting the summary.

Just for an experiment, can you please set the option **self.use_dfs_shape_infer = False** and run the converter again? https://github.com/tf-coreml/tf-coreml/blob/c9d2052409b1af0232a610fc39ef4ec7ccc45d30/tfcoreml/_tf_coreml_converter.py#L40

[2018-08-06 22:27] aseemw commented on #229
@kirualex If you look at the description of the [1,1,1] sized input generated by the converter it says "This input is a sequence of length 12"

Since for CoreML all tensors are rank-5 with the ordering [Seq, Batch, Channel, Height, Width], you should be able to run the Coreml graph with an input that has the shape [12,1,1,1,1].

[2018-08-07 08:53] kirualex commented on #229
@aseemw It works! I can indeed load an MLMultiArray of shape [12,1,1,1,1] into the [1,1,1] input.
Maybe the .mlmodel input description should be a little more explicit on this? Like :
`This input is a sequence of length N. Feed it an MLMultiArray of shape [N,1,1,1,1]`.

[2018-08-07 15:56] aseemw commented on #229
Agreed. It should be more descriptive.

[2018-08-13 06:49] nidetaoge commented on #162
I have also tried transform_graph. I find that if I do not use quantize_weights, it can finally be transformed to mlmodel. But when I use quantize_weights in transform_graph, I recieve this:
AssertionError: Add constant: cannot add a constant in which all the dimensions (Seq, C, H, W) are of non-unit size
![image](https://user-images.githubusercontent.com/12149807/44016549-fb259130-9f07-11e8-9f3b-

[2018-08-15 16:38] daxiangpanda commented on #194
@aseemw can you please teach me how to convert such pb models using tf-coreml?I dont know how to set the input shape in the param input_name_shape_dict.this is my pb file:https://drive.google.com/file/d/1bGM82rdAQlZUj7F8W2wm_JJBmBxNBiah/view?usp=sharing
thank you!

[2018-08-15 16:57] aseemw commented on #194
These are the two inputs (from this [script](https://github.com/tf-coreml/tf-coreml/blob/master/utils/inspect_pb.py))

[code]

So the input dict should be something like: {"Placeholder:0":[H1,W1,3], "Placeholder_1:0": [H2,W2,3]}

where H1,H2,W1,W2 are the values that you have tested works on the original TF model.

However, looking at the ops in this graph, there are quite a few that are not suppo

[2018-08-17 20:42] bigmit2011 opened #230 "Switching RGB to BGR during preprocessing?"
Hi! My preprocessing of a custom model involved switching image channels from RGB to BGR.
However, it seems when trying to convert to a .ml model, I don't have any parameters that allows switching of channels?

''''tf_converter.convert(tf_model_path = model_path,
                     mlmodel_path = 'test2.mlmodel',
                     image_input_names = ['input_1:0'],
                     output

[2018-08-17 22:12] aseemw commented on #230
There is a flag called "is_bgr" that maybe what you need
(https://github.com/tf-coreml/tf-coreml/blob/c9d2052409b1af0232a610fc39ef4ec7ccc45d30/tfcoreml/_tf_coreml_converter.py#L420)

[2018-08-19 06:34] fcu-d0515211 opened #231 "After Convert Xcode Compile Error"
![image](https://user-images.githubusercontent.com/22321340/44306199-9132ba00-a3bc-11e8-9600-f66de9f88e15.png)

Swift 4.1
I build in Xcode 9.4.1

[2018-08-20 20:26] #230 closed

[2018-08-25 09:51] gi097 opened #232 "ValueError: output name: save/control_dependency, was provided, but the Tensorflow graph does not contain a tensor with this name."
I am trying to convert one of the following pertained models:

https://github.com/mrharicot/monodepth
http://visual.cs.ucl.ac.uk/pubs/monoDepth/models/model_cityscapes.zip

Using the following code:
[code]

I ran the summarize tool to get all the output node names. I am wondering why tf-coreml complains about the `save/control_dependency` since it must be included in the frozen graph. Is this a bu

[2018-08-27 23:49] aseemw commented on #232
The graph is not frozen properly. Instead of calling tf.graph_util.convert_variables_to_constants, please use the` from tensorflow.python.tools.freeze_graph import freeze_graph` as used in the example Jupiter-notebooks in this repo.

[2018-08-28 07:28] gi097 commented on #232
Thanks a lot! However that gives me the exact same error:

[code]

[2018-08-28 21:07] b6fung opened #233 "Getting "Attempting to use uninitialized value" error when running base command"
So I have made my own pb file, and put in the correct layer name but when trying to run the command i run into the error Attempting to use uninitialized value fclayer/kernel,  when investigating that error it seems to be from initializing a session but the example in running it should just use one command.

What could the error mean?

I also wish to note that the pb file that i saved was from tf.t

[2018-08-28 21:49] aseemw commented on #232
Before calling the convert function, please make sure that the frozen graph is correct.
You can use [Netron](https://github.com/lutzroeder/Netron) to visualize the graph.

I think what is incorrect in the script above, that is causing a wrong frozen def is the name of the output
`output_node_name = 'save/control_dependency' `

It can be tricky to find the correct output of a TF graph. I looked at

[2018-08-28 21:53] gi097 commented on #232
The source is not really providing the output names. I also used the exact same summarize tool as you mentioned in the comment.

I might tweak around for a while but I will just think that this model is not suitable for CoreML yet.

Thanks for your help anyway!

[2018-08-29 01:41] DawerG commented on #232
Another thing to note is that unlike freeze_graph, the `output_feature_names` argument of the function ` tf_converter ` accepts a list of tensor names (not the operation names). `output_node_names = ['save/control_dependency']` is a list of operation names. What should rather be provided to the converter is a list of tensor names `output_feature_names = ['save/control_dependency:0']`

[2018-08-29 01:56] DawerG commented on #233
You might have to initialize the variables in the session using
[code]

Nonetheless, @b6fung could you provide your code for inspection/reproduction?

[2018-08-29 13:57] b6fung commented on #233
Thanks for the reply, this was the code i used to run the command

import tfcoreml as tf_converter

tf_converter.convert(tf_model_path = "./simple_as_binary.pb", mlmodel_path="./simple.mlmodel",output_feature_names=['import/fclayer/BiasAdd:0'])

I also used the pb inspect file to find my final layer.

[2018-08-30 00:54] b6fung commented on #233
I can share my code, the data i cannot, but the model is very simple thank you very much for your time
`from __future__ import print_function
import numpy as np
import tensorflow as tf

# Parameters
learning_rate = 0.001
num_steps = 200
display_step = 25
batch_size = 5

# Network Parameters
n_hidden_1 = 256 # 1st layer number of neurons
n_hidden_2 = 1530 # 2nd layer number of neurons
n_hidden_3 =

[2018-08-30 14:08] b6fung commented on #233
Not sure if this would help, but if there are iterators in the model would it fail the tlconverter?  I was under the impression only the weights and the shape of the graph was being saved.  I apologize for the inconvenience.

[2018-08-31 01:59] DawerG commented on #233
The problem lies in not freezing the graph before running the converter. Conversion of training graphs is neither supported nor desired. Here is the solution.

[code]

[code]

For further reference, please checkout the python notebooks in the example directory. Closing the issue for now.

[2018-08-31 01:59] #233 closed

[2018-09-04 07:27] xiangcong commented on #147
@gi097 nice job~!
But is there anyway that can deal with the ArgMax ?
loop the multiarray to search for max index on cpu is time-consuming.

[2018-09-04 09:43] gi097 commented on #232
Thanks :)

[2018-09-04 09:43] #232 closed

[2018-09-04 11:12] gi097 commented on #147
I do it manually. You can take a look at my app: https://github.com/BlindAssist/blindassist-ios/blob/3324fc09644c74ec65e4545b69c55ed18bb56b05/BlindAssist/ViewController.m#L95

[2018-09-05 04:02] xiangcong commented on #147
I get a result like this ![image](https://user-images.githubusercontent.com/11721038/45070304-437bb880-b103-11e8-8b37-4e195c05a408.PNG)

the original image and the mask image are not perfectly matched,
not sure whether it is because the bilinear-upsampleing replaced with normal upsample?
@gi097 @seantempesta

[2018-09-05 06:49] gi097 commented on #147
The CoreML pixel input size differs from the actual view’s size. Hence it might not be calibrated properly. You can take a look at my Storyboard which aligns the views perfectly.

[2018-09-05 07:37] xiangcong commented on #147
OK~I'll check that.
Thanks a lot! @gi097

[2018-09-06 00:33] bigmit2011 opened #234 "Image resizing? (slightly off-topic)"
This is slightly off-topic but I can't seem to resize images in iOS the same way PIL does.
In Python, you can resize based on different interpolation methods:

    This can be one of PIL.Image.NEAREST (use nearest neighbour), PIL.Image.BILINEAR (linear
    interpolation), PIL.Image.BICUBIC(cubic spline interpolation), or PIL.Image.LANCZOS (a high-quality
    downsampling filter). If omitted, or if

[2018-09-07 11:43] mpeniak opened #235 "Can't convert mobilenet-ssd v2"
Hi guys,

I get these errors when converting:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-5e5f1fe6b115> in <module>()
      8
      9 with tf.Graph().as_default() as g:
---> 10     tf.import_graph_def(original_gdef, name='')

/Users/mpeniak/Library/Python/2.7/lib/python/sit

[2018-09-10 09:17] gabrielocci opened #236 "AssertionError: Placeholder_1:0 is a placeholder with incomplete shape (?, 6)"
Hi, I have a problem in converting the model from ft to coreml, after several attempts I write the code as I am a beginner in tf and python:

def one_hot_encode(labels):
    nb_classes = 6
    targets = labels.reshape(-1)
    one_hot_targets = np.eye(nb_classes)[targets]
    print(one_hot_targets)
    return one_hot_targets

meta_path = 'model.meta' # Your .meta file

labels = np.load('labels.npy'

[2018-09-11 08:56] roksqq commented on #124
@aseemw

Your provided API link doesn't work (404)

[2018-09-11 16:39] aseemw commented on #124
This is link: https://apple.github.io/coremltools/generated/coremltools.models.neural_network.builder.html

[2018-09-12 07:28] yihaozuifan opened #237 "How to output a picture"
like  input,if I make image_input_names then I can  input a image.  now  I wan to a generate a image,but  I  can not found a type to make.  could you tell me  how can I do ?

[2018-09-12 15:59] aseemw commented on #237
This notebook has example on setting output type as image: https://github.com/tf-coreml/tf-coreml/blob/master/examples/style_transfer_example.ipynb

[2018-09-17 20:32] vladimiroster opened #238 "Error declaring input for NN engine."
Hi,
I've converted my TF model to CoreML using the package. The conversion went well, but when I try to load the model, I receive "Error declaring input for NN engine.". The python side is able to parse the model file correctly, but the native side is unable to load it.
Does anyone know what might be causing it?

Thanks!
Vlad

[2018-09-18 00:47] aseemw commented on #238
Maybe the input size was incorrectly set?
What is the input size in the .mlmodel and what sized MultiArray did you pass at runtime?

If you can share the model (or an equivalent smaller version that displays the issue), it would be easy to debug.

[2018-09-18 01:07] vladimiroster commented on #238
Thanks! The engine fails long before trying to run inference, the engine can't even load the converted model.
I've attached the model. The conversion is run using:
import tfcoreml as tf_converter
coreml_model = tf_converter.convert(tf_model_path = 'epsilon.tf',
                     mlmodel_path = 'output.mlmodel',
                     output_feature_names = ['action:0'],
                     input

[2018-09-18 21:38] aseemw commented on #238
I put up PR #239 that should fix this issue. Please try again using that branch.

Btw, since in this model there are many other outputs which are not used, it is a good idea (although not required for this model) to simplify the TF model prior to conversion, using code similar to [here](https://github.com/tf-coreml/tf-coreml/blob/master/examples/ssd_example.ipynb).
In particular, something like th

[2018-09-18 22:55] vladimiroster commented on #238
Confirming the fix. Thanks a lot!
Yes, we usually cut down the unneeded branches.

[2018-09-18 22:55] #238 closed

[2018-09-22 18:35] aseemw commented on #226
Hard to say without looking at the model.

[2018-09-23 04:37] lqhuy93 commented on #226
@aseemw thanks, I figured it out by trying to generate the frozen graph in a different way. Another quick question, what should I do if my model has op **Pack/Stack**? (I searched around your repo and knew that CoreML doesn't support this ops yet)

[2018-09-23 05:33] aseemw commented on #226
In many cases the pack/stack operations may be optimized away. See: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md
If not then you can consider using CoreML custom layers.

Is your model architecture available in open source? If yes, it would be great if you can share it. If I have a better solution after looking at the model, I'll let you know.

[2018-09-24 13:37] mrgloom opened #240 "AssertionError: Concat axis case not handled"
My model contain concat layer `x = tf.concat([x, x_deltas], -1)` which produce error `AssertionError: Concat axis case not handled`.

[code]

[2018-09-24 13:49] mrgloom commented on #240
Seems using `x = tf.concat([x, x_deltas], axis=1)` is solved the problem.

[2018-09-25 07:09] devorblackbeard opened #241 "error "Unsupported Ops of type: Dilation2D" during conversion"
I am trying to converter to my .pb model into a .mlmodel

i got this error "Unsupported Ops of type: Dilation2D",
how can add custom layers for Dilation2D during conversion.

[2018-09-25 17:58] aseemw commented on #241
Please see https://github.com/tf-coreml/tf-coreml/blob/master/examples/custom_layer_examples.ipynb

[2018-09-27 13:30] devorblackbeard commented on #241
Hi thanks for the reply, Is it possible to add Dilation2D custom layers to coreml If I follow similar process as above custom_layer_examples link?

[2018-09-27 17:30] aseemw commented on #241
Yes!

[2018-09-28 02:07] yihaozuifan commented on #237
tks very much  it's worked

[2018-09-28 02:07] #237 closed

[2018-09-28 12:17] devorblackbeard commented on #241
So I removed Dilation2d ops but now during conversion I get the following error :
Unsupported Ops of type: Pack
Is pack a supported op for coreml conversion?

[2018-09-28 23:58] vladimiroster opened #242 "float32 turns into double after conversion"
Hi,
I've converted my TF model into CoreML. The original data types were float32, but when I'm querying the model with modelDescription, the data type of the multi array is defined as double.
Can this be affecting performance if I'm feeding the model float32? Can I preserve the float32 in the converter?

Thanks!
Vlad

[2018-09-29 00:54] aseemw commented on #242
This should not have any significant affect on the performance. Actually for neural networks all the intermediate values use either float32 (on the CPU) or float16 (on the GPU). The input is cast accordingly.

But still if you want you can change the datatype of the inputs/outputs. See [here](https://github.com/apple/coremltools/blob/691bc991b81b44d211445634780af492083757f8/docs/APIExamples.md#cha

[2018-09-30 17:57] FrozenGene commented on #162
@aseemw Could you list the instructions how to use coremltools to quantization? And "Support for converting quantized TF graphs to quantized CoreML  will be added to this repo", have we started? Thanks.

[2018-10-01 03:01] FrozenGene commented on #162
@aseemw，Thanks. This is used for accept one full precision model. How do we accept quantization tf model?

[2018-10-01 17:43] aseemw commented on #162
What kind of quantization does the TF model have?
And are you quantizing the TF model while training or post-training ?

[CoreMLtools 2.0](https://github.com/apple/coremltools/releases)(the non beta version) was released recently along with iOS 12. That is required by the tfcoreml converter for converting quantized TF models. A PR will be put up for tfcoreml to convert linearly quantized 8-bit TF

[2018-10-02 08:55] FrozenGene commented on #162
We have 8-bits quantization tf-models and quantizing the tf-model while training.

Happy to see we have PR to do it. Do we have plan when we can havd this PR?

Thanks

[2018-10-03 13:27] wuliwong opened #246 "ModuleNotFoundError: No module named '172'"
I'm trying to run celery on an ec2 instance using `virtualenv`. I'm not sure exactly what information would be most helpful to debug. I have included the package versions and error log.

I receive the error when I run:
`celery -A mysite worker -l info` in my project root directory. `mysite` is the correct name of the app folder.

Here are the versions I'm running
[code]

[code]

[2018-10-03 15:46] nwestlake commented on #210
I believe this is the correct fix. Please could you confirm.

[code]

[2018-10-04 10:09] FrozenGene commented on #162
@asemw, Thanks! I will try to convert 8-bits tf mobilenet firstly and verified it. Next will try our models. Because out model has some custom ops. So I want to ask one question: How do we handle custom ops during quantization?

[2018-10-04 18:09] aseemw commented on #162
There is no specific treatment for custom ops due to quantization, as the user provides the weights for those in whatever format that suits you.

[2018-10-05 07:30] FrozenGene commented on #162
@aseemw Thanks for replying.  We don't use tools like TOCO to do full quantization now. So our tensorflow model has Ops like ```FakeQuantWithMinMaxVars```.  I have checked your PR #245 and PR #244. I find some ops like ``` QuantizedConv2D```. So, if we use tf-coreml to accept ```float32``` model and quantize in tf-coreml, we should get ```QuantizedConv2D``` ops? If so, how do we verify the result

[2018-10-05 17:29] aseemw commented on #162
Let me explain:
1. One option is that you start with a TF quantized graph. The quantized TF graph could either come via post-quantization provided by TF (see [graph transform tool](https://github.com/tf-coreml/tf-coreml/blob/master/tests/test_tf_converter.py#L183)) (which introduces QuantizedConv2D nodes)  or before training which introduces FakeQuantization nodes. The PRs that went recently in tf

[2018-10-06 08:43] FrozenGene commented on #162
@aseemw, Thanks for your detail explainment.

Post-Training has the same accuracy compared with before training?

For the 2nd way, coremltools could have the same accuracy compared tensorflow’s quantized way?

[2018-10-07 19:02] aseemw commented on #162
CoreML models produced by tfcoreml should always match with the original TF model used for conversion, in terms of numerical results.

As far as the model accuracy/performance is concerned in relation to quantization, that is always model dependent and must be verified experimentally. There are some examples in this WWDC video: https://developer.apple.com/videos/play/wwdc2018/709/

[2018-10-08 07:30] devorblackbeard commented on #241
So I have replaced the deconvolution layers with resize bilinear , n the model got converted succesfully n got loaded on the phone without any issues.

The issue is now in the discrepancy of results generated by CoreML model n by tf model file.

![index](https://user-images.githubusercontent.com/37415406/46596356-ee640580-caf9-11e8-84d7-67057528e3b3.png)
![img_d433b1ea514c-1 1](https://user-images

[2018-10-08 07:31] devorblackbeard commented on #241
The above image is predicted by tf model n the image below is predicted by coreml.
Can you please help me explain what's the issue here??

[2018-10-08 10:31] Raj-08 commented on #241
Both images being sent to coreml and tfmodel are of same size.

[2018-10-08 11:42] Raj-08 commented on #241
This image is being sent as a part of test dataset

[2018-10-08 18:57] #210 closed

[2018-10-08 21:30] aseemw commented on #241
Here are my suggestions to debug the numerical issue:

- try calling predict (in coremltools) with the argument useCPUOnly=True. That would force the network to run on CPU alone which uses higher precision. If the outputs match, it means the lower precision path on the GPU is causing some numerical inaccuracies.

- You could convert a portion of the graph, by specifying an intermediate tensor as t

[2018-10-09 03:51] FrozenGene commented on #162
@aseemw Great Video! I know it better. However I want to ask one question: I see the lecturer uses `compare_model`  function to verify the accuracy, but if our model has `custom layer`, we can not run the model directly, so what will we do if we are in the case of that?

Quantization techniques has two methods: `linear` and `lookup table`,  if I don't remember wrongly, tf-lite uses the `linear`, s

[2018-10-09 04:06] aseemw commented on #162
With custom layer, you would have to run tests in Xcode.
Linear quant should give similar accuracies.

[2018-10-09 06:01] FrozenGene commented on #162
@aseemw Thanks for explaining so detail!

[2018-10-09 12:42] devorblackbeard commented on #241
Can you mention exactly where useCPUOnly options can be set to true in swift to be tested it out on phone. Also I tried training on tensorflow with float 16 and then testing in coreml but that didnt turn out to be successful either.

And there is a very strange pattern in results . As you can see here the persons rights side is always producing errors near shoulders and near the left side of the f

[2018-10-09 12:44] devorblackbeard commented on #241
I tried using it on a simulator as well n I had read at a few places that uses CPU by default but yet the results were the same.

[2018-10-09 14:16] wuliwong commented on #246
I just didn't have the environment variables setup correctly. I would assume we should just close this unless we would consider this an issue with the error messaging.

[2018-10-09 14:17] wuliwong commented on #246
woa, I have no idea how I wound up posting this here. Sorry about that.

[2018-10-09 14:17] #246 closed

[2018-10-09 15:52] aseemw commented on #241
Do you get different results only in swift on iphone or in python on Mac as well (while using coremltools) as well?

How are you generating the ground truth TF results (in python or in an app using tflite) ?
There might be a difference in feeding the input image.

If you use coremltools "predict" then "useCPUOnly" argument is available.
If you are using the swift API then set the "usesCPUOnly" fla

[2018-10-09 17:10] Raj-08 commented on #241
The tf results are generated from frozen pb on GPU pc.

[2018-10-09 17:15] Raj-08 commented on #241
When i feed an image on gpu pc , i simply read an image using cv2.imread and feed it without any preprocessing. I didnt have any preprocessing in training as well.
while converting the coreml file, I didnt pass any image scaling options as my model expects values between 0-255

[2018-10-09 17:18] Raj-08 commented on #241
I havent tried image prediction on coreml tools.  Can you please tell me what needs to  be done in case it turns out to be same (poor results)or different (better than coreml on device) .

[2018-10-09 17:46] aseemw commented on #241
Please see some of the notebooks to see the best practices to establish the correctness of conversion to mlmodel (say this [one](https://github.com/tf-coreml/tf-coreml/blob/master/examples/style_transfer_example.ipynb))

Our goal is to make sure that given identical inputs the .pb and .mlmodel produce similar (close to identical) outputs, when both of them are run with the CPU backend. (GPU backen

[2018-10-10 18:14] aseemw commented on #241
In the .pb inference code you have:

[code]
whereas in CoreML you have:
[code]

These are not even same!
- you call cv2.resize method for TF but not for CoreML
- You don't want reshape, you want to call transpose for changing last axis channel to first axis channel. Reshape doesn't even change the data layout, it only changes the view to the underlying float pointer. You want to change the data or

[2018-10-11 06:28] Raj-08 commented on #241
okay so that gave me this result(using cpu on mac , .mlmodel file) , which is incorrect still and is much different than what we get in 1st image.

![222](https://user-images.githubusercontent.com/15856029/46784618-780b1180-cd4c-11e8-94f4-b8152440d538.png)

[2018-10-11 15:21] aseemw commented on #241
Ok.

So now instead of comparing the final tensor  `import/SemanticPredictions:0` it will be worthwhile to compare intermediate tensors, to see where the mismatch between TF and mlmodel first happens. That way the source of the error could be narrowed down to a layer.

[2018-10-12 14:09] Raj-08 commented on #241
Hi Aseem ,

We have compared the relative errors of a few layers of our network.  And i could not find a particular layer where the source of error could be made sense of. I saw the result at places where i could have visualized it . At places where it was in higher dimensions i simply subtracted them and averaged them.

Moving from bottom to up in the network :

SemanticPredictions =  -33.7256565

[2018-10-12 15:39] nwestlake commented on #210
Apologies, we did some more testing and it seems it isn't the correct fix but #249 is.

We have tested it and found it to work with swapping but not a total permutation. I believe this but may be in coreml as I cannot locate it in tf-coreml or coremltools.

The test network we used is as follows:

    import numpy as np
    import os
    import tensorflow as tf
    import tfcoreml

    from tensor

[2018-10-12 20:31] aseemw commented on #241
Ok that's progress!! We now know that the network till 'segmentation/ArgMax:0’ tensor is fine, only after that the discrepancies begin to creep in.
What layer type comes after that? Maybe the convertor is not properly converting that layer type or there is a mismatch in TF/CoreML's execution of that layer type.
If you can share your network I can take a look at it.

[2018-10-13 14:13] Raj-08 commented on #241
My network is simply this:

`IMAGE >> **SEGMENTATION**MOBILENET MODEL1 >> OUTPUT1 >> MULTIPLICATION OF OUTPUT1 with 255 >> CONCAT THIS WITH IMAGE >>**MATTING**MOBILENET MODEL2 >>OUTPUT2(ERROR APPEARS HERE)>>UPSAMPLE BY BILINEAR RESIZE>>MULTIPLICATION OF OUTPUT2 WITH 255 >> CONCAT THIS WITH IMAGE>> 3 LAYERS OF 3*3 CONVOLUTIONS>> SIGMOID >> PREDICTION >> SPLIT IMAGE IN 3 CHANNELS >> MULTIPLY PREDICT