[2018-10-13 22:08] aseemw commented on #241
Yeah it is not clear.
Based on your observations and experiments It seems that the difference can only come from the multiplication layer.

You can open a bug report at https://developer.apple.com/bug-reporting/ and attach the model there and share the bug number. I can then take a look at the actual model and see if I find the source of the bug.

[2018-10-15 21:02] aseemw commented on #241
1) First make sure that you have installed tfcoreml from source (https://github.com/tf-coreml/tf-coreml#install-from-source) so that you have the latest version of the resizeBilinear layer.

2) The problem is happening because CoreML does not have a “cast” layer and its output is in float format whereas TF’s output is in “int” format. If we look at the end portion of the TF graph we see the cast o

[2018-10-16 08:33] Raj-08 commented on #241
Thank you Aseem for putting in your time , i got it to work after installing tfcoreml from source.

[2018-10-16 08:33] Raj-08 commented on #241
we will close this now

[2018-10-16 10:02] #241 closed

[2018-10-16 10:03] devorblackbeard commented on #241
Thank you, I got fixed.

[2018-10-21 13:59] woolfel opened #250 "failed to convert faster_rcnn_resnet101"
I just tried to convert faster_rcnn_resnet101_coco from google's model zoo and got an error.

File "/usr/local/lib/python2.7/site-packages/tfcoreml/_tf_graph_transform.py", line 38, in _push_stack raise ValueError('Graph has cycles.')

[2018-10-21 17:58] Spectra456 opened #251 "AssertionError: input_1:0 is a placeholder with incomplete shape"
[code]

Error

2018-10-21 20:53:10.433528: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Traceback (most recent call last):
  File "/home/spectra/projectDNN/mobile-unet/tf2ml.py", line 23, in <module>
    image_scale=1.)
  File "/home/spectra/.virtualenvs/virtual-py3/lib/python3.6/site-packages/tfco

[2018-10-21 23:16] noeruh opened #252 "How can I make sure the input images are properly scaled and bias-added?"
I am using the following code to convert a mobilenet_v2 TF model to coreml model, the mobilenet_v2 model was downloaded from this page: https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet
[code]

When I try to visualize the resulted mlmodel with Netron, I can't find a `scaler-layer`  which I expect will do scaling and bias adding stuffs:
<img width="320" alt="screen shot

[2018-10-21 23:28] noeruh opened #253 "How can make sure input images are properly scaled and bias-added?"
I am using the following code to convert a mobilenet_v2 TF model to coreml model, the mobilenet_v2 model was downloaded from this page: https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet
[code]

When I try to visualize the resulted mlmodel with Netron, I can't find a `scaler-layer`  which I expect will do scaling and bias adding stuffs:
<img width="320" alt="screen shot

[2018-10-22 05:54] #253 closed

[2018-10-22 16:16] aseemw commented on #251
Can you install from [source](https://github.com/tf-coreml/tf-coreml#install-from-source) (tip of master) and try converting again?

[2018-10-22 16:17] aseemw commented on #250
Discussions in issue #189 and  #124 maybe relevant.

[2018-10-22 16:20] aseemw commented on #252
Can you try printing the pre-processing info from the mlmodel (see [here](https://github.com/apple/coremltools/blob/e8b7655e0ef72a2a40075c6aad3453e253b94fb9/docs/APIExamples.md#printing-the-pre-processing-parameters)), to see whether the bias/scale params have been written to the model or not. If they are there, it could be an issue with Netron and not the converter.

[2018-10-22 16:56] Spectra456 commented on #251
Thank you very much. Now i have another problem:
`ValueError: output name: Sigmoid:0, was provided, but the Tensorflow graph does not contain a tensor with this name.
`
**List of my tensors:**
[code]

[2018-10-22 17:12] aseemw commented on #251
As you can see `Sigmoid:0` is **not** in the list of tensors, hence the error.
It seems you should provide `conv2d_28/Sigmoid:0` instead

[2018-10-22 17:17] Spectra456 commented on #251
You are my hero, th.

[2018-10-22 17:17] #251 closed

[2018-10-23 04:01] noeruh commented on #252
Thanks for the reply!

Printing the preprocessing params of the mlmodel outputs the following info:
[code]
I suppose it means that the scaler layer was successfully written into the mlmodel and I will close this issue.

[2018-10-23 04:01] #252 closed

[2018-10-26 13:14] XReyRobert-IBM opened #256 "Shape Translator missing for OP of type Transpose."
Hi there,
Running into this issue trying to convert a tensorflow model...
I've seen warning about 4D transpose only but not sure this error is related...
If so, how to implement transpose for other Ds?

[2018-10-26 15:38] aseemw commented on #256
Can you try again after adding `'Transpose': _terminate` here:
https://github.com/tf-coreml/tf-coreml/blob/bc3b5c75a4eaa9b4ca0cf4bf8304cb186b938142/tfcoreml/_interpret_shapes.py#L191

[2018-10-26 17:04] aseemw commented on #256
Okay. Do you know the input and output shapes of the transpose op in TF?

[2018-10-27 12:49] XReyRobert-IBM commented on #256
There are multiple transpose ops. Not sure how to find out shapes
Here's the model:
[output.pb.zip](https://github.com/tf-coreml/tf-coreml/files/2521766/output.pb.zip)

[2018-10-27 17:53] aseemw commented on #256
Okay.
I'll take a look at it.

[2018-10-28 05:12] dataplayer12 opened #258 "placeholder for batch_norm gives error"
My network contains batch_norm layers and I am using a boolean placeholder for training flag. During conversion, this results in an error:

`AssertionError: train_flag:0 is a placeholder with incomplete shape <unknown>`

Is there a way to resolve this error without rewriting the network architecture without this flag?

[2018-10-28 18:07] aseemw commented on #258
You are getting this error because:
- all placeholders are treated as inputs for the graph
- the converter needs to know the exact shapes of each placeholder, which is not available for this one

What if you just pass on the shape (1,) to the convert function (it does have an argument to take in input shapes)?

That might work, although the fact that you have the training graph, most likely means

[2018-10-29 08:55] s091704 opened #259 "Having issues with converting a custom tf model"
Hi there,

I'm having problems with a conversion of a custom tf model.
The model looks like this:
![image](https://user-images.githubusercontent.com/22317343/47638866-1cb88c00-db60-11e8-9631-61419f9ea2d6.png)

and after conversion(without errors) it looks like this:
![image](https://user-images.githubusercontent.com/22317343/47638901-35c13d00-db60-11e8-8502-fe5c2903335f.png)

Where is the add oper

[2018-10-29 17:15] aseemw commented on #259
- Add operator is fused with the "inner product" layer
- yes, by default the converter produces double types. You can change it back to float32 if you want using coremltools as shown [here](https://github.com/apple/coremltools/blob/master/docs/APIExamples.md#changing-mlmultiarray-inputoutput-datatypes)

[2018-10-29 17:16] #259 closed

[2018-11-02 06:07] FrozenGene commented on #162
@aseemw as comment said:

Do we have detail plan to support `FakeQuantization`? If we want to keep the same as TFLite, this is necessary.

[2018-11-09 11:11] #236 closed

[2018-11-09 21:32] lauriebyrum opened #261 "Batchnorm applied to input layer fails to convert"
Hi
I have a graph that starts like:
batched_padded_input = tf.placeholder(tf.as_dtype(float32), shape=(1, 512, 512, 6), name='myinput')
net = tf.contrib.layers.batch_norm(
                batched_padded_input,
                decay=.9,
                scale=True,
                is_training=false,
                zero_debias_moving_mean=False,
                scope='bn', fused=True)

If I feed thi

[2018-11-12 00:14] aseemw commented on #261
I added a test in PR #262 that seems to work just fine (with top of master of tfcoreml and tensor flow 1.11.0)

[2018-11-12 19:05] lauriebyrum commented on #261
I will narrow this down further when i get a few cycles. Probably next week. Is a test pbtext useful or do you want a binary pb or tf code? Thanks for trying to repro.

[2018-11-12 19:08] aseemw commented on #261
binary .pb is the best, because that is what the converter consumes

[2018-11-15 23:10] shashishekhar opened #263 "Model conversion converts floating point inputs to doubles."
It looks like when converting TF models the floating point inputs are converted to doubles.
https://github.com/apple/coremltools/blob/master/coremltools/models/datatypes.py#L119

When I converted mobilenets using tf-coreml(using https://github.com/tf-coreml/tf-coreml), the model input datatype was float but was converted to double.
https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_tf_co

[2018-11-15 23:30] aseemw commented on #263
This is a converter bug. Currently the converter ignores the input data type and always uses the double datatype.

Its straightforward though, to get around it, see issue #242

[2018-11-20 00:16] lauriebyrum commented on #261
Hmm. I went back today, and I can't repro this anymore. One thing that changed is that I moved to using the transform_graph tool instead of optimize_for_inference_lib when I generated my pb files. Maybe that made the difference.  At any rate, we can close this and I'll report back if it somehow reappears. Sorry for the time waste!

[2018-11-20 00:16] #261 closed

[2018-11-23 09:11] baihualinxin opened #264 "'module' object has no attribute 'convert'"
system:macos 10.14
Install From PyPI
xcode:Version 10.1
Python tools: anaconda
Python 2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 11:07:58)
[code]

code
[code]
Error
[code]

I also used Source
[code]
[code]

Same mistake
I don't understand what went wrong there, and I still don't support macOS？？

[2018-11-23 11:46] baihualinxin opened #265 "Unsupported Ops of type: FakeQuantWithMinMaxVars"
I used quantitative config for training

I trained CKPT to transfer pb

[code]

export_tflite_ssd_graph.py  conversion as pb   Strip unused subgraphs and save it as another frozen TF model  An error

`NotFoundError: Op type not registered 'TFLite_Detection_PostProcess' in binary running on DCHealthdeMac-mini.local. Make sure the Op and Kernel are registered in the binary running in this process. N

[2018-11-29 14:32] JakeWade5 opened #266 "Converting Tensorflow model to CoreML model. Shape Translator missing for OP Slice"
Im using TFCoreml in python to convert my Tensorflow model into CoreML for development on an iOS device using the CoreML Libs.

Im using the following python code to try and convert the model to CoreML.

import tfcoreml as tf_converter

    tf_converter.convert(tf_model_path = 'frozen_inference_graph.pb',
                         mlmodel_path = 'ml_model.mlmodel',
                         output_f

[2018-11-29 18:47] aseemw commented on #266
Can you try by replacing the line https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_interpret_shapes.py#L14 with
`return _terminate` ?

[2018-12-04 08:18] AdamWP commented on #221
@periscopiojoe were you able to resolve this?  I am getting MultiArray (Double4 x 1917 x 1) for concat_1_0

[2018-12-04 12:49] anilsathyan7 opened #267 "Unable to covert to semantic segmentation pb model to core ml"
We were trying to convert the deeplab semantic segmentation frozen graph(.pb) from the tensorflow deepl model zoo (
http://download.tensorflow.org/models/deeplabv3_mnv2_dm05_pascal_trainaug_2018_10_01.tar.gz)

But unfortunately we encountered the following error

[code]

It looks  like the operations in the official models are not supported by the tf-core ml tool ?
Or is there any way to specify t

[2018-12-06 05:59] anilsathyan7 commented on #267
We got the latest version of the converter from the repo(clone), and changed couple of lines in 'tf-coreml/tfcoreml/_ops_to_layers.py' file. and  installed it from source.

Specifically, uncommented line 94 and 106 to include the corresponding ops
Now it works as expected !!!

[2018-12-06 06:00] #267 closed

[2018-12-07 07:52] ZeroyiQ opened #268 "iOS 12 can't read image from the converted model."
hi!
I imitated your example.(style_transfer_example ) Successfully converted the model with the image output.
![2018-12-07 15-51-31](https://user-images.githubusercontent.com/16305800/49634540-07c0f980-fa38-11e8-9a35-24e47a1ed505.png)

However, I can't read image from the converted model on iOS 12. It returned me a CVPixelBufferRef type that is an invalid pointer address.(my english is bad, sor T_

[2018-12-07 18:14] aseemw commented on #268
Not sure what's going on.
- If you keep the output to be a multuarray type, then does it work correctly in Xcode?
- in that case, for the multiarray output, do the values lie between 0 and 255?
- when the output is of image type, does it work in python land with coremltools? in that case you should get back a PIL image.

[2018-12-08 05:04] ramiro-feria-puron commented on #131
@jacogreyling Tried for a while to convert to CoreML and gave up; trying it again. I am doing this:

tfcoreml.convert(tf_model_path = '20180402-114759.pb',
                     mlmodel_path = 'Test.mlmodel',
                     output_feature_names = ['softmax:0'],
                     input_name_shape_dict = {'input:0' : [1, 160, 160, 3]})

And this is what I get:

Could you please provide any i

[2018-12-08 05:37] ramiro-feria-puron opened #269 "Convert Facenet to CoreML"
I'm trying to convert a pre-trained model (TensorFlow) created by David Sandberg as part of the FaceNet (https://github.com/davidsandberg/facenet) project. Here is my conversion code:

`import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = '20180402-114759.pb',
                     mlmodel_path = 'Test.mlmodel',
                     output_feature_names = ['embeddings:0'],

[2018-12-08 05:39] ramiro-feria-puron commented on #269
Here are the model's operations summary:

OPS counts:
FIFOQueueV2 : 1
QueueDequeueUpToV2 : 1
AvgPool : 1
StridedSlice : 1
Pack : 1
RandomUniform : 1
Floor : 1
RealDiv : 1
MatMul : 1
Square : 1
Sum : 1
Maximum : 1
Rsqrt : 1
Placeholder : 2
MaxPool : 3
Shape : 3
Reshape : 3
BiasAdd : 21
ConcatV2 : 23
Add : 23
Relu : 131
Conv2D : 132
FusedBatchNorm : 224
Mul : 248
Merge : 449
Sub : 449
Identity : 105

[2018-12-08 06:38] aseemw commented on #269
another useful tool to transform the graph is: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md

[2018-12-11 11:43] ZeroyiQ commented on #268
Could we use tf-coreml  or coreml to set the project  version to support iOS 12？

[2018-12-13 01:38] ramiro-feria-puron commented on #269
Thanks @aseemw !

The Graph Transform Tool on the frozen graph removes most unsupported operations, but still has all the Switch operations:

AvgPool : 1
StridedSlice : 1
Pack : 1
RandomUniform : 1
Floor : 1
RealDiv : 1
MatMul : 1
Square : 1
Sum : 1
Maximum : 1
Rsqrt : 1
Placeholder : 2
MaxPool : 3
Shape : 3
Reshape : 3
BiasAdd : 21
ConcatV2 : 23
Add : 23
Relu : 131
Conv2D : 132
FusedBatchNorm : 2

[2018-12-13 01:41] ramiro-feria-puron commented on #131
@jacogreyling ^ Any help would be very appreciated!

[2018-12-14 19:30] lauriebyrum opened #270 "Slice doesn't handle begin=[0,0,0,0]"
Use this code:
import tensorflow as tf
import numpy as np
import tfcoreml as tf_converter]
with tf.Session(graph=tf.Graph()) as sess:
    input = tf.placeholder(tf.float32, shape=(1, 8, 3), name='myinput')
    expanded = tf.expand_dims(input, axis=0)
    target_shape = expanded.shape.as_list()
    target_shape[-1] = 1
    net = tf.slice(expanded, [0,0,0,0], target_shape)
    net =tf.squeeze(net, a

[2018-12-14 21:03] lauriebyrum commented on #270
Proposed fix for the portion of this that i need above.

[2018-12-15 00:36] kevinliao123 opened #271 "Error running convertor.py"
After installation, python convertor.py gives me error below. Please let me know if anyone can help.

`Loading the TF graph...
Traceback (most recent call last):
  File "convertor.py", line 4, in <module>
    output_feature_names = ['softmax:0'])
  File "/home/kev/Projects/tensor-flow/tf-coreml/tfcoreml/_tf_coreml_converter.py", line 586, in convert
    custom_conversion_functions=custom_conversio

[2018-12-18 13:49] vonholst commented on #269
I used a Keras implementation: https://github.com/nyoki-mtl/keras-facenet

There is a notebook there to transfer weights from the model you are trying to convert as well. You need to write one custom layer in Swift, but it's a trivial scaling layer.

I used it with iOS Vision-framework for the face-detection part. Works lika a charm.

Best of luck!

[2018-12-18 18:15] lauriebyrum opened #272 "Invalid mlmodel created with certain tf commands"
I haven't figured out what exactly is the key, but this appears to be the minimum amount of code required to reproduce
`import tensorflow as tf
import tfcoreml as tf_converter
import coremltools
from coremltools.models.neural_network import datatypes, NeuralNetworkBuilder
import numpy as np

coreml_file = 'test.mlmodel'
pb_file = 'test.pb'
input_shape = (1, 32, 32, 512)
output_shape = (1, 1024, 4)

[2018-12-23 05:40] ramiro-feria-puron commented on #269
@vonholst Awesome!!! Thanks a lot!

Almost there; just having one issue while comparing embeddings. Thought that you would probably have some answer:

The output vectors from the model are not normalized. Is it supposed to be the case? I get lengths around 17, 23, etc. If I normalize them I still get "consistent" results; that is, for positive pairs the distance is say somewhere between .200 and .

[2019-01-07 13:47] kshitizrimal opened #274 "Tensorflow SavedModel format of mobilenet v2 to coreml"
Hi,

I am having an issue converting my SavedModel format to coreml.

I have used tf.keras mobilenet v2 and added few dense layers and saved it as a SavedModel format of tensorflow.

I used following script for the convertion and got following error.

I believe my output layer name is dense_2, hence I wrote it there. Can anyone help me figuring this out?

<img width="1100" alt="screen shot 2019-01

[2019-01-08 02:50] kshitizrimal commented on #274
@DawerG  What do you suggest, can be done to solve this issue?

[2019-01-09 09:47] stakemura opened #275 "tf-coreml cannot handle argument as scalar value."
tf-coreml seems to broadcast scalar value to tensor forcibly like the following code.

[code]

As a result, tf-coreml exports huge coreml file unfortunately.
[code]
![This image is architecture of the exported coreml by Netron](https://user-images.githubusercontent.com/1152138/50890954-8dbccf80-143e-11e9-8d7a-313ec3d143cd.png)

[2019-01-10 02:05] madnavs commented on #198
@lngvietthang I'm using static_rnn too and got the same error message. Did you write a custom layer for split_op? or any other trick?

[2019-01-10 03:48] lngvietthang commented on #198
@madnavs No, I use BasicRNNCell instead of LSTMBlockCell, which does not have split_op :D

[2019-01-10 23:12] madnavs commented on #198
@lngvietthang  Thanks that worked!
But I got this
![unnamed](https://user-images.githubusercontent.com/16426068/51003036-147ab680-14ea-11e9-83f8-e1b55b469909.png)

[2019-01-15 07:36] dustturtle opened #276 "Does tf-coreml support slim mobile net v2_140?"
I have successfully converted the mobile net v2_140 pb file to tflite. But I found the result is not as my wish. I found that the doc said that v2_1.0 was supported. But what about the v2_140?

[2019-01-22 18:26] suoloordi opened #277 "Unhandled strided slice case"
I'm having an issue with a strided slice op in a model i'm working on.
This is the stack trace:
[code]
I've printed out some related local variables to help pinpoint what the issue is:
[code]

Would it be possible to support strided slices of this form?

[2019-02-03 04:29] AdamWP opened #279 "Converted MobileNet-SSD Producing Irregular Bounding Boxes"
I have retrained MobileNetSSD V1 and V2 models with my own dataset.  They both work perfectly with tensorflow and the converted TFLite models work perfect with MLKit.  However the same models converted to CoreML are a bit wonky.  They both detect objects with correct bounding boxes at first, but then start producing overlapping bounding boxes that are not the correct size.  One box is half the hei

[2019-02-03 04:37] aseemw commented on #279
Hard to say without more details.
Did you check with a quick python script, when the same bumpy array is fed into the .pb and .mlmodels, do they produce similar numpy arrays as outputs ?

[2019-02-04 02:03] run-me commented on #274
Hey guys, did anyone solve this by any chance? kinda struck here, lol

[2019-02-04 06:06] nirmalchoudhari commented on #190
Do we have any resolution for this?

[2019-02-05 14:47] AdamWP commented on #279
The mlmodel won't accept the numpy array.   I get NSLocalizedDescription = "The model expects input feature Preprocessor__sub__0 to be an image, but the input is of type 5.";

However if I input an image instead of a numpy array and compare it to the TF outputs I get:
Max relative error on box encoding: 0.000113
Max relative error on scores: 0.000055

[2019-02-05 16:34] aseemw commented on #279
The errors seem quite small!

[2019-02-05 20:32] AdamWP commented on #279
I agree.  If I hold my phone still the boxes are ok.  Unfortunately as soon as the phone is moved the bounding boxes are terrible.  It works ok with the ssd_mobilenet_v2_coco model, but terrible with my re-trained model.   I'm guessing there may be some kind of loss during the conversion.  I'm going to add some more epochs to the training and see if it improves things.

[2019-02-07 02:04] tsgtdss583 opened #280 "How could I convert a tensorflow model which include Batch Normalization using tfcoreml, since the converter requires to insert the Boolean shape of the batch normalization"
convOutput = tf.layers.batch_normalization(convInput, training=training_phase2)
the 'training' argument is a placeholder to receive the boolean input. how could I set the shape of a boolean while converting a model to coreML

[2019-02-12 23:11] mabrowning commented on #279
We have the exact same issue after using (slightly modified)  https://github.com/vonholst/SSDMobileNet_CoreML. I suspect that the anchors hardcoded here don't all  quite match up with what the network was trained on. NMS then fails because the 2 "crossed" boxes don't actually have that much intersection.

As per OP, some image/frames seem to work perfectly, but other slightly offset ones show 2 di

[2019-02-12 23:33] mabrowning commented on #235
tf-coreml is tuned to convert only the portion of the computational graph that does "core" convolutional layers. However, you can follow the steps in this article: https://machinethink.net/blog/mobilenet-ssdlite-coreml/ and possible the code in his repo https://github.com/hollance/coreml-survival-guide/tree/master/MobileNetV2%2BSSDLite to convert the whole graph into a mlmodel.

That said, iOS 12

[2019-02-15 03:36] scm-ns commented on #269
@aseemw Hey, if I wanted to write a custom core ml layer for Switch, Merge, the control flow ops, is that possible? Is there something in the CoreML framework preventing that? Those ops seem pretty straight forward to implement.

[2019-02-15 10:14] vishnunairvp opened #281 "Error : "The model does not have a valid input feature of type image""
I was trying to create a ios image recognition app with CoreML. I allready have the trained tensorflow lite model with me and tried to convert that into CoreML Model by following steps :-

git clone https://github.com/tf-coreml/tf-coreml.git

from the above github link have gone through the steps given in readme.md file to convert the retrained_graph.pb (trained tensorflow model that i got from ht

[2019-02-15 13:20] Fatlog commented on #37
Hi,

I'm new to this (so apologies!) but am I now able to convert the TF speech_data example whilst keeping the DecodeWav op? Some of the comments above seem to suggest it is now a supported op?

[2019-02-17 19:29] aseemw commented on #269
Here is the Custom Layer API: https://developer.apple.com/documentation/coreml/mlcustomlayer?language=objc

Any layer that fits this API can be a custom layer: fixed output shape given input shape and the implementation. Switch, Merge/control flow would be hard to implement using this API.

[2019-02-18 12:30] pashanhenlei opened #282 "unable to convert FALSR to CoreML"
I got error like this:
File "/home/test/tf-coreml/tfcoreml/_shape_sensitive_layers.py", line 44, in _add_const
'Add constant: cannot add a constant in which all the dimensions ' \
AssertionError: Add constant: cannot add a constant in which all the dimensions (seq, C, H, W) are of non-unit size

and the code is:
tf_converter.convert(tf_model_path='pretrained_model/FALSR-B.pb', mlmodel_path='ml_mod

[2019-02-20 14:15] lissyx commented on #277
Same here trying to export DeepSpeech model as CoreML:
[code]

[2019-02-20 16:08] scm-ns opened #283 "Adding multiple outputs to custom layer leads to malloc craches"
[code]

[2019-02-20 16:12] aseemw commented on #283
Please file a bug at https://developer.apple.com/bug-reporting/
with the code to reproduce the malloc crash.

[2019-02-20 23:06] sariagoudarzvand opened #284 "compatible with OCR models"
is there any project in OCR this library can fully support all the operations?
If so, can you please give a link to that

[2019-02-22 16:50] wandonye commented on #281
I have the same issue.
Looks like the input type is `MultiArray`

[2019-02-22 18:59] aseemw commented on #281
converter command needs additional argument `image_input_names`, to mark an input as an image. Please take a look at some of the examples in https://github.com/tf-coreml/tf-coreml/tree/master/examples

[2019-02-23 16:50] wandonye commented on #281
Yes, I was able to find the solution. The ssd example does not have `image_input_names` set. I will create a pull request when I have time, to make the ssd example runable.

[2019-02-26 11:51] Jordi100 opened #285 "How identify the output parameters after use inspect_pb.py to use in convertor.py?"
Hello,

Thank you for this tool. I appreciate.
My question is about how to identify the parameter that I need to use in convertor.py file?
For example:

output_feature_names = ['mul_16:0'],

These parameters appears at the end of the txt extension file after run the inspect_pb.py file.

OPS counts:
ExpandDims : 1
Tanh : 1
Placeholder : 1
Conv2DBackpropInput : 2
Relu : 10
Conv2D : 14
RealDiv : 16
S

[2019-02-26 18:57] aseemw commented on #285
I think its generally the last layer you need, `import/preds:0` in the txt file maybe

[2019-02-26 19:51] Jordi100 commented on #285
Hello Aseem,

Thank you for your answer.
I have seen the example of style transfer network here:

https://github.com/tf-coreml/tf-coreml/blob/master/examples/style_transfer_example.ipynb

Where I can see to convert to mlmodel (changing some parameters for my own pb extension  file):

import tfcoreml as tf_converter
tf_converter.convert(tf_model_path = 'frozen1.pb',
                     mlmodel_pat

[2019-02-26 23:27] aseemw commented on #285
Hmm, it seems the graph needs to add a rank 4 tensor as a constant, however CoreML's load constant layer only supports max rank 3 tensor.
One solution is to use custom layer.
Can you check which constant tensor is this in the TF graph and what op it is feeding into?

[2019-02-27 12:57] Jordi100 commented on #285
Hello Aseem,

Sorry, I don t know how to check the constant tensor in the TF graph. Can you explain how?
I see the parameters in the summarize file I created, the parameters are:

OPS counts:
ExpandDims : 1
Tanh : 1
Placeholder : 1
Conv2DBackpropInput : 2
Relu : 10
Conv2D : 14
RealDiv : 16
Sub : 16
Pow : 16
SquaredDifference : 16
StopGradient : 16
Mul : 17
Mean : 32
Add : 38
Identity : 48
Dequanti

[2019-02-27 18:19] aseemw commented on #285
When you hit the error in `_layers_common.py` you can put a breakpoint and look up the name of the tensor, the arguments when the function `add_const(context, out.name, x, out.name)` is called

[2019-02-28 14:40] Jordi100 commented on #285
Hello Aseem,

I have added a Breakpoint just after the line:
_add_const(context, name, x, output_name, shape) in _layers_common.py
![img_2561](https://user-images.githubusercontent.com/21055773/53573957-e838f900-3b6e-11e9-8d62-ec93a6ab2337.JPG)

Now the error message is:
Traceback (most recent call last):
  File "convertor.py", line 5, in <module>
    input_name_shape_dict = {'input:0':[1,600,800,

[2019-02-28 18:08] aseemw commented on #285
what is the value of variables `name` and `output_name` at the breakpoint?

[2019-03-05 10:41] lordrebel commented on #279
@mabrowning  could u pls share the code for how to move anchor/box extraction to CoreML ?

[2019-03-05 13:37] mabrowning commented on #279
@lordrebel sure. Check my last comment. All the code is there.

[2019-03-05 16:14] Jordi100 commented on #285
Hi Aseem,

Sorry, I don t know how to check that. Please, how should I proceed?
Regards,
Jorge

[2019-03-05 18:48] Oktai15 commented on #173
@shijianjian what about tf.cond? is it possible?

[2019-03-06 06:11] shijianjian commented on #173
@Oktai15 As far as I know, CoreML need to build a static model all at once, tensors will always flow one from another. You cannot evaluate a tensor at run time then choose which one is the next tensor to go.

[2019-03-06 07:20] Oktai15 commented on #173
@shijianjian but TF builds static graph too, but they can change flow...

[2019-03-06 07:21] Oktai15 commented on #173
Or you say that it’s a problem with coremltools. Okay, got it. Do you know where I can see new progress in coremltools?

[2019-03-06 15:23] shijianjian commented on #173
@Oktai15 You may check it on it's Github, but do not expect too much on solving the tf.cond or tf.switch staff. You need to go back to alter your model if you are making a product or something.

As far as I know, I recorded some limitations of coremltools [here](https://medium.com/@jianshi_94445/convert-a-tensorflow-model-to-coreml-model-using-tfcoreml-8ce157f1bc3b). A lot of re-engneering need to

[2019-03-07 11:44] Jordi100 commented on #285
Hello Aseem,

Does the following data helps?

Loading the TF graph...
Graph Loaded.
Collecting all the 'Const' ops from the graph, by running it....
Done.
Now finding ops in the TF graph that can be dropped for inference
Now starting translation to CoreML graph.
Automatic shape interpretation succeeded for input blob img_placeholder:0
1/607: Analysing op name: preds/y_max ( type:  Const )
2/607: A

[2019-03-07 16:25] aseemw commented on #285
Will need to look at the model (.pb) file, please file a bug at https://developer.apple.com/bug-reporting/ and attach the model to it. Thanks!

[2019-03-11 09:36] mrgloom commented on #124
I wonder where ssd model contains cycles? it look like just feedforward network.

[code]

[2019-03-11 14:11] mrgloom commented on #107
Here is some description on topic: https://github.com/tf-coreml/tf-coreml/blob/master/examples/ssd_example.ipynb

I wonder if there any example of postproccessing and preprocessing in python/C++? i.e. for parts that are removed from graph?

[2019-03-11 14:20] vonholst commented on #107
@mrgloom , From your link:
# Preprocess the image - normalize to [-1,1]
img = img.resize([300,300], PIL.Image.ANTIALIAS)
img_array = np.array(img).astype(np.float32) * 2.0 / 255 - 1

[2019-03-12 11:16] Jordi100 commented on #285
Dear Aseem,

Thank you. I will send now the .pb file to Apple.
Regards,

Jorge Martin

[2019-03-14 09:20] mrgloom opened #287 "InvalidArgumentError: Input 0 of node ToFloat was passed float from image_tensor:0 incompatible with expected uint8."
During
[code]

I get `InvalidArgumentError: Input 0 of node ToFloat was passed float from image_tensor:0 incompatible with expected uint8.`

Howewer I can't see where I can specify type of input:
https://github.com/tf-coreml/tf-coreml/blob/fd0dbdb0c46dd505b62a38d56e69fb4f96e1772c/tfcoreml/_tf_coreml_converter.py#L454

[2019-03-15 05:30] lordrebel commented on #279
I compared the inference result of tensorflow model with coreml model I has converted, I found that coreml model lost some boxes (about 30% ), did you meet this problem ? @mabrowning  @aseemw  @miaout17

[2019-03-15 14:11] mabrowning commented on #279
Was your score threshold set the same? The default/sample
ssd_mobilenet configs in the object_detection repo use 1e-4 as a
minimum score threshold, whereas that conversion script sets it to
something reasonable like 0.3.

[2019-03-18 01:32] lordrebel commented on #279
yes ,both iou threshold and confidence thershold are same as TF model. and i compare the model structure using Netron. It looks quite different.@mabrowning

[2019-03-21 15:11] Jordi100 commented on #285
Dear Aseem,

I send the pb extension file more than a week ago to
https://developer.apple.com/bug-reporting/ and nobody answered.
The ID for the question is 48804807, please can you take a look?
Regards,

Jorge

[2019-03-22 14:08] soon-yau opened #288 "Fused Batchnorm does not convert correctly"
I have a frozen graph that is optimized where batchnorm layer is folded where the multiplication part is folded into convolution and the addition part is folded into the **bias add** which you can see in op type as shown below.
[code]
However, in the converted mlmodel, the layer type is still shown as **batchnorm**. I wonder if that has been converted wrongly which means it is still doing the full

[2019-03-23 07:08] aseemw commented on #285
Please try to convert the model again using PR #289

[2019-03-24 18:20] aseemw commented on #285
Please do a fresh clone of the tf-coreml repo, or pull the latest master branch,
then install the converter from source, by following the steps https://github.com/tf-coreml/tf-coreml#install-from-source

Then run the conversion script again.

[2019-03-27 10:51] Jordi100 commented on #285
Hello Aseem,

Thank you. After install again, it works. It converts to the ML model.
Now the issue is that in Xcode the mlmodel file must be an input image and an output image.
For example (please see image attached).
![IMG_2881](https://user-images.githubusercontent.com/21055773/55070022-a627a800-5085-11e9-9a10-7a63e3e256bb.JPG)

But in the model created the input is img_placeholder (Multiarray t

[2019-03-27 11:54] pavan4 commented on #205
I am facing the same issue as well.

.pb loads properly and takes the following input and outputs:

[code]

My converter is looking like this :

[code]

When I convert I get this error:

[code]

[2019-03-27 14:06] pavan4 commented on #205
I ran the script from [here](https://github.com/tf-coreml/tf-coreml/blob/master/utils/inspect_pb.py) and got these ops:

--------------
OPS counts:
Placeholder : 1
PlaceholderWithDefault : 1
Range : 1
Square : 1
Log : 1
Exp : 1
Sum : 1
Equal : 1
Where : 1
Sub : 2
RealDiv : 2
ExpandDims : 2
Max : 2
Transpose : 4
Shape : 6
StridedSlice : 6
ResizeNearestNeighbor : 6
MaxPool : 8
Mul : 10
Add : 42
Merg

[2019-03-31 15:47] Ketsuko opened #290 "Can't convert from a .pb file"
Hey,

I'm currently trying to convert a tensforflow graph to coreml. The neural network is as a .pb file (which is associated with two other files in a folder for the varaibles and the weights).

I can load it, use it and predict from an input image on a jupyter notebook with no problems.

However, when i'm trying to convert it with:

frozen_model_file = '/Users/Desktop/mobile_net/saved_model.pb'

[2019-04-01 03:06] lcycoding commented on #290
Hi Ketsuko,
My guess is that the `ParseFromString` only takes frozen graph pb but not saved model.
You could try convert original ckpt to frozen graph and convert it again.

[2019-04-01 16:09] Ketsuko commented on #290
lcycoding,

Thank you for your answer!
Yes, this is also what it feel, the probleme is, I have nockpt files. To be more precise, I juste have a variables.index and a variables.data-00000-of-00001 ... the model can be loaded and return results...

However, I have been able to  converted it to a .TFLITE

So, I'm wondering, is there a way to convert a .tflite to a .mlmodel?
I've seen somewhere on Sta

[2019-04-02 02:07] lcycoding commented on #290
@Ketsuko
Try this script to convert savedmodel to frozen graph
Hope this helps.
[code]

And for your another question, TFLite file may not be compatible with mlmodel file.

[2019-04-02 11:56] Ketsuko commented on #290
@lcycoding
Thank you so much for your help!!!!!
It worked very fine!!!
I have now a real pb frozen graph!

[2019-04-04 10:09] Ketsuko opened #291 "NotImplementedError: Unsupported Ops of type: Tile"
Hi everyone,
in my quest of converting a tensorflow saved model to a coreml model, I'm facing some issues.
So far, I have a TF saved model, I opened it and froze to graph to a single .pb file

Then, I'm trying to convert it into a .mlmodel file
However, when I'm running the current line:

tf_converter.convert(tf_model_path='./model.pb',
                     mlmodel_path='my_model.mlmodel',

[2019-04-04 10:28] #290 closed

[2019-04-04 13:39] Ketsuko opened #292 "AssertionError: Const blob shape is more than rank 4"
Hey everyone,

Sorry to disturb you again,
While trying to convert a frozen tensorflow graph .pb with a custom layer (tf.tile), the current error is raised:
AssertionError: Const blob shape is more than rank 4

any ideas about the meaning of it?

Thanks 🤗

[2019-04-05 11:09] Jordi100 opened #293 "Parameters to use in convertor.py for a neutral style transfer model"
Hello:

I have converted my .pb extension file to a mlmodel extension. But the problem is the definition of the output, because the coreml file do not work in the Xcode project.
Can someone specify the output parameters?

I add the example of the mlmodel file achieved.

![IMG_2883](https://user-images.githubusercontent.com/21055773/55623464-5d69a080-57a3-11e9-925a-b7a6d62adf4b.JPG)

The input and

[2019-04-06 23:35] pratik18v commented on #209
@aseemw Is embedding lookup operation supported? If not can you give some pointers on how to implement it using custom layers?

Thank you

[2019-04-08 02:53] EliotAndres opened #294 "TensorFlow 2 support"
Is support for TensorFlow 2 planned ?

At the moment, when using `tf_converter.convert`, I get the following error:

`module 'tensorflow' has no attribute 'reset_default_graph'`

[2019-04-09 20:28] prateethvnayak commented on #225
getting the same error. The frozen model seems to be perfect. Not able to resolve how this issue is triggered.

Any update ?

[2019-04-12 06:43] y-ich commented on #256
I got the same problem, too.
I hope that @aseemw san will solve it.
Thank you.

[2019-04-12 13:43] mrgloom opened #295 "model_precision='float16'"
`coremltools.converters.keras.convert` have parameter `model_precision='float16'` and seems `tfcoreml.tf_converter.convert` doesn't have this option, is there any other way to convert tensorflow model to float16 coreml model?

[2019-04-12 16:53] aseemw commented on #295
after conversion you can always use the coremltools quantization utils to get float 16 weights model, this has the same effect as the argument in keras convert call

[code]

[2019-04-12 16:54] #295 closed

[2019-04-12 16:58] mrgloom commented on #295
Looks like this [doc](https://apple.github.io/coremltools/generated/coremltools.models.neural_network.quantization_utils.html#coremltools.models.neural_network.quantization_utils.quantize_weights) is outdated:
`nbits – Int Number of bits per quantized weight. Only 8-bit and lower quantization is supported`

Also as I can see here linear quantization is used by default:
https://github.com/apple/cor

[2019-04-12 17:25] mrgloom commented on #295
Here is some clarification on this topic:
https://github.com/apple/coremltools/issues/316

[2019-04-22 14:53] prateethvnayak opened #297 "Validation Error : unable to deserialize object"
I am trying something new here. I have a yolov2 object detection model in frozen-pb format. I was able to successfully convert the model and get it running on iOS.

Now, I have done some quantization on the model parameters. I have quantized it from float32 range of values to 8-bits. But the values are still represented in float32 format i.e Now only there are (2^8 - 1) = 255 unique values of floa

[2019-04-27 13:13] icaruslucifer opened #298 "tf_converter.convert Error"
When I first run:
bazel-bin/tensorflow/tools/quantization/quantize_graph --input=/Users/icarus/Documents/icarusCode/Python/neural-style-transfer/fast-style-transfer-coreml-master/fast_style_transfer/checkpoints_test/output_graph.pb --output_node_names="add_37" --output=/Users/icarus/Documents/icarusCode/Python/neural-style-transfer/fast-style-transfer-coreml-master/fast_style_transfer/checkpoints_

[2019-05-02 04:07] kylesgit opened #299 "Post conversion no objects are detected Mobilenet_v2 SSD"
By modifying the example ssd_example.ipynb found under tf-coreml/examples/ I was able to convert my  mobilenet_v2 model to the correct file type with no errors. However, when running the object detection on the app, no classes are ever identified. The frozen tensorflow graph before conversion works. Additionally, when running the example without modifying the code, the coreml file produced does no

[2019-05-05 06:39] vonchenplus commented on #154
@aseemw Is this just resize input?

[2019-05-13 07:12] y-ich opened #300 "[feature request] Supports operations of constants"
Hi.

Some operations require Const or Identity with Const.
For example, Transpose requires Const as perm, MatMul requires Identity with Const as the second input.

The model I tried to convert has operations such as Concat and Reshape with Const and I got errors.

I will appreciate that you will support operations of constants.

Or are there any scripts which converts operations of constants to pr

[2019-05-14 15:59] ray1422 opened #301 "NotImplementedError: Unsupported Ops of type: LeakyRelu"
It seems that it support LeakyReLU but not works.

[2019-05-16 05:12] lqhuy93 opened #302 "Using multiple CoreML instances with same architecture in multiple apps"
The non-deterministic issue appears when I run my apps parallelly (mostly for devOps and testing), which means each process creating a few CoreML instances (same architecture, but different input size). Everything is okay if I run it sequentially. So I have a couple of questions:
- Does Coreml manage nodes(tensors) by name/label? So when I load multiple instances with the same model, it produces n

[2019-05-16 05:28] lqhuy93 commented on #302
solved the issue, seems like my first argument is true.
`Coreml manages tensors by label`, so if you tend to run multiple coreml models in 1 app, making sure each tensor names are unique.

[2019-05-16 10:34] Mahanotrahul commented on #198
Hello, I am also facing a similar problem while converting the model to coreml-
`ValueError: Split op case not handled. Input shape = [1, 512], output shape = [1, 128]`

Is there anyway I can use tensorflow LSTMCell or an LSTM custom layer instead of BasicRNNCell?

[2019-05-17 02:14] leeburt opened #303 "I can't convert my mobileNetSSD model."
Firstly,i use ssd_example.ipynb is ok. But when i change the model to my model is wrong.Here is my log [tf_convert_error_log.txt](https://github.com/tf-coreml/tf-coreml/files/3189585/tf_convert_error_log.txt).
It's my model [mobileNetSSD.zip](https://github.com/tf-coreml/tf-coreml/files/3189630/mobileNetSSD.zip).

look forward to your reply.

[2019-05-17 07:38] bocsiboti opened #304 "Slicing not works after conversion succeed"
I have a simple graph (for image cropping) defined as follows:

[code]
The conversion to protobuffer and to coreml model works fine:
[code]

However, when using the .mlmodel in Xcode, I get the following error:

`validator error: Layer 'aux:0' consumes an input named 'strided_slice:0' which is not present in this network.
`

When using the visualize_spec() coremltools function, I get the following

[2019-06-03 20:02] tucan9389 opened #305 "Is it support tf.keras’s model?"
I have succeeded to convert pure keras model, but there are some problem with tf.keras’s model.
Is tf-coreml support tf.keras model conversion?

Thanks

[2019-06-03 20:19] aseemw commented on #305
Yes, if you save out the graph to a frozen .pb format.

[2019-06-04 00:17] tucan9389 commented on #305
Thanks for reply!
What about InputLayer from functional method on tf.keras?
Is it support with same way? Any advice can help me.

## Related issue
https://github.com/apple/coremltools/issues/231

[2019-06-04 00:22] aseemw commented on #305
tf.keras is not supported currently by the keras converter (which takes as input .h5 file format), which is part of coremltools.
However if a .pb model is saved as a frozen graphed, tfcoreml converter should be able to convert it.

[2019-06-04 01:26] tucan9389 commented on #305
I see!
- [not support yet] tf.keras → coreml (`keras converter`)
- [support] tf.keras → frozen pb -> coreml (`tf-coreml`)

Thanks  a lot 👍

[2019-06-04 01:26] #305 closed

[2019-06-04 22:55] tucan9389 opened #307 "ValueError: Input 0 of node was passed float from other node:0 incompatible with expected resource"
I tried to convert tf.keras model using pre-trained ResNet50 on head from frozen pb, but  ValueError (`ValueError: Input 0 of node resnet50/bn_conv1/cond/ReadVariableOp/Switch was passed float from bn_conv1/gamma:0 incompatible with expected resource.`) is occurred.

Does anyone have any advice?

Thank you :-)

[code]

[2019-06-05 00:38] tucan9389 commented on #307
### resnet50/bn_conv1/cond/ReadVariableOp/Switch node
<img width="892" alt="Screen Shot 2019-06-05 at 9 36 43 AM" src="https://user-images.githubusercontent.com/37643248/58922347-7677d900-8775-11e9-8167-c9edea316688.png">

### resnet50/bn_conv1/cond/ReadVariableOp node
<img width="892" alt="Screen Shot 2019-06-05 at 9 36 47 AM" src="https://user-images.githubusercontent.com/37643248/58922366-7ed01

[2019-06-06 00:19] MatthewWaller opened #309 "Unable to convert a Tensorflow DeepSpeech model with beta converter"
Hello,

I recently tried converting a Tensorflow model of DeepSpeech to CoreML and was unable to.
Here is where the pre-trained model came from: `https://github.com/mozilla/DeepSpeech/releases/download/v0.4.1/deepspeech-0.4.1-models.tar.gz`

Here is my code to convert:
[code]

Here is the end of the output:
[code]

[2019-06-07 22:18] lauriebyrum commented on #309
+1. I'm getting this for my custom model that converts fine without the use_coreml_3 = True flag

[2019-06-07 23:52] lauriebyrum commented on #309
(This is preventing experimentation with CoreML3, in case it isn't obvious...)

[2019-06-08 00:13] aseemw commented on #309
If the model converts without the flag being set to true, thats great, please continue to use that.
The flag ``use_coreml_3``, at the moment, is really for trying out the converter on those networks (such as RNN etc) that were not supported in the previous converter.

[2019-06-09 04:09] meherkasam commented on #266
@aseemw I got the same error. I followed your recommendation. I stopped getting the error from the converter. However, the iPhone app would get stuck at the initialiser for the model file. Any ideas here?

[2019-06-11 07:11] Mahanotrahul opened #310 "InvalidArgumentError: Input to reshape is a tensor with 26 values, but the requested shape has 416"
This is my frozen_model in .pb and model pbtxt format.
[frozen_model-1.pb](https://drive.google.com/file/d/1TpvmNnMqMC05ejmBtnKoXkzSqGA9QDLz/view?usp=sharing)
[save_graph.pbtxt](https://drive.google.com/file/d/1RqqVC916jdQkfhZSr0GZtCf9wnMfg_ZL/view?usp=sharing)

While converting the model to coreml, I get this error:
[code]

I am using this code for conversion:
[code]

Any help would be appreciate

[2019-06-11 12:48] Marshall-Hu opened #311 "Unsupported Ops of type: BatchMatMul"
Using einsum function BatchMatMul ops is unsupported. I print

Ops Info is here:
-------------------------------------------------------------------------------------------
148: op name = import/einsum/MatMul, op type = ( BatchMatMul ), inputs = import/einsum/Reshape:0, import/einsum/Reshape_1:0, outputs = import/einsum/MatMul:0
@input shapes:
name = import/einsum/Reshape:0 : (?, 512, 49)
name = i

[2019-06-11 13:34] Marshall-Hu commented on #311
iOS13 is coming

[2019-06-11 13:34] #311 closed

[2019-06-12 06:57] Mahanotrahul commented on #277
@suoloordi @lissyx Even I am having a similar problem.
```AssertionError: Strided Slice case not handled. Input shape = [1, 4, 26], output shape = [1, 3, 26]```

Did you find any workaround for this problem?

[2019-06-12 07:05] lissyx commented on #277
Nope

[2019-06-12 07:26] Mahanotrahul commented on #256
Hey @aseemw what is the status of this issue? Did you find any solution to this problem?
I have come across this same problem.
@y-ich @XReyRobert-IBM did you guys find any workaround to this problem?

[2019-06-12 14:12] y-ich commented on #256
@Mahanotrahul san,

In my case, Transpose in the model was actually an Identity. So I patched tf-coreml to return an Identity.
It worked.

[2019-06-13 20:46] DawerG commented on #277
@lissyx For DeepSpeech model, it's possible to get rid of `stripped slice` op by using `strip_unused_lib.strip_unused` utility.

[code]

[2019-06-14 09:36] lissyx commented on #277
Interesting, last time I tried `strip_unused` it was not really doing any good. I'll give it a new try then!

[2019-06-14 11:49] lissyx commented on #277
@DawerG As before, applying `strip_unused`, I still have the same list of ops in the output graph, including `StridedSlice`.

[2019-06-15 13:12] veeeencedamico2 opened #312 "Unable to convert .pb"
[code]

Result:

[code]

[2019-06-16 20:34] vade commented on #302
To be clear, I run multiple concurrent instances of a CoreML model in the same memory address space for my app and have no issues with prediction output (its stable, the API is object oriented), so this isn't a CoreML iOS/macOS  runtime issue but perhaps with the python runtime (Im presuming you are running inference on a CoreML model via CoreMLTools?)? It might be better suited to ask about the i

[2019-06-17 18:45] naoto0804 opened #313 "Segmentation fault in loading .mlmodel on MacOS"
I converted my tensorflow frozen model (.pb) to coreml by `tf_converter.convert` in Ubuntu.
It seems it successfully converted according to the log, but when I try to load my model in MacOS (for testing `.predict` function), it throws a segmentation fault error. Is there any way to investigate what's wrong?

**System information (converting)**
- OS Platform and Distribution: Linux Ubuntu 16.04
- T

[2019-06-19 17:12] lqhuy93 commented on #302
@vade ah, I was running 3 different models with the same architecture (so some nodes/tensors have the same label coincidentally), the problem was solved by adding a prefix label, made sure all node's names/labels are unique (in all models)

[2019-06-19 17:12] #302 closed

[2019-06-24 10:37] essalahsouad opened #314 "convert tflite model to coreml"
i need to convert model to coreml model .is it possible ???

[2019-06-25 03:04] not-Ian opened #315 "Converting DeepLabv3+ made in Tensorflow v2 beta 1"
Hi, I'm running this code to try to convert a frozen .pb model I've saved to a coreml model:

[code]

This is my error:

[code]

I've tried saving the model two different ways, both using Tensorflow 2.0.0b1:

`tf.keras.experimental.export_saved_model(model, "./archived models/DeepLabv3+_15_epochs", custom_objects={'relu6': relu6})`
`tf.keras.experimental.export_saved_model(model, "./archived model

[2019-06-25 05:28] aseemw commented on #315
How have you saved the original .pb model?
Can you try saving it by using the ``freeze_graph`` ([example](https://github.com/tf-coreml/tf-coreml/blob/master/examples/linear_mnist_example.ipynb)) and Tensorflow 1.13?

[2019-06-25 14:02] not-Ian commented on #315
I included this in my original post:

`tf.keras.experimental.export_saved_model(model, "./archived models/DeepLabv3+_15_epochs", custom_objects={'relu6': relu6})`

Am I misunderstanding that that saves a .pb model? It creates a folder, inside it has an assets/variables folder, plus a model `saved_model.pb`

[2019-06-25 14:04] not-Ian commented on #315
Having trouble using `freeze_graph` - I'll update with more details after trying again later this afternoon.

[2019-06-25 15:25] aseemw commented on #315
I see....thanks for sharing the method used for saving.
Yeah, it would be good to know the error you get while using freeze_graph.
There seems to be a difference in the format between TF 1.1.3 and 2.0, we will look into it.

[2019-06-25 16:42] not-Ian commented on #315
Any way I can help move this forward? Is it reasonable to expect I could put a PR in to integrate with Tensorflow 2.0?

Regardless, I'll continue plucking away on my side.

[2019-06-30 02:41] Vortec4800 opened #316 "Convert CoreML to Tensorflow"
I know this library is primarily designed to go in the other direction, but I have a trained CoreML model that I need to run in the cloud. Is there a way to configure this tool to take my CoreML model and covert it to a TF model?

[2019-06-30 07:02] aseemw commented on #316
This repo does not go in the other direction.
However, you could try using [onnxmltools](https://github.com/onnx/onnxmltools) to go from CoreML to ONNX format.
Then, that can be run using onnx runtime or converted to TF (https://github.com/onnx/onnx-tensorflow)

[2019-07-01 20:26] Oktai15 commented on #315
@not-Ian if you convert your model in tf 2.0 to coreml, please, write here.

[2019-07-02 21:27] Vortec4800 commented on #316
Cool thanks for the tip, I'll give that a try and see how it works.

[2019-07-02 21:27] #316 closed

[2019-07-03 03:47] 1duo commented on #314
@essalahsouad Only converting from TensorFlow will be supported at this moment.

[2019-07-03 07:41] #314 closed

[2019-07-08 00:57] byondrealdev opened #317 "Add a prominent remark in the README that errors of type `Retval[0] does not have value` may be caused operations unsupported by CoreML"
It will save a headache for those who are new to machine learning and just trying to convert an existing tensorflow model they found somewhere on the internet.

[2019-07-08 01:33] byondrealdev commented on #317
Or, most probably, by having training phase nodes in your graph .pb file, which must first be removed by [tensorflow.graph_util.remove_training_nodes](https://www.tensorflow.org/api_docs/python/tf/graph_util/remove_training_nodes)

[2019-07-10 03:00] panyongfeng opened #318 "NotImplementedError: Unsupported Ops of type: FusedBatchNormV3"
Dears,
Is there any plan to add this support?
Or
What should I do to work around this?
thanks a lot.
Here is the log when I am translate openseq2seq pb to coreml:
...
Graph Loaded.
Now finding ops in the TF graph that can be dropped for inference
Collecting all the 'Const' ops from the graph, by running it....
Done.
Traceback (most recent call last):
  File "pb_to_coreml.py", line 7, in <module>

[2019-07-12 10:33] chrisabbott opened #320 "Is there a known workaround for the lack of BatchMatMul support?"
I'm currently trying to convert [Google's pretrained BERT model](https://github.com/google-research/bert) to CoreML using `tfcoreml`, however I've started running into the following error:
[code]
Which is presumably due to this MatMul operation here:
`attention_scores = tf.matmul(query_layer, key_layer, transpose_b=True)`

where:
`query_layer.shape = [batch_size, i, j, k]` and
`key_layer.shape = [

[2019-07-13 00:58] #320 closed

[2019-07-15 20:07] amalti opened #322 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[6] does not have value"
Hi
I have an issue converting pb file to coreml file with a Retval[6] error. here is my traceback log

Traceback (most recent call last):
  File "/home/abed/Development/projects/virenv/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 1356, in _do_call
    try:
  File "/home/abed/Development/projects/virenv/lib/python3.6/site-packages/tensorflow/python/client/session.py", line

[2019-07-17 14:06] mayankb009 commented on #194
Hi, I was having a similar issue when my model size increased from 30MB (.pb file) to 90MB (.mlmodel) after the conversion.
Thanks to @aseemw for pointing out the root cause of this. For a short term solution, I replaced the Minimum layer implementation in the converter as follows:-
[code]
For me the constant was 6 for all the layers, so it became fairly easy. It might be tricky if all your layers

[2019-07-25 10:49] Gurdev-Singh commented on #150
I am also facing the same problem. I have even added the parameter of `image_input_names` but still my CoreML Model is showing input as MultiArray (3,299,299). Please help.

[2019-07-25 14:29] b-onc commented on #312
I also get the same `Type 20 cannot be mapped`, although the rest is different

[2019-07-25 18:03] nseidl opened #323 "Unsupported Ops of type: SplitV"
Relevant information from `pip freeze`:
[code]

Script used:

[code]

Script output:

[code]

You can find the frozen graph used [here](https://drive.google.com/open?id=1Bgj9h6TJLwedtrhnritRs9eYm_iczG4v).

I understand that `SplitV` is not explicitly converted, but could the `SplitV` operation in the graph be converted to a `Split` operation, which is supported?

[2019-07-26 06:17] b-onc opened #324 ""Type 20 cannot be mapped" and RecursionError"
Hello!

using
coremltools 3.0b3
tfcoreml 0.4.0b1

When I try to convert my model (`.pb`) with `use_coreml_3 = True`, I get
[code]
Our graph has cycles that we know of, so shouldn't it raise `ValueError: Graph has cycles`?

Regards

[2019-07-26 06:18] b-onc opened #325 "Support for loops/branching?"
Hello!

CoreML3 officially supports loops/branching but the converter still doesn't support loops (at least the README states so). Will there be support?

Regards

[2019-07-26 08:32] b-onc commented on #324
We've found that running the converter with `use_coreml_3 = False` gives the correct output, and also found the underlying error: the recursion limit of 2000 wasn't enough for our huge model, 4000 works.
Also Type 20 is `DT_RESOURCE`

[2019-07-26 08:32] #324 closed

[2019-07-26 10:20] 1duo commented on #301
This should be supported in the latest converter. @ray1422 please re-open if you fin any issues. Thanks!

[code]

[2019-07-26 10:20] #301 closed

[2019-07-26 10:38] joacimstahl opened #326 "NotImplementedError: Unsupported Ops of type: DepthToSpace"
Hi,

I get "NotImplementedError: Unsupported Ops of type: DepthToSpace" however when i check the source code and list of supported ops DepthToSpace is there.

[2019-07-31 11:00] 1duo commented on #309
@MatthewWaller @lauriebyrum Here's an example convert script: https://github.com/tf-coreml/tf-coreml/blob/master/examples/deep_speech.ipynb. Note that this convert requires seed 5 or later. Please re-open if you find any issues. Thanks!

[2019-07-31 11:00] #309 closed

[2019-07-31 14:54] MarsVard opened #327 "Can I convert mlmodel files back to tflite?"
Does tfcoreml offer a way to convert an .mlmodel file to .tflite?

[2019-08-02 02:39] 1duo commented on #327
This is currently not supported. From TensorFlow frozen graph, you can either convert it to Core ML's format `.mlmodel` or TF Lite format `.tflite`.

[2019-08-02 02:39] #327 closed

[2019-08-03 09:18] Davari393 commented on #107
hi.
i have a tflite model of ssdlite mobilenetv2 on coco dataset 2017.and i want to test accuracy of that on val coco 2017.
i know should use interpreter and output of that is the prediction of input image.but output shape of my model is [1 , 1917,1 ,4].
i don't know how i can map between output of interpreter and annotation of val2017.
can anyone help me?

[2019-08-05 01:28] madhavajay commented on #107
@Davari393 Check out this source code which does the mapping from 1917 to anchor boxes and scores: https://github.com/vonholst/SSDMobileNet_CoreML

[2019-08-13 16:19] kezakool opened #329 "TypeError: Shape Translator missing for OP of type GatherV2"
Hello there,

First, thanks you for all your work, you're the tiny bound between google and Apple! :)

I'm working on a tensorflow project 1.13, in speech reco, and i'm struggling to deploy it on IOS, with two errors :
- Occurring on the stft in the features preprocessing steps of my graph -> TypeError: Shape Translator missing for OP of type GatherV2.
    -> I feel like its more a feature request

[2019-08-15 07:35] Davari393 commented on #107
Hi pal.
i am using tflite model of ssdlite mobilenet v2.and i want evaluate that on my system.but i dont know how should i fill this variable in my code?

      let yACtr = (anchor.yMin + anchor.yMax) / 2.0
      let xACtr = (anchor.xMin + anchor.xMax) / 2.0
      let ha = (anchor.yMax - anchor.yMin)
      let wa = (anchor.xMax - anchor.xMin)

      let ty = anchorEncoding.ty / 10.0
      let tx =

[2019-08-16 10:04] rajalive28 commented on #267
@anilsathyan7 I am facing with the same issue. Could you please elaborate more on how did you fix it?

[2019-08-18 10:18] Davari393 commented on #107
Hi.
If I want to compute IOU is it correct to do like this?
boxes = real bbox coordinate COCO annotation
p = prediction of tflite ssdlite mobilenetv2 model

    yACtr = (boxes[i][0] + boxes[i][2]) / 2.0
    xACtr = (boxes[i][1] + boxes[i][3]) / 2.0
    ha = (boxes[i][2] - boxes[i][0])
    wa = (boxes[i][3] - boxes[i][1])
    ty , tx , th , tw = p[0:4]
    w = np.exp(tw / 5.0) * wa
    h = np.exp(t

[2019-08-21 01:19] zyx1213271098 opened #330 "Question：Why tf-coreml need this limitation 'len(tensor.shape) <= 4'?"

[2019-08-21 01:29] aseemw commented on #330
This is not the case if you use the newer tf-coreml converter with the beta tfcoreml and coremltools wheels: https://github.com/tf-coreml/tf-coreml#new-beta-tfcoreml-converter-with-core-ml-3

[2019-08-21 02:55] zyx1213271098 commented on #330
alright, thank you very much!

[2019-08-21 08:45] edis219 commented on #312
Encounter the same issue, when convert TF to CoreML

[2019-08-26 07:57] kezakool commented on #329
is there someone here that can help? thanks

[2019-08-26 15:03] Jordi100 opened #332 "Adding metadata as author and description"
Hello,

I have tried with different options to add the metadata labels.
The examples in internet are those:
[code]
But none of these options worked. (Obviously changing the text after the equal symbol.)
Please, can you inform about how to set the metadata?
Regards,

Jorge

[2019-08-26 23:48] bhushan23 opened #333 "test issue"

[2019-08-26 23:48] #333 closed, assigned to nobody

[2019-08-27 09:37] kezakool commented on #329
Hi @1duo , thanks for helping!

you'll find here a shared notebook : https://colab.research.google.com/drive/1cZxfNWIlL4U856wTb5z6CzkdDYpZt9De

and here are the two frozen model : https://we.tl/t-mrDG2HotZo

- frozen_model.pb : give me this error
/usr/local/lib/python3.6/dist-packages/tfcoreml/_tf_graph_transform.py in _push_stack(stack, node, in_stack)
     36   stack.append(node)
     37   if no

[2019-08-28 18:10] kezakool commented on #329
Hi @1duo, i used the same exact as you said, and unfortunately i get the result i gave you

[2019-08-29 22:43] 1duo commented on #329
Hi @kezakool, forgot to mention you’ll need to use use_coreml_4=True flag when calling convert(). You’ll see these error gone if you do that. However, this model contains beam search decoder currently we currently still working on.

[2019-08-30 14:56] kezakool commented on #329
Hi @1duo, thanks, i did that, and i got a new error.. it means we re improving! but i feel there is still many things to do (i can pull out the beamsearchdecoder if needed)

Here is the error description :
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/coremltools/converters/nnssa/frontend/graph

[2019-08-31 11:09] williamtong0228 opened #335 "conv2d_input:0 is a placeholder with incomplete shape. How do I fix this error?"
Hi, I am new to this. I trained a standard super-resolution CNN. I see that someone posted this issue before and it could be caused by giving the wrong name. But I am not sure where I could find this name. I copied the code from the example and tried to change 'input:0' to 'image:0' but without any luck. Maybe anyone could give me some hints? Many thanks.

tf_converter.convert(tf_model_path='srcnn

[2019-09-01 13:41] #335 closed

[2019-09-02 01:14] y-ich commented on #205
I encountered the same error.
I want to request some improvement of error message for debugging.

Thank you.

[2019-09-03 18:05] 1duo commented on #329
Hi @kezakool, thanks for trying the new flag, locally I'm getting different errors. Did you already tried to pull out the beam search part? If so, could you share the modified model? Thanks!

[2019-09-04 05:49] devajith commented on #80
is it possible to convert TF graph with cycles using coreml3 ?

[2019-09-04 18:13] 1duo commented on #312
@veeeencedamico2 @b-onc @edis219 Although error message (`Type 20 cannot be mapped`) may seems similar but the error might actually happens during converting different TF ops. It'd be extremely helpful if you could share your model (a link to the frozen TF `.pb` file) and conversion scripts. This way, we can reproduce the error and we're happy to help to fix any missing ops and convert the model.

[2019-09-04 18:18] 1duo commented on #192
Hi @JeremyGozlan, thanks for reporting this issue! `ScatterNd` op is now included in the latest coremltools. Let us know if you encounter any issues. `MaxPoolWithArgmax ` op in TF only has GPU implementation, and can be decomposed easily, let us know if you encounter an use case, we'd happy to look into it. Thanks!

[2019-09-04 18:18] #192 closed

[2019-09-05 09:32] Jordi100 commented on #332
Hello Aseemw,
Maybe my question was not clear.
Please, can you answer the following?
**How can I add the author and description inside a coreml file that is build from a .pb file?**
Regards,
Jorge

[2019-09-05 18:00] cuculesa commented on #313
Can you share the model with us? Thank you.

[2019-09-05 19:59] vade commented on #332
You edit the core ml spec and then save the model, like so:

[code]

[2019-09-05 20:02] vade commented on #315
Same, this is kind of insane there is no way for TF 2.0 / TF.Keras in 2.0 to export to a sane Protobuffers compatible with CoreMLTools or tf-coreml - like what is even going on.

[2019-09-05 21:15] Jordi100 commented on #332
Hello Vade,

Thank you for your answer.
It works, it adds the author, license and description metadata.
But the problem is that the original mlmodel file has as Type parameter:

Input  Image (Color 300 x 400)
Output Image (Color 400 x 300)

But the new mlmodel file has:
Input  Image (Color 300 x 400)
**Output MultiArray (Double 3 x 400 x 300)**

Please, why the output has changed?
Regards,

Jorge

[2019-09-05 21:15] vade commented on #332
Did you adjust the spec at all?

[2019-09-05 21:19] Jordi100 commented on #332
If I add:

spec = mlmodel.get_spec( )
output = spec.description.output[0]

as used to create the original file, it launch and error. Do I need to specify something more?

[2019-09-05 21:21] vade commented on #332
You shouldn't need to touch the spec

just

[code]

without you posting code its impossible to know what is going on. Please post some code.

[2019-09-05 21:48] Jordi100 commented on #332
I have created the new file to add the metadata with the folllowing code:

import tfcoreml as tf_converter
import coremltools
model  = coremltools.models.MLModel('frozen5.mlmodel')

# Set the model metadata

model.author = 'Jorge Gregorio'

model.license = 'Do not sell'

model.short_description = 'Neural art'

model.save('frozen5b.mlmodel')

It works, but it changes the output Type as I specified

[2019-09-05 21:50] vade commented on #332
That sounds like a bug, you can get the model spec before you change anything, print it, and what changed before and after, and try to force setting the spec values from before the change?

Thats odd. Maybe open a new issue just for that.

[2019-09-05 21:53] Jordi100 commented on #332
Thank you Dave for your answer.
I will try what you say tomorrow. I have very few knowledge with coreml.
If It does not work I will open a new issue.
Thank you. Regards.
Jorge

[2019-09-06 00:11] 1duo commented on #325
This issue should be resolved with the latest coremltools. Close due to inactivity. Feel free to re-open if you still see the issue. Thanks!

[2019-09-06 00:11] #325 closed

[2019-09-06 00:11] 1duo commented on #323
This issue should be resolved with the latest coremltools. Close due to inactivity. Feel free to re-open if you still see the issue. Thanks!

[2019-09-06 00:11] #323 closed

[2019-09-06 00:12] 1duo commented on #146
This issue should be resolved with the latest coremltools. Close due to inactivity. Feel free to re-open if you still see the issue. Thanks!

[2019-09-06 00:12] #146 closed

[2019-09-06 04:13] naoto0804 commented on #313
Thank you for helping, but I cannot share the model due to NDA (was during the internship at a company), so sorry for that.

[2019-09-06 17:30] aseemw commented on #313
Hi @naoto0804, in that case, there is also an option of filing an official bug report at https://developer.apple.com/bug-reporting/, through which you can privately share your model.

Another option is if you could construct a model with similar architecture but random weights, such that the issue is reproduced on this toy model, then that we can reproduce and look into the issue.

[2019-09-10 05:23] 1duo commented on #326
Hi @joacimstahl, thanks for reporting this issue. The `DepthToSpace` op has been recently added to coremltools: see https://github.com/apple/coremltools/pull/437. You can expect this fix to land in next beta release soon (`coremltoos==3.0b6`). Have a try and let us know if it does not work for you. Thanks!

[2019-09-10 05:23] #326 closed

[2019-09-10 14:07] SanthoshSandi commented on #267
Hello @1duo . I tried converting a modified deeplab model to coreml. I was unable to convert it..
Can you look into the conversion script once.

[code]

This is the link for the sample model.

[Sample Model](https://github.com/ogl4jo3/LIYS_Application/raw/master/LIYS_DemoScript/Segmentation/models/deeplab_dm1.0_inference.pb)

[2019-09-13 10:53] SanthoshRajendiran commented on #312
This happens even with the default deeplab model hosted in tensorflow github page. We are not able to convert the deeplab model.

[2019-09-18 21:25] dhananjaisharma10 opened #336 "Mixnet conversion"
Hi!

I'm trying to convert the frozen model of [mixnet-s](https://github.com/tensorflow/tpu/tree/master/models/official/mnasnet/mixnet). But when I feed the `.pb` file of this model to the converter, I get the following error:
[code]
I'm relatively new to TF, so I'm still figuring out my ways. Please let me know how to solve this issue.

Thanks in advance!

[2019-09-19 12:35] abdou31 opened #337 "ValueError: output name: logits/BiasAdd, was provided, but the Tensorflow graph does not contain a tensor with this name."
## ❓Question

## System Information
- Python 3.6
- Windows 10 x64
- Tensorflow 1.14.1

I have a frozen inference model and I want it to tfcoreml model but I have got some errors when trying to get the .mlmodel file:

I visualize the model using Netron :

![image](https://user-images.githubusercontent.com/19480228/65243768-4e747180-dae9-11e9-8187-bd5ba48d1b7f.png)

The input and the output tensors

[2019-09-19 14:01] abdou31 opened #338 "NotImplementedError: Unsupported Ops of type: OneShotIterator,IteratorGetNext,Shape,Pack"
## 🐞Describe the bug
I have a frozen inference model and I'm trying to convert this model to coreml model, but I get some errors
## Trace

## To Reproduce

[code]

![image](https://user-images.githubusercontent.com/19480228/65250714-4a9b1c00-daf6-11e9-9920-31e0f2a1dd0e.png)

![image](https://user-images.githubusercontent.com/19480228/65250741-5850a180-daf6-11e9-8756-89ca8fb779c4.png)

![image](htt

[2019-09-20 16:37] 1duo commented on #338
Hi @abdou31, thanks for reporting issue! Could you try `pip3 install coremltools==3.0b6` and:

[code]

Note: that this `use_coreml_3=True` flag is temporary due to beta converter. The behavior might be updated in the 3.0 release.

[2019-09-20 16:38] 1duo commented on #337
Hi @abdou31, I think this is resolved as you mentioned in https://github.com/tf-coreml/tf-coreml/issues/338? Let us know if you have any further questions.

[2019-09-20 17:01] 1duo commented on #336
Hi @dhananjaisharma10, seems it's a TensorFlow (`tensorflow.python.framework.errors_impl.OutOfRangeError`) error. Did you make sure the TF versions are matching?

[2019-09-20 17:17] abdou31 commented on #338
Thanks for your answer,
I have tried executing the command `python3 conver_cml.py` after installing `coremltools` , I get this error:

    raise NotImplementedError("func not yet implemented")
NotImplementedError: func not yet implemented

[2019-09-20 17:46] wangdan0527 commented on #269
@vonholst

Hi.
How are you today?
I used Keras implementation as you did and converted h5 to coreml.

I used this script.

https://gist.github.com/viteinfinite/1901d9cb6d26c21967a08aa5534e05c2

On the iOS application, the coreml output result is nil.

![image](https://user-images.githubusercontent.com/19706426/65347253-36980d00-dc11-11e9-8467-93968a1fa85a.png)

I experienced such issue for coreml

[2019-09-20 20:03] 1duo commented on #338
Could you share the model and conversion script so that we could reproduce in our side? Thanks!

[2019-09-20 22:47] dhananjaisharma10 commented on #336
Hi!

I had used TF 1.14 to freeze the graph. Please let me know if that's an issue.

[2019-09-20 22:51] 1duo commented on #336
The error you're hitting seems during the execution of the TensorFlow graph, which you might need to investigate separately. Once you have a valid executable `.pb` and hitting issue during conversion, we'd more than be happy to help.

[2019-09-21 09:22] abdou31 commented on #338
The conversation script is what you write I just copied what you write.
For the model, I just uploaded the image that show the architecture.
Do you want to upload the model file ( .pb ) in the github?

[2019-09-21 10:36] wangdan0527 commented on #269
@ramiro-feria-puron

Hi.

How are you today?
Did you find a solution for normalizing output vector of coreml converted from facenet model?

Thanks

[2019-09-21 15:59] vonholst commented on #269
Hi, this was a while ago. I don’t recall having to normalize outputs. I used l2 norm or a knn model to determine classes. Either option works.

[2019-09-24 13:32] abdou31 opened #339 "Is it possible to change the type of the input tensor in the coreml model from multiarray to image?"
## ❓Question

## System Information
- Mac OS ( for testing the project) & Windows 10 x64
- python 3.6
- Tensorflow 1.14.1

+ I have a coreml model with those parameters and I want to change the type of the input tensor from Multiarray with shapes (112,112,3) to RGB image(112,112)

[name: "input_to_float__0"
type {
multiArrayType {
shape: 3
shape: 112
shape: 112
dataType: DOUBLE
}
}
]
Core ML outpu

[2019-09-24 14:23] manuelcosta74 opened #340 "Pre-processing parameters not added"
## ❓I'm trying to use tf-coreml to convert a model, but it seams that pre-processing parameters are not being added. Any ideia why?

scale = 1.0 / 128.0

coreml_model = tfcoreml.convert (tf_model_path=tf_model_path,
                                 mlmodel_path=coreml_model_file,
                                 input_name_shape_dict={"img_inputs:0": [1, 112, 112, 3]}, # batch size is 1

[2019-09-24 16:27] 1duo commented on #338
@abdou31 The model (`.pb`) file and the conversion scripts are extremely helpful for Core ML developers to reproduce and diagnose the issue. So it'd be great if you can share that. If it's a publically available model, you can just give us a pointer, otherwise, you can upload it to the Apple Bug Report system.

[2019-09-24 16:32] abdou31 commented on #338
Thanks for your help, I have solved my problem by optimizing the frozen graph model and eliminating Unuspported Ops [Stackoverflow solution](https://stackoverflow.com/questions/48117854/how-to-use-a-retrained-tensorflow-for-poets-graph-on-ios)

[2019-09-24 16:32] #338 closed

[2019-09-24 16:33] 1duo commented on #338
@abdou31 Awesome! That's also usually recommended for better performance.

[2019-09-24 17:03] aseemw commented on #340
Not sure, the call pattern looks correct.
`image_input_names` is not yet supported with `use_coreml_3= True`, which should be added soon. However, that flag is false in this case.

Is this model specific? For instance when you run the examples in https://github.com/tf-coreml/tf-coreml/tree/master/examples which have image pre-processing conversions, do you still see the issue?

[2019-09-24 17:08] aseemw commented on #339
Yes, please examples: https://github.com/tf-coreml/tf-coreml/blob/master/examples/inception_v1_preprocessing_steps.ipynb and https://github.com/tf-coreml/tf-coreml/blob/master/examples/style_transfer_example.ipynb

[2019-09-24 17:29] abdou31 commented on #339
Thanks,
I solved my problem and I used this script :
[code]

I comment the last line because when I use it, the model gives me false predictions

[2019-09-24 17:29] #339 closed

[2019-09-25 08:24] AzizCode92 commented on #225
Any update about this error? thanks

[2019-09-25 10:49] manuelcosta74 commented on #340
Hi @aseemw

i did answer yesterday, but don't know what happened and the message was not filed.
Converter is working and a Scalar node is added after the input with the correct parameters. I was just confused by pprint(dir(nn_spec.preprocessing)) that did not print any values.
Another doubt that we have is to change the input name.
We tried the following

input = spec.description.input[0]
input.na

[2019-09-25 16:59] danvargg commented on #280
Facing the exact same issue here.

[2019-09-25 17:18] aseemw commented on #280
Did you try setting the shape as (1,) ?

[2019-09-25 17:47] danvargg commented on #280
Thanks. I will give it a try and get back to you.

[2019-09-26 04:43] aseemw commented on #340
Regarding the pre-processing params, maybe this will help: https://github.com/apple/coremltools/blob/master/docs/APIExamples.md#printing-the-pre-processing-parameters

Regarding changing the name of the input,
apart from changing it in `spec.description`, you would also need to iterate over the layers and change it where ever its being used as an input,

That is, once `nn_spec` is obtained as disc

[2019-09-26 09:57] manuelcosta74 commented on #340
@aseemw  did try it before

and the graph seems ok in Netron. The name is changed.
Printing the parameters after changing the name produces this, though.

[featureName: "img_inputs__0"
scaler {
  channelScale: 0.0078125
  blueBias: -0.99609375
  greenBias: -0.99609375
  redBias: -0.99609375
}
]

Source code

[code]

[2019-09-26 13:35] danvargg commented on #280
Hi, it worked! Thanks a lot!.

But I wonder, why are `switch` operations created if I save and freeze the model with `is_training = False`. Shouldn't the `is_training = True` path be absent?

[2019-09-30 17:04] danvargg commented on #205
Encountered the same issue:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[26] does not have value`

[2019-09-30 18:14] stev3 opened #341 "Supporting Inflated 3D CNNs"
Inflated 3D CNNs, inspired by the paper[ "Quo Vadis, Action Recognition? A New Model and the Kinetics Dataset"](https://arxiv.org/abs/1705.07750) by Joao Carreira and Andrew Zisserman, are great for training action recognition neural networks. They are not yet supported as per this [list](https://github.com/tf-coreml/tf-coreml/blob/d37b4d28ec355a9f07298547bf989b4309d0597e/tfcoreml/_ops_to_layers.p

[2019-10-01 18:14] danvargg opened #342 "Tensorflow to CoreML with tf-coreml: `Retval[0]` error"
## 🐞Describe the bug
I have a multi-input network that uses a `tf.bool` `tf.placeholder` to manage how batch normalization is executed in training and validation / testing.
I’ve been trying to convert this trained model to `CoreML` via `tf-coreml` library with no success, with below error:
`tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[26] does not have value`
I've also enco

[2019-10-05 00:27] dhananjaisharma10 commented on #336
Hi! I tried two ways to freeze the graph.

**Case 1:**
I was able to freeze the graph using the following function:
[code]

But after conversion to Core ML, I got the following error with the `.mlmodel` file:
[code]
When I visualize the frozen `.pb` file and the `.mlmodel` file, I don't find any missing node at the layer throwing the error. They're both the same. Please let me know what should I d

[2019-10-05 02:50] dhananjaisharma10 commented on #313
Facing a similar issue. But I had done the entire process on MacOS.

**System information**
OS Platform and Distribution: macOS Mojave 10.14.6
TensorFlow version: 1.14.0
Python version: 3.7.3
coremltools==3.0b5
tfcoreml==0.4.0b1

**Code to reproduce the issue**
[code]

Please help me out and let me know in case you need any further information. Thanks!

[2019-10-07 08:46] Jordi100 opened #343 "Error adding author and description information into a coreml file"
Hello,

I have some core ml extension files. These has been created from a .pb extension file.
When I try to add the author and description information to the  coreml file, it launchs the following error.

**python[941:28718] IMPORTANT: new sequence length computation failed, falling back to old path. Your compilation was sucessful, but please file a radar on Core ML | Neural Networks and attach t

[2019-10-07 22:35] slin07 commented on #342
Hi, @danvargg, coremltools have some major update in version 3.0 that addresses issue concerning control flow operations. Can you try:
(1) Update coremltools to version 3.0,
(2) In `tfcoreml.convert()` add the argument `use_coreml_3=True`?

If that still doesn't work, can you post a small model to reproduce the bug?

[2019-10-08 00:12] danvargg commented on #342
Hi @slin07,

I did try it out and it seems to handle the control flows properly. But I just got the below error.

I'm not sure where does `RandomUniform` comes from, since I don't use it for inference.

[code]

[2019-10-09 06:01] Lisandro79 commented on #294
Is this supported now?

[2019-10-09 14:40] lauriebyrum commented on #315
Consider this another vote for support for tf2. Thanks!

[2019-10-10 10:16] Jordi100 commented on #343
If I use the core ml extension file in a Xcode project. When the file run, it launch the message:
019-10-10 11:51:51.194936+0200 Art[657:61867] [coreml] IMPORTANT: new sequence length computation failed, falling back to old path.
2019-10-10 11:51:54.148448+0200 Art[657:61867] [coreml] Error computing shape information for Neural Network model. This model may be invalid.

And it works in some iOS d

[2019-10-12 00:11] 1duo commented on #343
Hi @Jordi100, thanks for reporting this issue. This error seems unrelated to setting up metadata. Can you file a [bug-report](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=bug&template=--bug-report.md&title=). Detailed information to reproduce this error is appreciated.

[2019-10-12 00:13] 1duo commented on #342
Did you [remove training node](https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/graph_util/remove_training_nodes) before freeze graph? You can see readme and examples in https://github.com/tf-coreml/tf-coreml repo.

[2019-10-12 00:17] 1duo commented on #341
Hi @stev3, thanks for the suggestion! Could you let us know which ops are missing for this model? BTW, we've just released tfcoreml 1.0 with extra supported layers. Details here: https://github.com/tf-coreml/tf-coreml#supported-operators and https://github.com/apple/coremltools/blob/2a08445ade3c0da81fb2b25cf6de9f88c993be0c/coremltools/converters/nnssa/coreml/ssa_converter.py#L330.

[2019-10-12 00:19] 1duo commented on #337
Close due to inactivity. Please reopen if you still see this error. Thanks!

[2019-10-12 00:19] #337 closed

[2019-10-14 16:26] 1duo commented on #340
Hi @manuelcosta74, we've recently added support for pre-processing parameters in https://github.com/tf-coreml/tf-coreml/pull/344/files, could you try with the `target_ios='13'` flag? Thanks!

[2019-10-14 16:26] #330 closed

[2019-10-14 20:50] 1duo commented on #322
Hi @amalti, thanks for reporting this issue! Which tfcoreml / coremltools version are you using? it'd great if you can share the `model.pb` file so we can reproduce this issue.

[2019-10-14 20:52] 1duo commented on #318
Hi @panyongfeng, thanks for reporting this issue! It'd be great if you can share the `model.pb` and convert scripts to reproduce this issue. Thanks!

[2019-10-15 13:54] danvargg commented on #342
@slin07 I was able to make the conversion by:

1. Re-direct inputs with `tf.import_graph_def` and write the graph `.pbtxt`
2. Freeze the model with `freeze_graph` (this seems to remove `dropout` layers
3. Convert variables to constants with `graph_util.convert_variables_to_constants`
4. Convert with `tfcoreml`

Thanks a lot for the support!

[2019-10-15 17:57] 1duo commented on #342
@danvargg Awesome! Let us know if you have further questions.

[2019-10-15 17:57] #342 closed

[2019-10-16 22:03] #26 closed

[2019-10-16 22:06] #35 closed

[2019-10-16 22:07] Mstronach commented on #124
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open. Thanks!

[2019-10-16 22:07] #124 closed

[2019-10-16 22:08] #142 closed

[2019-10-16 22:09] bhushan23 commented on #151
done

[2019-10-16 22:09] #151 closed

[2019-10-16 22:09] Mstronach commented on #142
This issue is being closed as it has been resolved as a part of Core ML 3. Thanks!

[2019-10-16 22:13] Mstronach commented on #156
This issue is being closed due to inactivity preceeding the request for an update. This operator has been extended in Core ML 3, feel free to try it out. Thanks!

[2019-10-16 22:13] #156 closed

[2019-10-16 22:18] Mstronach commented on #172
Please try these instructions: https://github.com/tf-coreml/tf-coreml/blob/master/README.md#new-fire-tfcoreml-converter-with-core-ml-3 Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-16 22:18] #172 closed

[2019-10-16 22:18] #175 closed

[2019-10-16 22:21] Mstronach commented on #177
These ops have been included in Core ML 3, please try it out and let us know if you are still seeing the issue. Thanks!

[2019-10-16 22:21] #177 closed

[2019-10-16 22:24] #181 closed

[2019-10-16 22:26] Mstronach commented on #189
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-16 22:26] #189 closed

[2019-10-16 22:27] Mstronach commented on #190
Please try this installation: https://github.com/tf-coreml/tf-coreml/blob/master/README.md#new-fire-tfcoreml-converter-with-core-ml-3 and re-open this issue if you are still having issues. Thanks!

[2019-10-16 22:27] #190 closed

[2019-10-17 17:17] 1duo opened #349 "constant propagation error: Retval[x] does not have value"
## 🐞Describe the bug

TensorFlow `sess.run()` fails in the `constant_propagation()` pass with the following errors:

[code]

## Related Issues:

- https://github.com/apple/coremltools/issues/485
- https://github.com/tf-coreml/tf-coreml/issues/322
- https://github.com/tf-coreml/tf-coreml/issues/205
- https://github.com/tf-coreml/tf-coreml/issues/200

[2019-10-23 21:40] #195 closed

[2019-10-23 21:42] Mstronach commented on #197
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-23 21:42] #197 closed

[2019-10-23 21:44] Mstronach commented on #200
Can you try again with the latest version and let us know if you are still experiencing this issue? Thanks.

[2019-10-23 21:45] Mstronach commented on #202
@aseemw did you put up a PR regarding this issue?

[2019-10-23 21:48] Mstronach commented on #207
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-23 21:48] #207 closed

[2019-10-23 21:48] #208 closed

[2019-10-23 21:52] bhushan23 commented on #209
@pratik18v here is an example of custom layer in tensorflow https://github.com/apple/coremltools/blob/master/coremltools/converters/tensorflow/test/test_custom_layer.py

closing this issue. Please feel free to re-open if you need more help

[2019-10-23 21:52] #209 closed

[2019-10-23 21:54] Mstronach commented on #215
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-23 21:54] #215 closed

[2019-10-23 21:54] bhushan23 commented on #211
@JackHenry1992 could you please try latest version of tf-coreml?
crop_and_resize support is added.

feel free to re-open if you need more help here

[2019-10-23 21:54] #211 closed

[2019-10-23 21:56] Mstronach commented on #219
Hi, are you still experiencing this issue?

[2019-10-23 21:56] bhushan23 commented on #212
@minhohihi you can also use `custom_conversion_function` here https://github.com/apple/coremltools/blob/master/coremltools/converters/tensorflow/test/test_custom_layer.py
closing this issue. Please feel free to re-open if you need more help

[2019-10-23 21:56] #212 closed

[2019-10-23 21:58] Mstronach commented on #221
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-23 21:58] #221 closed

[2019-10-23 21:58] #223 closed

[2019-10-23 22:01] Mstronach commented on #226
Can you please try the latest version and let us know if you are still experiencing this issue?

[2019-10-23 22:02] Mstronach commented on #227
Can you please try with the latest version and re-open this if you are still experiencing the issue? Thanks.

[2019-10-23 22:02] #227 closed

[2019-10-23 22:03] Mstronach commented on #229
@aseemw can we close this issue, was the PR completed or should it remain open?

[2019-10-23 22:05] Mstronach commented on #231
Hi, are you still experiencing this issue? Can you please provide an up to date screenshot or snippet of code that this issue is arising from? Please reopen if necessary. Thank you.

[2019-10-23 22:05] #231 closed

[2019-10-23 22:06] Mstronach commented on #234
Hi, are you still experiencing this issue? Can you please provide an up to date screenshot or snippet of code that this issue is arising from? Thank you.

[2019-10-23 22:07] Mstronach commented on #235
Please try with the latest version and please feel free to reopen if you're still seeing this issue. Thanks!

[2019-10-23 22:07] #235 closed

[2019-10-23 22:07] #291 closed

[2019-10-23 22:09] 1duo commented on #303
This should be resolved in the latest `coremltools>=3.0`. Please re-open if you still encounter this issue. Thanks!

[2019-10-23 22:09] #303 closed

[2019-10-23 22:22] #258 closed

[2019-10-23 22:23] 1duo commented on #282
This model should be able to convert with `coremltools==3.0.0` and `tfcoreml==1.0` or later. Please re-open if you still encounter issues. Thanks!

[2019-10-23 22:23] #282 closed

[2019-10-23 22:40] aseemw commented on #202
I have created it now PR #350

[2019-10-23 22:40] #202 closed

[2019-10-23 22:42] aseemw commented on #229
We can close it now, since with the ios 13 deployment flag, the mlmodels generated do not have the discrepancy between shapes displayed in the mlmodel interface and at runtime.

[2019-10-23 22:42] #229 closed

[2019-10-25 18:21] 1duo commented on #336
Hi @dhananjaisharma10, could you share the `.pb` and `.mlmodel` you generated (or script you used)?.

[2019-10-25 20:54] 1duo commented on #297
Hi @prateethvnayak, thanks for reporting this issue! This sounds like a bug, which utility you used for quantization? Can you [file a bug](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=bug&template=--bug-report.md&title=) with detailed reproduce steps? Thanks!

[2019-10-25 20:57] 1duo commented on #298
Hi @icaruslucifer, thanks for reporting this issue! To clarify, the model you're converting is already quantized with TF? Can you [file a bug](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=bug&template=--bug-report.md&title=) with detailed reproduce steps? Thanks!

[2019-10-25 21:07] 1duo commented on #300
Hi @y-ich, as you probably already find out, we do constant propagation before the actual conversion. Is that something you're referring to? If not, could you [file a feature request](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=future+feature&template=---feature-request.md&title=) with a detailed explanation of the use case. Thanks!

[2019-10-25 21:07] #300 closed

[2019-10-25 21:14] 1duo commented on #312
Hi @SanthoshRajendiran, thanks for reporting the issue! FYI, we have a DeepLab Core ML model here: https://developer.apple.com/machine-learning/models/. In the meantime, we'll investigate the conversion for the TensorFlow GitHub page.  Feel free to re-open / [file a bug](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=bug&template=--bug-report.md&title=) if you hit any specific

[2019-10-25 21:14] #312 closed

[2019-10-25 21:15] 1duo commented on #281
Looks like this issue has been resolved. Close due to inactivity, feel free to re-open or [file a bug](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=bug&template=--bug-report.md&title=) if you still encounter any issues. Thanks!

[2019-10-25 21:15] #281 closed

[2019-10-25 21:34] 1duo commented on #313
Hi @dhananjaisharma10, thanks for reporting this issue! I'm trying to reproduce your issue, but got following *TensorFlow* exception while running your script above:

[code]

Is this expected? Also, is this a dup of https://github.com/tf-coreml/tf-coreml/issues/336 or is it seperate issues? Anyway, it'd be awesome if you can provide us a detailed reproduce steps. You can either reply in issues or

[2019-10-25 23:55] y-ich commented on #300
1duo san,

"constant_propagation" in coremltools is what I wanted.
Thank you!

[2019-10-26 00:13] dhananjaisharma10 commented on #336
Hi! I have attached the files. Please let me know in case you need any further information.

[mixnet_weights_bn.zip](https://github.com/tf-coreml/tf-coreml/files/3774210/mixnet_weights_bn.zip)

[2019-10-26 00:33] dhananjaisharma10 commented on #313
Hi

Hi! Thanks for getting back.

I get the same error if I use the pretrained weights available on the TF Mixnet page. To get around this, I trained Mixnet on a random normal distribution and then saved the checkpoints. My previous posts are with reference to these checkpoints and not the pretrained weights. Attached below is the script that I used for dummy training.

[train.py.zip](https://gith

[2019-10-26 12:17] AnaRhisT94 commented on #299
Hi @kylesgit , have you solved this?

[2019-10-28 13:33] wangchaoxixixi opened #351 "Why the "where" is limit to have 3 inputs and I have only one"
## ❓Question
I use tf-coreml to transfer my tensorflow model to coreml and I use "tf.boolean_mask" in my model which use "where"(Returns locations of nonzero / true values in a tensor.) in the model file. When the model is transferring, I found that
## System Information
- If applicable

The 'where' node will call the 'self._convert_conv2d':
`'SelectMask': self._convert_select,
 'Where': self._con

[2019-10-28 16:50] 1duo commented on #351
Hi @wangchaoxixixi, we might not have come across the 1-input `where` op case. Conversion functions were written in need bases. To help us reproduce and fix this issue, you can [file a bug/feature request](https://github.com/apple/coremltools/issues/new/choose) with detailed steps, script, and model file. Or If you're interested, you can modify 1) `_convert_op()` to fit your needs, 2) add a single

[2019-10-31 00:29] joker2017 opened #352 "Unable to covert posenet pb model to core ml"
We were trying to convert the posenet frozen graph(.pb) from the tensorflow deepl [model ](https://drive.google.com/file/d/10xquTpIgfobRWdaL2gtDqJi3P2KWUhx3/view?usp=sharing)

But unfortunately we encountered the following error

[code]

It looks like the operations in the official models are not supported by the tf-core ml tool ?
Or is there any way to specify them explicitly?
Any help would be h

[2019-10-31 06:30] claytonnarcis commented on #172
Tested on today Catalina and faced with the same issue. This is a fresh install on a new MacBook Air. Using python 3.7.5.

[Used this method]( https://github.com/tf-coreml/tf-coreml/blob/master/README.md#new-fire-tfcoreml-converter-with-core-ml-3 ) but faced with the same issue.

`Traceback (most recent call last):
File "convert-coreml-tf.py", line 2, in <module>
import tfcoreml as tf_converter
Mo

[2019-10-31 19:30] lukereichold opened #353 "Converter: TF graph parsing fails with target_ios=13"
## 🐞Describe the bug
I have frozen my TF model as `frozen_model.pb`. It appears fully formed and valid and is inspectable via the [tf-coreml inspect script](https://github.com/tf-coreml/tf-coreml/blob/master/utils/inspect_mlmodel.py). The converter script runs successfully when I do **not** specify a `target_ios` version (defaulting to '12'). ✓

However, I would like to support input tensors of ra

[2019-11-01 17:22] 1duo opened #355 "Example notebook is out-dated"
Needs to update to reflect latest flags.

[2019-11-01 20:25] #240 closed

[2019-11-01 20:26] Mstronach commented on #250
This issue is being closed due to inactivity preceeding the request for an update. Please feel free to re-open if you are still seeing the issue. Thanks!

[2019-11-01 20:26] #250 closed

[2019-11-01 20:29] Mstronach commented on #263
Closing as workaround is available. Please let us know if the workaround works and reopen if there are any further issues. Thanks!

[2019-11-01 20:29] #263 closed

[2019-11-01 20:31] Mstronach commented on #264
Can you please try with latest build and ensure you have all dependencies installed? Please let us know if you still experience this issue and feel free to reopen this.

[2019-11-01 20:31] #264 closed

[2019-11-01 20:34] Mstronach commented on #266
@JakeWade5 Can you please try with latest build (coremltools 3.0+) and feel free to re-open if you are still seeing the issue. Thanks!

[2019-11-01 20:34] #266 closed

[2019-11-01 20:34] Mstronach commented on #268
@ZeroyiQ Can you please try with latest build (coremltools 3.0+) and feel free to re-open if you are still seeing the issue. Thanks!

[2019-11-01 20:34] #268 closed

[2019-11-01 20:37] Mstronach commented on #269
Can you please provide the latest build and let us know what issue you are facing, we would be happy to investigate this further. Thanks!

[2019-11-01 20:43] 1duo commented on #271
Hi @kevinliao123, thanks for reporting this issue! It seems the error is in the TensorFlow Lite framework? It's not quite clear what the issue is. If you're still facing this issue, can you [file a bug](https://github.com/tf-coreml/tf-coreml/issues/new?assignees=&labels=bug&template=--bug-report.md&title=) with detailed reproduce steps? Thanks!

[2019-11-01 20:43] #271 closed

[2019-11-01 20:51] #280 closed

[2019-11-01 20:52] Mstronach commented on #283
@scm-ns could you please provide us with more information or have you submitted a bug for this? Thanks!

[2019-11-01 20:53] Mstronach commented on #284
Could you please give more details about your requirement for this? We would be happy to help, thanks!

[2019-11-01 20:54] #285 closed

[2019-11-01 20:54] Mstronach commented on #285
Please feel free to reopen this if you have further questions, Thanks!

[2019-11-01 20:57] Mstronach commented on #287
Could you please try passing input as float32 and let us know if you're still experiencing this issue?

[2019-11-01 21:41] 1duo commented on #355
Resolved in #356

[2019-11-01 21:41] #355 closed

[2019-11-01 21:41] 1duo commented on #277
@lissyx For deepspeech model, please refer to https://github.com/tf-coreml/tf-coreml/blob/master/examples/deep_speech.ipynb

[2019-11-01 23:52] lissyx commented on #277
Can you be more specific ? This is 0.4.1. Was the strided slice issue a bug on `tf-coreml` side that was fixed ?

[2019-11-05 07:18] wanghuijing opened #358 "OP Transpose support or not"
HELLO:

I try to translate my pb models.Here is the error.

37/1030: Analysing op name: heatmap_regression/bneck_heatmaps/se_block_9/dense_15/Tensordot/concat ( type:  ConcatV2 )
Traceback (most recent call last):
  File "convertor.py", line 5, in <module>
    input_name_shape_dict={'input:0': [1, 224, 224, 3]})
  File "/home/whj/AI/ios/tf-coreml/tfcoreml/_tf_coreml_converter.py", line 718, in con

[2019-11-05 21:40] 1duo commented on #358
@wanghuijing Thanks for reporting this issue! Try convert your model using specification 4 by set `minimum_ios_deployment_target='13'` in your `convert()` call.

[2019-11-05 21:46] 1duo commented on #353
Hi @lukereichold, thanks for reporting this issue! The `target_ios` flag has a kind of misleading name and we have rename it as `minimum_ios_deployment_target`. In your case, the model converted (with default option) should be able to executed on both iOS 12, iOS 13 and later in the future. So you should be unblocked for now.

On the other hand, it'd be great if you can post a link to the model fo

[2019-11-05 21:48] 1duo commented on #352
@joker2017, thanks for reporting this issue! The op `AddV2` supported in `coremltools==3.1`. Let us know if you encounter any issues. Thanks!

[2019-11-05 22:57] lukereichold commented on #353
Hi @1duo, thanks for the response. Using the default iOS 12 (and the latest versions of `tfcoreml` and `coremltools`), the converter call is able to pass the parsing phase but the conversion fails.

[code]

With `minimum_ios_deployment_target='13'`, the script fails earlier in the parsing of the actual graph (before attempting to convert). Ideally I would like to use deployment target of 13 becaus

[2019-11-06 17:47] mats-claassen commented on #294
This issue is marked as Done and the latest release (1.1) seems to include TF 2 support. But I am still experiencing this issue. Could anyone convert a TF2 model?

[2019-11-06 18:13] aseemw commented on #294
@mats-claassen could you please file a reproducible issue of TF 2.0 conversion not working?
Please see this guide for a few details on TF 2.0 conversion:  https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md

[2019-11-06 23:22] Mstronach commented on #315
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:22] #315 closed

[2019-11-06 23:25] Mstronach commented on #274
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:25] #274 closed

[2019-11-07 00:05] Mstronach commented on #294
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/or [Jupy

[2019-11-07 00:05] #294 closed

[2019-11-07 00:07] Mstronach commented on #318
Hi @panyongfeng, this op has been added in the latest release. Please try it out and feel free to reopen this or submit a new issue if you are still experiencing issues. Thanks!

[2019-11-07 00:07] #318 closed

[2019-11-07 00:07] Mstronach commented on #288
Hi @soon-yau, this op has been added in the latest release. Please try it out and feel free to reopen this or submit a new issue if you are still experiencing issues. Thanks!

[2019-11-07 00:07] #288 closed

[2019-11-07 02:34] wanghuijing commented on #358
Thank you for the answer.I did this.
1.tf_converter.convert(tf_model_path = 'frozen_model.pb',
                     mlmodel_path = 'frozen_model.mlmodel',
                     output_feature_names = ['conf_reg:0'],
                     input_name_shape_dict={'input:0': [1, 224, 224, 3]},
		     minimum_ios_deployment_target='13')

return :

/home/whj/.local/lib/python3.5/site-packages/tensorboard/

[2019-11-07 03:12] wanghuijing commented on #358
I inatall sympy .It works.

[2019-11-07 07:43] wanghuijing commented on #358
It works!Thanks o lot.

[2019-11-07 07:43] wanghuijing commented on #358
It works.Thanks a lot.

[2019-11-07 17:20] #358 closed

[2019-11-07 17:21] 1duo commented on #358
👍

[2019-11-08 19:05] Mstronach commented on #279
Is there an update on this issue, please let us know if you're still experiencing this! Thanks

[2019-11-08 19:07] bhushan23 commented on #284
@sariagoudarzvand we need more information to help you here. Please feel free to re-open.

[2019-11-08 19:07] #284 closed

[2019-11-08 19:10] 1duo commented on #292
Hi @Ketsuko, could you try with the latest `coremltools==3.1`? Please [file a bug](https://github.com/apple/coremltools/issues/new/choose) with detailed reproduce steps. Thanks!

[2019-11-08 19:12] Mstronach commented on #293
@Jordi100 , can you please provide your model and more information about this issue? The input and output multiarray should work out of the box. Are you still experiencing this issue? Please try with the latest available build. Thanks!

[2019-11-08 19:14] bhushan23 commented on #297
@prateethvnayak could you please attach a model?

[2019-11-08 19:19] 1duo commented on #299
Hi @kylesgit, could you share the script you used for running the prediction?

[2019-11-08 19:23] bhushan23 commented on #310
@Mahanotrahul could you please paste a small snippet demonstrating the issue?

[2019-11-10 12:02] farazBhatti opened #360 "Tensors more than rank 4 are not supported"
## 🌱 Describe your Feature Request
- A clear and concise description of what the problem is.
- CoreML / iOS version you are using?
- Are you interested in contributing?

## Use cases
- Please describe the use cases
- Please provide examples

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Additional context

[2019-11-12 21:32] mats-claassen commented on #294
@aseemw I could convert a model built with TensorFlow 2.0 but I had to call the `convert` function using TensorFlow 1.x. That means having two separate environments.

The error in my case comes from [line 214](https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_tf_coreml_converter.py#L214) of _tf_coreml_converter where it calls `tf.reset_default_graph()`.

Is it correct?

[2019-11-12 21:52] aseemw commented on #294
There shouldn't be need for two separate environments, if you use coremltools==3.1 and tfcoreml==1.1
Did you invoke the converter with the argument `minimum_ios_deployment_target` ='13' ?
An error reproducing script would be great.

[2019-11-13 16:47] mats-claassen commented on #294
I did not set the `minimum_ios_deployment_target ='13'`. That is the problem. Thanks for the help

[2019-11-14 16:17] prateethvnayak commented on #297
@1duo Its a in-situ quantization module and not the one present in the coreml lib.

@bhushan23 Sorry, I don't have hold of the model I was working with, since it was tied to an org. and I left that place now.

[2019-11-19 05:12] vade commented on #336
Hi.

Im having a similar issue.

Im using Google Colab,  and they recently changed some back end config where Tensorflow 1.14-GPU no longer finds some libraries needed to load the GPU (so training takes forever).

In an attempt to use the default Tensorflow - 1.15, and finding am having the same exact error when converting Mobilenet 224 1.0 to CoreML.

With Tensorflow 1.14, tf-coreml was able to l

[2019-11-20 22:12] DawerG commented on #277
@suoloordi This particular example of strider-slice works fine. Can you please try building from the source?

[2019-11-20 22:20] DawerG commented on #304
@bocsiboti This particular example of strided-slice works fine. Can you please try building coremltools package from the source? Please use minimum_ios_deployment_target='13' while converting.

[2019-11-27 06:27] LinShihChieh commented on #250
Using the neural network builder API provided by coremltools. Is it the only way to convert rnn model or any graph has cycles?

How to abstract the weight matrices and bias vectors from pre-trained model from tensorflow(.pb)

[2019-11-27 08:01] LinShihChieh opened #361 "Convert LSTM. ValueError: Graph has cycles."
When I trying to convert LSTM from tensorflow to coreml,  and I get the error: "ValueError: Graph has cycles."

Using the neural network builder API provided by coremltools.
Is it the only way to convert rnn model or any graph has cycles?

How to abstract the weight matrices and bias vectors from pre-trained model from tensorflow(.pb)

[2019-11-27 09:26] aseemw commented on #361
Please use the flag `minimum_ios_deployment_target = '13'` as shown [here](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-1-converter)

[2019-11-29 07:01] vonchenplus opened #362 "Issue Convert Tensorflow 1.15 model failed"
## 🐞Describe the bug
When I trying to convert tensorflow 1.15 model to coreml model failed,
I don't know if this is a problem with tensorflow or a problem with tfcoreml.

## Trace
[code]

## System environment (please complete the following information):
 - coremltools version  (3.31):
 - tf-coreml version (1.1)
 - tensorflow version (1.15):
 - OS (Linux):
 - python version (3.7):

[2019-12-03 09:41] Lucas-16 opened #363 "NotImplementedError: Unsupported Ops of type: GatherV2,BatchMatMulV2"
## 🐞Describe the bug
A clear and brief description of what the bug is.
This is my input
import tfcoreml
tfcoreml.convert(tf_model_path="albert_small_zh.pb",
                     mlmodel_path="model.mlmodel",
                     output_feature_names=['finetune_mrc/add:0', 'finetune_mrc/add_1:0'],
                     input_name_shape_dict={'input_ids:0':[1,512], 'input_masks':[1,512], 'segment_ids

[2019-12-03 16:29] dimitriGallos opened #364 "Support for StridedSlice ?"
## 🐞Describe the bug
A clear and brief description of what the bug is.

I am trying to convert my tensorflow 2.0 model to coreml. My saved model is in checkpoint format so i do the following to create a SavedModel:

[code]

Following that, I set inputs and outputs and I call the  following:

[code]

## Trace
 File "/project_dir/env/lib/python3.5/site-packages/coremltools/converters/nnssa/frontend/

[2019-12-04 11:39] Tigrex161 commented on #362
I used my own training data to perform transfer learning on http://download.tensorflow.org/models/object_detection/ssdlite_mobilenet_v2_coco_2018_05_09.tar.gz
this pretrained ssdlite model.

The model performs as expected after training. I only changed the number of classes to 1 in the pipeline.config file before training.

Converting the model to tflite format was also successful. Now i need it t

[2019-12-04 11:45] Tigrex161 opened #365 "SSDlite model fails to convert"
## ❓Question
I used my own training data to perform transfer learning on http://download.tensorflow.org/models/object_detection/ssdlite_mobilenet_v2_coco_2018_05_09.tar.gz
this pretrained ssdlite model.

The model performs as expected after training. I only changed the number of classes to 1 in the pipeline.config file before training.

Converting the model to tflite format was also successful. No

[2019-12-05 14:17] tailsu commented on #322
Here's a model that reproduces the error:

[model-to-export.pb.zip](https://github.com/tf-coreml/tf-coreml/files/3927224/model-to-export.pb.zip)

Export code:

[code]

Error:
[code]

[2019-12-06 21:38] vade commented on #256
Hi there.

Just ran into this issue today with TF CoreML latest.

My model is a TF Keras model, in which I make a slight adjustment to a MobileNet V2 model ive been able to export in the past. The code to build the model looks like so:
[code]

Which outputs a summary like so - and the error during TF CoreML Export after training below that:

[code]

[code]

[2019-12-09 10:28] aseemw commented on #340
Please re-open if the issue is still not resolved.

[2019-12-09 10:28] #340 closed

[2019-12-09 10:32] aseemw commented on #361
Please re-open with a reproducible script if the the issue still persists with the latest tfcoreml and coremltools packages.

[2019-12-09 10:32] #361 closed

[2019-12-09 14:13] aseemw commented on #336
Hi, this issue of `FusedBatchNormV3` has been resolved in the latests coremltools version.

I tested that the following script works with the `feature extractor` model above

(with coremltools 3.1, tfcoreml 1.1, [converter documentation](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#neural-network-guide))

[code]

Closing this issue, please re-open if the issue persis

[2019-12-09 14:13] #336 closed

[2019-12-09 20:41] #352 closed

[2019-12-10 03:24] aseemw commented on #360
Could you please the conversion script along with the onnx model or the pytorch script that produced it?
A few of these patterns can still be converted even though rank more than 5 is not supported, since they can be mapped to list of lower rank operations: https://github.com/onnx/onnx-coreml/blob/7a630c113b27c8cc1a83412ce1dbfda77f9f8422/tests/pytorch_model_test.py#L472

[2019-12-10 03:26] aseemw commented on #362
`FusedBatchNormV3` issue should be fixed now. See issue #336

[2019-12-10 03:26] #362 closed

[2019-12-10 03:27] aseemw commented on #365
duplicate of issue #362

[2019-12-10 03:27] #365 closed

[2019-12-10 05:56] farazBhatti commented on #360
I am following [this](https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html) tutorial.
conversion script is as following
[code]
converted ONNX [model](https://drive.google.com/open?id=1ZR6wVXTRtX0oXCHst5c4nJjBaA4cDCxR)

ONNX to coreml conversion script

[code]

[2019-12-10 08:42] flocked opened #366 "Help needed in converting this TensorFlow model to core ml"
I would greatly appreciate it, if somebody could help me to convert this trained model to core ml.

https://github.com/deezer/spleeter/releases/download/v1.4.0/2stems.tar.gz

While opening the model inside tensorboard, I found out that the input "waveform" as (-1, 2) shaped float32 array.

I know that I have to freeze it (to .pb) to convert to to a core ml model. I however can't find the right out

[2019-12-10 13:18] Praveenk8051 opened #367 "AddV2 operation is still not supported but upgrade version says it is!"
## 🐞Describe the bug
The AddV2 tf.operation will be present when retraining with tensorflow 2.0.0. The .pb file when converted into coreml model throws error saying  'Unsupported Ops of type: AddV2' . The upgraded version says it supports AddV2 but it does not.
https://github.com/tf-coreml/tf-coreml/releases/tag/1.1.0

## Trace
The tracing shows that the layer AddV2 operation is not added and test

[2019-12-10 13:35] Praveenk8051 commented on #366
You can check your output nodes name using below link:
https://lutzroeder.github.io/netron/

Also you can check using the code:

import tensorflow as tf

def print_tensor_name(path):
    """
    Print the input and output tensor names
    :param path: the path where proto-buf file is present
    :return: None
    """

    gf = tf.GraphDef()
    m_file = open(path, 'rb')
    gf.ParseFromString(m_fi

[2019-12-10 18:02] DawerG commented on #367
The file you are referencing gets used in the old tf-coreml converter path.

Please use the `minimum_ios_deployment_target = "13" ` to leverage the new path. The upgraded version does support AddV2 operation as it can be seen here: https://github.com/apple/coremltools/blob/891ae71a4553204ba72751c7ff67caf7aac4bf77/coremltools/converters/nnssa/coreml/ssa_converter.py#L337

[2019-12-11 11:19] #367 closed

[2019-12-11 16:49] flocked commented on #366
Thanks. When trying to convert it, I get the following error:

[2019-12-14 00:19] flocked opened #368 "Problem converting savedModel"
## 🐞Describe the bug
I have this savedModel including weights which got generated by tf.estimator.Estimator export_saved.model in Tensorflow 1.14. It contains:

[Link to dropbox because of its 70mb size.](https://www.dropbox.com/s/kinfmdxlzw4epn3/1576085619.zip?dl=0)

Trying to convert it with tf-coreml doesn't work. Here is the code I used for this specific model:

[code]
 Following error:
[code]

[2019-12-14 04:57] kim68666343 opened #369 "Still got 「NotImplementedError」 when covering my .pb, via tfcoreml V1.1"
NotImplementedError                       Traceback (most recent call last)
<ipython-input-7-f3caa1ad804d> in <module>
      2                      mlmodel_path = 'apple_model.mlmodel',
      3                      output_feature_names = ['saturate_cast:0'],
----> 4                      input_name_shape_dict={'Const:0': [1, 512, 1360, 3]})

~/Downloads/tf-coreml-1.1.0/tfcoreml/_tf_coreml_converter

[2019-12-14 04:59] kim68666343 commented on #369
Environment：
[code]

[code]

[code]

[2019-12-19 16:08] mrgloom opened #370 "ModuleNotFoundError: No module named '_infer_shapes_nn_mlmodel'"
## 🐞Describe the bug
ModuleNotFoundError: No module named '_infer_shapes_nn_mlmodel'

## Trace
python3 inspect_mlmodel.py
Traceback (most recent call last):
  File "inspect_mlmodel.py", line 3, in <module>
    from _infer_shapes_nn_mlmodel import _infer_shapes
ModuleNotFoundError: No module named '_infer_shapes_nn_mlmodel'

## System environment (please complete the following information):
python3

[2019-12-19 16:17] mrgloom commented on #370
Seems it should be ruined from `tf-coreml/utils`

[2019-12-19 16:17] #370 closed

[2019-12-24 12:15] MarcSteven commented on #242
@aseemw Yeah I want to convert float to double, but it runs and then displayed the error""

[2020-01-03 04:10] DeadZen commented on #341
@1duo It does not support Conv3D or any 3-dimensional operations

[2020-01-15 18:17] 1duo commented on #368
Hi @flocked, SavedModel format support was added for TensorFlow 2.x+, for TensorFlow 1.x, only frozen graph (.pb) file is supported.

[2020-01-16 06:36] Queequeg92 commented on #364
Any updates? When tf-coreml throws some errors, I'm very confused whether these ops are not supported by tf-coreml or by coremltools. Only part of ops supported by coremltools are supported by tf-coreml, is that true?

[2020-01-17 10:48] LinShihChieh opened #372 "How to make image input, convert pb to coreml model? (CoreML3)"
## ❓Question

## System Information
- If applicable

When I use CoreML2. I can convert successful from pb to coreml model which has only one input is image input.

If I use minimum_ios_deployment_target='13', I can't only give "image_input_names"
Is "input_name_shape_dict" become necessarily parameter?

Thanks a lot.

[2020-01-17 18:05] 1duo commented on #369
Can you try the latest coremltools version (`pip install --upgrade coremltools`) and provide `minimum_ios_deployment_target='13'` in your `convert()` call. Thanks!

[2020-02-05 00:04] fellowProgrammer commented on #323
I am getting this error.
I am using `coremltools==3.2` and `tfcoreml==1.1`.

This is my conversion script:

[code]

This is the error I get:

[code]

I am trying to convert my .pb model to a coreml model. I determined the input and out names using the inspect_pb.py script provided.

[2020-02-05 00:55] 1duo commented on #323
@fellowProgrammer Can you providing `minimum_ios_deployment_target='13'` in your convert call. This op is provided in iOS 13 or later.

[2020-02-05 01:11] fellowProgrammer commented on #323
I added that I am now getting another error:

`ValueError: Incompatible dimension 3 in Sub operation detector/darknet-53/Conv/BatchNorm/FusedBatchNorm/Sub`

[2020-02-05 10:55] rodyt opened #374 "Cannot create CoreML model w/ multiple outputs"
## 🐞Describe the bug
A clear and brief description of what the bug is.

## Trace

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 3.2
 - tensorflow version (e.g. 1.14):
 - OS (e.g., MacOS, Linux): Ubuntu 18
 - How you install python (anaconda

[2020-02-05 19:35] rodyt commented on #374
I think this error occurs because in the function `check_connections`, it tries to verify if the provided inputs and outputs are correct, I have 2 outputs, both with the same op name `Identity`, but just with different name scopes. Coremltools must be confusing one output for the other, so that's why it's

[2020-02-05 21:07] rodyt commented on #374
## After some debugging, I believe to have pinpointed the issue:

#### The issue is as I had suspected: the 2 output nodes had the same op name. This causes conflicts as we will see below:

### Focusing in on the `check_connections` function:

There is a node in the `gd` dict is a `ParsedTFNode` named "preIdentity_Identity" with `{'T': <class 'coremltools.converters.nnssa.commons.builtins.type_dou

[2020-02-05 21:20] rodyt commented on #374
## After some debugging, I believe to have pinpointed the issue:

#### The issue is as I had suspected: the 2 output nodes had the same op name. This causes conflicts as we will see below:

### Focusing in on the `check_connections` function:

There is a node in the `gd` dict is a `ParsedTFNode` named "preIdentity_Identity" with `{'T': <class 'coremltools.converters.nnssa.commons.builtins.type_dou

[2020-02-07 08:43] Queequeg92 opened #375 "Unable to extract model type from stream in compiled model"
## ❓Question
When loading a converted .mlmodel, Xcode raised the following error:

MLModelAsset: load failed with error Error Domain=com.apple.CoreML Code=0 "Unable to extract model type from stream in compiled model: Error reading from archive.: unspecified iostream_category error" UserInfo={NSLocalizedDescription=Unable to extract model type from stream in compiled model: Error reading from arch

[2020-02-08 06:14] rodyt opened #376 "Non-channel and non-sequence concatenation"
In the `Keras` converter for `coremltools`, in `_layers2.py`, a `ValueError` is thrown if a `Concatenate` layer is operating on an axis other than the channels or sequence axis (~line 102):

[code]

By lifting this constraint, model builders will have the freedom to concatenate the output of 2 layers along any axis.

It's unclear why this constraint is there in the first place. If the above featur

[2020-02-08 06:15] #376 closed

[2020-02-19 01:15] ayy345 opened #381 "Problem with the generated CoreML model"
##Converted  model from TF (version 1.14) frozen graph is not valid according to Xcode

I have converted the TF model using tf-coreml. But when I load the mlmodel it gives the validation error. Please see attached
<img width="1011" alt="Screen Shot 2020-02-18 at 5 07 46 PM" src="https://user-images.githubusercontent.com/44304884/74792095-3f007c80-5271-11ea-8bbd-4b9e05448108.png">

The input that C

[2020-02-19 07:33] Ryang20718 opened #382 "NotImplementedError: Unsupported Ops of type: VariableV2,Assign,Fill"
## ❓Hi, I'm trying to convert my pb model into a coreml model, but I keep getting an error
Traceback (most recent call last):
  File "pb_to_coreml.py", line 7, in <module>
    image_scale = 1 / 255.0)
  File "/Users/ryanyang/Desktop/DW2TF/env/lib/python3.7/site-packages/tfcoreml/_tf_coreml_converter.py", line 718, in convert
    custom_conversion_functions=custom_conversion_functions)
  File "/Use

[2020-02-20 20:05] aminbenarieb opened #383 "Op type not registered 'TFLite_Detection_PostProcess' in binary"
## 🐞Describe the bug
I am trying to convert tensorflow SSD MobilenetV2 model (frozen graph) to coreml model using
tfcoreml.convert function and getting error `Op type not registered 'TFLite_Detection_PostProcess' in binary `.

## Trace
[code]

## My Code
[code]

## System environment:
 - tf-coreml versions: 1.1, 1.0, 0.3
 - tensorflow versions: 2.1, 1.14:
 - macOS version 10.15):
 - How you instal

[2020-02-21 08:58] serbancoroiu opened #384 "Converted tensorflow model not correct"
## ❓Question
After i've trained a tensorflow model and i converted it to `.mlmodel` the output is containing MultiArray as response and i saw that is possible to add some internal layers to graph to preprocess the output.
I read this:
https://machinethink.net/blog/mobilenet-ssdlite-coreml/
But so far it is not working, i am getting an error when validating the model. Error message:
`Error Domain=c

[2020-02-23 08:41] aminbenarieb commented on #383
I closing this issue in favour of https://github.com/apple/coremltools/issues/642.

[2020-02-23 08:41] #383 closed

[2020-03-04 07:57] dlawrences commented on #336
Hi

Just ran into the same issue.

Environment config:
- tensorflow: 1.15.0
- coremltools: 3.1
- tfcoreml: 1.1

The model that I am trying to convert is based on the TensorFlow [ssdlite_mobilenet_v2_coco](http://download.tensorflow.org/models/object_detection/ssdlite_mobilenet_v2_coco_2018_05_09.tar.gz), retrained on 4 classes on an input of 768x768.

I have exported the graph for inference using

[2020-03-04 15:11] manuelcosta74 opened #385 "Conv2d_0/BatchNorm/cond was passed float from .../Conv2d_0/BatchNorm/gamma:0 incompatible with expected resource"
## 🐞Describe the bug
Trying to convert a model created with TF 2.1 and having the following error when minimum_ios_deployment_target = '13':

Conv2d_0/BatchNorm/cond was passed float from .../Conv2d_0/BatchNorm/gamma:0 incompatible with expected resource

If the default minimum_ios_deployment_target is used it triggers the following error

module 'tensorflow' has no attribute 'reset_default_graph'

[2020-03-04 23:26] 1duo commented on #336
Thanks for reporting the issue! What's the exact error message you're hitting?

[2020-03-05 04:59] dlawrences commented on #336
Hi there

Error is basically the same as the one the OP had:

[code]

[2020-03-05 05:56] 1duo commented on #336
This is a TensorFlow exception not yet reach Core ML land.

[2020-03-05 12:56] dlawrences commented on #336
Hi

Entire stack trace:

[code]

Error is being thrown once the tfcoreml.convert method kicks in.

Sample script:

[code]

[2020-03-07 17:57] dlawrences opened #386 "SSDLite conversion issue [FusedBatchNormV3' (type: 'Add', num of outputs: 1) does not have output 5)]"
Hi

First things first, environment config:

- tensorflow: 1.15.0
- coremltools: 3.1
- tfcoreml: 1.1
- CUDA 10.1
- cuDNN: 7.6.5.32-1

The model that I am trying to convert is based on the TensorFlow [ssdlite_mobilenet_v2_coco](http://download.tensorflow.org/models/object_detection/ssdlite_mobilenet_v2_coco_2018_05_09.tar.gz), retrained on 4 classes on an input of 768x768.

I have exported the grap

[2020-03-18 11:54] rdv0011 opened #388 "Converter suck on constant_propagation() in sess.run()"
## 🐞Describe the bug
Converter stuck when converting frozen model (.pb file).

## Trace
The output of the console:
[code]
[code]
## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
[Do not forget to download the model file](https://www.dropbox.com/s/naosj93yy98t1ar/hand3d.pb.zip?dl=0)

## System environment (please complete the following information):

[2020-03-20 15:27] bourdakos1 commented on #386
I'm getting the same error
- tensorflow: 1.15.2
- coremltools: 3.3
- tfcoreml: 1.1

Conversion code:
[code]

Frozen graph:
- [frozen_graph.pb](https://github.com/tf-coreml/tf-coreml/files/4360389/frozen_graph.pb.zip)

[2020-03-20 15:49] bourdakos1 commented on #386
@dlawrences Adding the following param to `tfcoreml.convert` resolved this issue for me
[code]

[2020-03-22 19:44] dlawrences commented on #386
Thanks @bourdakos1 , work for me as well!

[2020-03-22 19:44] #386 closed

[2020-04-06 09:42] tnkjm commented on #336
I had the same error.
I added minimum_ios_deployment_target='13'  to  tfcoreml.convert and solve this error.

[2020-04-06 19:55] paramaggarwal commented on #162
One issue I am facing is that when my input is a quantised model, but I set min_OS as `11.2` - the output still contains quantised CoreML model which is only supported starting iOS 12. How can I produce a model compatible with iOS 11.2?

[2020-04-08 03:25] sibadakesi commented on #241
The link has expired,please can you provide a new link.

[2020-04-09 10:42] dhgokul commented on #124
Me too got same error as mentioned by @Mstronach
We used  SSD mobilenet version and generate protobuf file and tried to convert ML model we get same issue - PFA
![image](https://user-images.githubusercontent.com/5689804/78887068-dec1d600-7a7c-11ea-9f69-40e81f55ac58.png)

Any updates on this issue ?

[2020-04-23 02:34] feifeiwei opened #390 "AssertionError: Concat axis case not handled. output shape = [5733, 8], axis = 0"
My model produce error AssertionError: Concat axis case not handled.

1185/1190: Analysing op name: Reshape_2 ( type:  Reshape )
1186/1190: Analysing op name: concat ( type:  ConcatV2 )
Traceback (most recent call last):
  File "pb2coreml.py", line 22, in <module>
    minimum_ios_deployment_target='12')
  File "/Users/feifeiwei/anaconda3/envs/py36/lib/python3.6/site-packages/tfcoreml/_tf_coreml_co

[2020-04-23 08:55] feifeiwei commented on #240
I have meet the same error, could you please give a help?
[code]

[2020-05-06 16:48] nikviradiya26 commented on #290
Can you please share the script using which you converted ..data-00000-of-00001 to .TFLITE file?
Your help will really be appreciated.

[2020-05-14 13:28] hendriks73 commented on #294
Is there a way to make this work with `minimum_ios_deployment_target ='12'` ?
I'm hoping to deploy to macOS 10.14.

[2020-05-15 06:42] hendriks73 commented on #336
Requiring a later OS is not really a solution.
Can this be fixed for `minimum_ios_deployment_target='12'`, i.e., macOS 10.14 (`.mlmodel` version 3)?
Or is there a way to convert a v4 `.mlmodel` file to v3 (CoreML 2)?

[2020-05-16 11:11] gordonrust commented on #198
@aseemw       i see the following condition checks in _shape_sensitive_layers.py in _add_split at lines 214-216.
   if not ((len(input_shape) == 4 and len(common_out_shape) == 4 and common_out_shape[:3] == input_shape[:3]) \
          or (len(input_shape) == 3 and len(common_out_shape) == 3 and common_out_shape[:2] == input_shape[:2])):
    raise ValueError('Split op case not handled. Input shape

[2020-05-21 00:03] ahmedAlmasri commented on #146
any update about this issue

[2020-05-21 00:34] aseemw commented on #146
These ops are supported, please use the minimum_deployment_target as '13' as indicated here : https://github.com/apple/coremltools/blob/master/examples/NeuralNetworkGuide.md#tensorflow-conversion

[2020-05-21 11:24] ahmedAlmasri commented on #146
@aseemw I'm use minimum_ios_deployment_target as '13'  but get error
ValueError: Shape of required input ImageTensor is not provided. I think this error related to ops

my script

[code]

[2020-05-21 12:57] sivrish opened #391 "[SSAConverter] Unable to determine target sizefor ResizeBilinear"
## 🐞Describe the bug
I'm trying to convert [EAST: An Efficient and Accurate Scene Text Detector](https://github.com/argman/EAST) to Core ML. while converting I'm getting an error that [SSAConverter] Unable to determine target sizefor ResizeBilinear

I'm providing fixed size as the input shape, then the target size has to calculated automatically right ? or Am I missing something ?

## Trace
`-----

[2020-05-21 15:58] 1duo commented on #390
Hi @feifeiwei, thanks for reporting the issue. Can you try out using `minimum_ios_deployment_target='13'` when call `convert()`? This allows to convert model using different path.

[2020-05-28 06:39] ShiraLightricks opened #392 "Convert tf2 to coreml without " minimum_ios_deployment_target='13' ""
## ❓Question
Hi, I want to convert my tf model to coreml, using tf 2.2.
Is there a way to convert it without using the "minimum_ios_deployment_target="13"? because I would like it to work for older ios versions as well.
If not - is there some workaround that?
Thanks!
Shira

## System Information
- If applicable

[2020-06-09 23:56] anavmehta commented on #341
Any plans of conv3d support for tf-coreml?

[2020-06-16 01:46] VenkatKrish17 commented on #392
Any update on this issue ?

[2020-06-17 13:52] zampnrs commented on #27
@aseemw Do you have some updates on converting SSD models to CoreML? I'm having the same issue here with the **ssd_mobilenet_v2_quantized_coco** from the [tensorflow model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). Should I consider change my neural net?

[2020-06-17 18:05] zampnrs opened #393 "Cannot convert SSD mobilenet v2 to CoreML"
I've trained my custom data on Tensorflow using the **ssd_mobilenet_v2_quantized_coco** from [tensorflow model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). When I tried to convert the pb file to mlmodel I got the error: Graph has cycles, as the #27. In that issue someone said to use the Graph Transformation Tool from Tensorflow.
**M

[2020-06-18 12:53] zampnrs commented on #392
You can change it to "minimum_ios_deployment_target=12", so you can run in older devices.

[2020-06-19 20:16] jpbalarini commented on #294
I'm facing the same problem while trying to export to iOS < 13.
I saw on `_tf_coreml_converter.py` that it tries to do:
[code]
instead of:
[code]

but even if I change that bit, I still get a:
[code]

[2020-06-20 23:12] zampnrs commented on #393
After research a lot about this, I found a way to remove the cycles of **Mobilenet**, but in practice it's easier to change the neural network and retrain the data. I changed to **YOLO**, It was just needed to convert my annotation files to the YOLO format.

[2020-06-20 23:12] #393 closed

[2020-06-22 17:37] jatinh16 commented on #225
Any updates? Thanks in advance

[2020-06-23 13:00] abhishekkulambi opened #394 "AssertionError: Op Transpose conversion only works with 4D tensors"
Hello guys, while coinverting tensorflow to coreml getting some error please need some help ,Thanks in advance.

#code which i used to convert
import tensorflow as tf
import coremltools
import tfcoreml

frozen_model_file = 'tf_resnet100.pb'
coreml_model_file = 'resnet100_coreml.mlmodel'

input_tensor_shapes = {"data:0":[1,3,112,112]}

output_tensor_names = ["onnx_tf_prefix_fc1/add_1:0"]

coreml_mo

[2020-07-13 16:58] Mstronach commented on #332
This issue is being closed due to inactivity. Please feel free to re-open if you still have questions surrounding this issue. Thanks!

[2020-07-13 16:58] #332 closed

[2020-09-03 12:46] GodsonDsilva opened #398 "ValueError: Graph has cycles"
## 🐞Describe the bug
I am trying to convert the mobileDet(saved_model link:[http://download.tensorflow.org/models/object_detection/ssdlite_mobiledet_cpu_320x320_coco_2020_05_19.tar.gz]) model to coreml but getting an error saying "Graph has cycles"

## Trace
Graph Loaded.
Traceback (most recent call last):
  File "coreml_ssdlite_det.py", line 115, in <module>
    image_scale=2./255)
  File "/home/

[2021-02-23 21:39] guy4261 commented on #302
@vade concurrent as in - only one is actually running at a time (unlike the multiprocessing setting of @lqhuy93 ?)

@lqhuy93 - can you give an example (preferably Python code :pray:) of how to do this renaming? Can it be done dynamically when you load the CoreML model, or do you have to actually compile to CoreML 3 TensorFlow models, each with a different prefix? Thanks in advance!! 🙇

[2021-03-31 00:52] oostap1 opened #399 "tf-coreml stops converting after some epoch"
Hello
While converting two identical TF weights but trained differently discovered that one of them starts failing after some epoch. Debugging tf-coreml code shows that both have the same architecture and are passing the same way to _find_unused_ops to detect unused_ops
There a list of tensors to evaluate inside that function, variable **tensors_to_evaluate**:

`Tensors to evaluate: [('prob:0', <t

[2021-06-22 11:02] nabeelawan00 commented on #256
Same issue while converting model

Loading the TF graph...
Graph Loaded.
Now finding ops in the TF graph that can be dropped for inference
Collecting all the 'Const' ops from the graph, by running it....
Done.
Now starting translation to CoreML graph.
Automatic shape interpretation succeeded for input blob img_placeholder:0
1/359: Analysing op name: add_37/y ( type:  Const )
2/359: Analysing op na

[2021-07-27 14:46] fodeguirassy commented on #316
For anyone landed here, the above suggested workaround did not work for me.
I ended up stucked in the following configuration :

- onnxmltools does not support coremltools > 3.1
- to install coremltools <= 3.1, you need python2
- onnxtmltools cannot be used with python2

See the attached screen capture for the detailed error trace

![Screenshot 2021-07-27 at 16 46 42](https://user-images.githubuse

[2021-07-30 06:15] Zhiwei35 commented on #307
@tucan9389 hi, did you solve the problem? i meet a similar question with you. plz help. thanks.

[2022-03-09 14:58] Rfank2021 commented on #246
I met a similar problem in ratelimit package, it's because ip address is treated as callable.

[2022-06-03 18:22] addisonklinke commented on #252
@aseemw FYI this link is broken because the master branch has evolved since your comment. Here is a [permalink](https://github.com/apple/coremltools/blob/e8b7655e0ef72a2a40075c6aad3453e253b94fb9/docs/APIExamples.md#printing-the-pre-processing-parameters) to the exact commit. If you could edit your comment, that might help future readers